[2018-05-30 13:19] vconzola opened #357 "Inform user when a plan no longer has an associated infrastructure mapping"
A user can delete an infrastructure mapping which has associated plans. If this happens we need to display something in the plans view informing the user that the plan's mapping is no longer available.

[2018-05-30 13:57] mturley commented on #347
I'm on this now, @serenamarie125.

[2018-05-30 14:17] vconzola commented on #271
@priley86 @AparnaKarve This one's been sitting idle for a while... I assumed all along that completed VMs from previous executions were being shown on the details page of subsequent executions, but I guess it was never explicitly stated. I also assumed that the log information would just be appended to to previous requests when a secondary request is executed. If it doesn't work that way, we can d

[2018-05-30 15:12] serenamarie125 commented on #310
@bthurber just need your blessing on this design 😄
We have agreement between Vince, Patrick & myself so far

![infrmappingexpandablelistdesign](https://user-images.githubusercontent.com/12504403/40729394-41fc9f7a-63fa-11e8-9f65-32135cc195ba.png)

[2018-05-30 18:19] mturley commented on #347
Build failures with #163 are distracting me, but I have started some code for this, so I'm leaving myself assigned. Hoping to knock both these issues out before Friday.

[2018-05-30 18:20] mturley commented on #163
#358 will fix this, and has been reviewed, but the build is failing. I'm messing with some unit tests, it'll be merged soon and then this can be closed.

[2018-05-30 19:35] serenamarie125 commented on #163
@mturley shoot i never saw that comment .  Did you confirm with @vconzola ?

[2018-05-30 20:44] mturley commented on #163
@serenamarie125 I never did, but it seemed to make the most sense to just link there. I assumed he was right and implemented it with just that simple link to that Providers page. (`/ems_cloud/show_list`).  Hmm... actually, shoot, I linked to Cloud > Providers not Infrastructure > Providers. there are three Providers pages... @vconzola can you give any more insight on what this "Configure Providers

[2018-05-30 20:46] mturley commented on #163
I'll update my PR to link to Infrastructure > Providers (`/ems_infra/show_list`). Seems like that's the right place to find RHV and VMWare.

[2018-05-31 01:07] serenamarie125 commented on #341
@AllenBW does it make sense for you to take this on?

[2018-05-31 02:19] AllenBW commented on #341
@serenamarie125 Would need joint support from API friends for this to be an sui fix... if `api/service_orders` had an attribute of type or some other way to differentiate `transformation_plan` service requests from others... SUI could filter on that, filter out transformation plans

Otherwise I would opt for the above solution by @himdel

💇 🌮

[2018-05-31 12:01] vconzola commented on #163
@mturley Compute > Infrastructure > Providers is where users can go to add providers if they don't exist, so that's where we should link.

[2018-05-31 12:37] serenamarie125 commented on #315
Looks like these are the associated API PRs:
https://github.com/ManageIQ/manageiq-schema/issues/207
https://github.com/ManageIQ/manageiq/issues/17480

According to Adam, you can run with those PRs applied locally (he doesn't expect to have to make major changes)

[2018-05-31 12:37] serenamarie125 commented on #314
Looks like these are the associated API PRs:
https://github.com/ManageIQ/manageiq-schema/issues/207
https://github.com/ManageIQ/manageiq/issues/17480

According to Adam, you can run with those PRs applied locally (he doesn't expect to have to make major changes)

[2018-05-31 12:39] serenamarie125 commented on #341
@blomquisg can you weigh in here ?  Is this API request something that we can get implemented in the near term?

[2018-05-31 12:50] himdel commented on #341
So.. I'm thinking this actually needs core support too..

API can filter on 1:1 relations, but I'm not sure filtering ServiceOrders by the `type`s in their (1:N) `service_requests` sounds likely.

(I mean, even if `?filter[]=service_requests[0].type!=ServiceTemplateTransformationRequest` worked, would that be the right thing to filter entire Service Orders on?)

We may need a type on service order

[2018-05-31 13:38] bthurber commented on #319
After further testing and review this appears to be a PEBKAC issue.  Closing this.

[2018-05-31 13:38] #319 closed

[2018-05-31 13:44] Yadnyawalkya opened #363 "Broken infra mapping button"
**Description**
`Create Infra Mapping` button seems to be broken, not able to open infra map modal.

![](https://files.gitter.im/ManageIQ/v2v/Jcwh/Screencast-from-2018-05-31-15-08-49.gif)

**Appliance**
upstream/master.20180529235621_bee8c3b

[2018-05-31 14:05] AllenBW commented on #363
👀

[2018-05-31 14:19] vconzola commented on #298
@serenamarie125 Can we close this one?

[2018-05-31 14:21] michaelkro commented on #363
I was originally seeing this exact issue after having followed this sequence this morning
1. Pulled ManageIQ and ManageIQ-Classic master
2. Ran `bin/update` in both repositories

After @AllenBW suggested reinstalling `node_modules`, I completely wiped my local installation, and rebuilt my environment from scratch, and now the issue is resolved.

Is there any way to rebuild the appliance where this

[2018-05-31 14:21] AllenBW commented on #363
So I saw this, thought it was an issue, purged and reupped node_modules.. and we're all good...

### a gif of what I seeeeeeeeee (ignore that its a g build, still on v2v master)
![asdfasdf](https://user-images.githubusercontent.com/6640236/40787766-69280ec8-64bc-11e8-9bbc-cb02e088a431.gif)

[2018-05-31 14:22] serenamarie125 commented on #298
@vconzola this is a future looking Issue - i think there was still talk about deleting in the future, isn't there ?

[2018-05-31 14:36] michaelkro opened #365 "Clicking delete icon causes listitem to expand/collapse"
Clicking the delete icon in the Overview Infra Mappings ListView causes the ListItems to expand/collapse.  This click should be isolated to the buttons and not propagate up to the containing element

[2018-05-31 14:42] vconzola commented on #345
@bthurber Alternate design for warn, but don't block. Text will be available as a popover.  Look OK?
![screen shot 2018-05-29 at 10 09 16 am](https://user-images.githubusercontent.com/22823035/40788992-5d1909a4-64bf-11e8-8e38-cbc834a7c1fd.png)

[2018-05-31 15:49] vconzola commented on #298
@serenamarie125 Oh, I didn't read closely enough. I thought this was a duplicate of deleting mappings. My B.  Not sure if we'll ever delete plans, but doesn't hurt to keep the story open in case we do.

[2018-05-31 15:52] AparnaKarve commented on #365
@michaelkro Agree with you.

Also found out that `e.stopPropagation();` seems to work to resolve this.
Will get a PR out soon.

[2018-05-31 17:04] kedark3 commented on #363
@Yadnyawalkya do we have a BZ for this ?

[2018-05-31 17:18] bthurber commented on #345
@vconzola looks good.  :)

[2018-05-31 18:39] serenamarie125 commented on #293
@blomquisg here's another one!

[2018-05-31 19:07] priley86 commented on #363
@Yadnyawalkya @kedark3 can you confirm that this fixes the issue? I don't see this on my side w/ latest code.

[2018-05-31 19:35] kedark3 commented on #363
Waiting for it to appear in nightly, not in current nightly of 30th May.

[2018-05-31 20:35] #163 closed

[2018-05-31 20:43] priley86 commented on #365
fixed in #366. closing.

[2018-05-31 20:43] #365 closed

[2018-05-31 22:20] priley86 commented on #297
merged in #356. closing

[2018-05-31 22:20] #297 closed

[2018-05-31 22:22] priley86 commented on #277
this is being redesigned/reworked currently in #310 . Closing...

[2018-05-31 22:22] #277 closed

[2018-06-01 03:51] serenamarie125 opened #368 "Add Pre & Post Playbook Support to Migration Plans - Plan Wizard Changes"
The user should be able to identify a pre and/or post Ansible Playbook as part of a migration plan.

Playbook Support Notes: https://docs.google.com/document/d/1dnb5RsMvVRRx4osTIeR6wTF9JXQwoNQNwW-pZsW65Ao/edit#

[2018-06-01 03:52] serenamarie125 commented on #368
@vconzola have you started this design work yet?

[2018-06-01 03:54] serenamarie125 opened #369 "User can schedule a migration plan"
The user should be able to schedule a migration plan, by specifying a date and time for it to be run.

[2018-06-01 03:56] serenamarie125 commented on #369
Note that there is a requirements meeting around schedule the first week of June.  Design work won't be started until we know requirements and identified use cases.

[2018-06-01 04:03] serenamarie125 opened #370 "User can cancel a migration in progress"
User can cancel a migration.  Need to finalize the requirements here:
- is cancel action only enabled/available for migrations in progress
- cancel confirmation should be shown

[2018-06-01 06:03] bthurber commented on #363
Verified in latest nightly.

[2018-06-01 06:29] mturley commented on #347
Ok @serenamarie125 I don't want to lose sleep over this now, my ManageIQ database is screwed up, restoring the backup is failing, and pgAdmin is crashing on me... so I can't run my code. Fresh setup in the morning should take care of it hopefully, and the work is almost done, but I suppose it's possible this stretch goal will not make the sprint-- I'll try and get this pushed through early tomorro

[2018-06-01 10:30] vconzola commented on #368
@serenamarie125 Had meeting with Brett and others yesterday. Starting on design today.

[2018-06-01 13:37] serenamarie125 opened #372 "Investigate how to debug QEs environment"

[2018-06-01 13:38] serenamarie125 opened #373 "Investigate nightly build issues"
investigate nightly build scripts & QE production build versus our dev build

[2018-06-01 13:42] serenamarie125 commented on #281
@bthurber we are not able to reproduce in our dev environments.  Is this a priority for sprint 9?

[2018-06-01 13:42] serenamarie125 commented on #281
@AparnaKarve is going to look into getting their database to reproduce the issue locally

[2018-06-01 13:49] priley86 commented on #257
@AparnaKarve is looking into this and will pull in the database from that environment...

[2018-06-01 13:50] serenamarie125 opened #374 "Upon retrying failed migration plans, how do we present plan details ?"
Associated with #271

When retrying a failed migration plan, how should previous VM migrations be shown ?  Should they be shown, and if so, do we need to include the completion time for the task itself?

[2018-06-01 13:50] serenamarie125 commented on #271
Closing this issue because retry now works.  Tracking the details of previously migrated VMs in https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/374

[2018-06-01 13:50] #271 closed

[2018-06-01 13:52] serenamarie125 commented on #357
@vconzola can you provide mocks asap, then we will evaluate if it can be targeted for sprint9

[2018-06-01 13:56] serenamarie125 commented on #145
We should be using the new PF React component, when ready: https://github.com/patternfly/patternfly-react/pull/363

[2018-06-01 15:50] vconzola commented on #357
@serenamarie125 I'll work on some mocks, but this should be a very low priority. It's the very corner of an edge case - somewhere back behind the sofa with the dust bunnies.  :-) The only time this can occur is if an infra mapping is deleted that's associated with a Not Started plan. We're already warning users that the plan will be "orphaned" if they delete the mapping, but we need some contingen

[2018-06-01 15:53] serenamarie125 commented on #357
perfect!  tagging as an enhancement as well then.  Can i assume to you for now for design ?  Then once you post design you can unassign?

[2018-06-01 15:58] serenamarie125 opened #375 "User views all scheduled migration plans"
need to verify here if we will show Scheduled Migrations "in it's own list" -
- we may need to say given this plan, is it scheduled
- or we may need to say give me all the scheduled plans

[2018-06-01 16:07] serenamarie125 commented on #370
@bzwei do we have existing API support for this?

[2018-06-01 16:41] serenamarie125 opened #376 "User wants to change the scheduled time of a migration plan"

[2018-06-01 16:44] serenamarie125 opened #377 "User can "unschedule" a migration plan"

[2018-06-01 16:46] vconzola commented on #357
Sure, but don't label it Sprint 9. I think playbooks and scheduling will be more than enough to keep me busy next sprint.

[2018-06-01 17:10] AllenBW opened #378 "Migration Plan Wizard import csv empty title error"
<img width="1146" alt="screen shot 2018-06-01 at 12 44 09 pm" src="https://user-images.githubusercontent.com/6640236/40853438-1269508e-659c-11e8-9454-0756a187c38e.png">

Ends up `<EmptyState.Title />` (a title sans children) makes for a warning that is very unbecoming.

[2018-06-01 17:17] AllenBW commented on #378
But yah can't yank title entirely, else spacing gets a lil wonky...

<img width="901" alt="screen shot 2018-06-01 at 1 01 45 pm" src="https://user-images.githubusercontent.com/6640236/40853951-c089a6b8-659d-11e8-9b59-3b33698aee1f.png">

[2018-06-01 20:07] #378 closed

[2018-06-01 20:41] serenamarie125 commented on #370
Brett said it was an ask for sprint 9

[2018-06-01 21:05] priley86 commented on #363
I would try re-running `bin/update` or `bin/setup` in manageiq. Unfortunately I don't know how to reproduce this here.

[2018-06-01 21:09] priley86 commented on #363
also you can try running `yarn install` in v2v

[2018-06-01 21:18] blomquisg commented on #293
I'm not sure I understand.  I read in an email thread that we don't want to support migrating already migrated VMs.

[2018-06-01 21:26] blomquisg commented on #377
See #369.

API functional requirement:  Allow the caller to specify a migration plan to remove an existing scheduled start time.

[2018-06-01 22:27] serenamarie125 opened #385 "Be more explicit regarding the format of the file to be imported in the empty state"
Re: comments in #379

Can we be more explicit regarding the format of the file?  CSV, etc ?

[2018-06-01 22:30] serenamarie125 opened #386 "Replace all message dialogs with PatternFly React message dialog"
Need to identify all instances of message dialogs used throughout the UI, to be replaced by the new PF React message dialog ❤️

[2018-06-01 22:38] mturley commented on #386
Sounds fun!

[2018-06-01 22:41] mturley commented on #385
Yeah @serenamarie125 , I think I asked at one point when nobody was listening, and I ended up just going with that text from the mockup. I would be cool with something like:

and then when you hover/click the (i) info icon, a little popover maybe that describes the format/columns required?

Maybe not an info icon at the end, it could instead be a hover over the words "CSV file", I see dotted under

[2018-06-01 22:42] mturley commented on #385
or maybe

[2018-06-01 22:43] serenamarie125 commented on #385
I’ve actually requested our content strategist to do a text review of all our screens :)   Waiting to hear back on her availability

[2018-06-01 22:44] mturley commented on #385
Cool!

[2018-06-01 22:44] mturley commented on #385
@serenamarie125 Another thing that might be useful, when you have a CSV import option, is to have an example CSV they can download as a template. Even if it's just an empty sheet with header row only, they can drop their info into it and upload. They had that on minted.com when i did my wedding guest address CSV

[2018-06-01 23:08] AparnaKarve commented on #293
@bthurber Is this still a requirement -- to discover VMs that have already been migrated?

[2018-06-01 23:56] AparnaKarve commented on #363
`bin/update` did not resolve this issue on the appliance.

[2018-06-02 04:00] mturley commented on #347
This will merge mid-Monday, i'm thinking.

[2018-06-02 08:21] bthurber commented on #293
@AparnaKarve I believe we are OK with the workaround with .csv import.  OK to close.

[2018-06-02 11:56] serenamarie125 commented on #293
Closing per Brett’s confirmation that we are good

[2018-06-02 11:56] #293 closed

[2018-06-02 12:35] serenamarie125 commented on #369
@bthurber, I'm guessing the end goal is to be able to both:
1. Schedule an existing migration plan
1. Create a migration plan and specify the date and time for it to be run

For sprint 9, is (1) sufficient?

[2018-06-02 13:00] serenamarie125 commented on #375
@blomquisg - is there an API functional requirement for this?  Or do we think "this comes for free 💸" once we have scheduled migrations

[2018-06-02 14:06] AparnaKarve commented on #363
So I have narrowed down the issue a little further and have confirmed that this PR in Classic UI - https://github.com/ManageIQ/manageiq-ui-classic/pull/3420 that was recently merged is causing issues with our wizards.

Things to note about this PR -
- This is the very first React PR in the manageiq-ui-classic repo
- It is using `"@manageiq/react-ui-components"`, which is a possible suspect for the

[2018-06-02 16:00] serenamarie125 commented on #363
yikes!  Thanks for spending so much time on this @AparnaKarve

@ohadlevy fyi

[2018-06-02 16:48] bzwei commented on #370
We don't have existing API for canceling, nor do we have backend support. It will be a feature that requires a lot of effort.

[2018-06-02 17:13] serenamarie125 commented on #370
Thanks @bzwei - FYI @bthurber if this is a need, can you chat with Greg B in priority?  Taking off our sprint9 plans

[2018-06-02 17:47] priley86 commented on #363
@AparnaKarve does pointing `@manageiq/react-ui-components` at the newer version of patternfly-react fix the issue?

It looks like we have conflicting versions again...`1.16.4`
https://github.com/ManageIQ/react-ui-components/blob/master/package.json#L103

v2v is `2.3.4`
https://github.com/ManageIQ/miq_v2v_ui_plugin/blob/master/package.json#L67

This is just a hunch. We can start PR'ing updates for

[2018-06-04 04:56] bthurber commented on #369
@serenamarie125 yes that sounds like it will meet the criteria.  The only other option I would suggest is to be able to delete a scheduled migration before it has run.

[2018-06-04 12:44] michaelkro opened #387 "Allow access to Migrations section when there are no Infrastructure Mappings"
Before we added the feature to allow deletion of infrastructure mappings, it was not possible for there to exist migrations in any state (complete, in progress, not started) if there were no saved mappings.  Thus the current implementation hides the Migrations section until an infrastructure mapping is created.

The ability to delete mappings allows for the following scenario (assuming a fresh env

[2018-06-04 14:14] blomquisg commented on #376
Would removing the start time cause the migration plan to start *now*?  Is this desired behavior?

[2018-06-04 14:17] blomquisg commented on #377
If we delete the MIQ Request, also need to dequeue the associated queue message.

[2018-06-04 14:20] agrare commented on #314
PR to manageiq-api https://github.com/ManageIQ/manageiq-api/pull/389

[2018-06-04 15:05] vconzola commented on #385
@mturley I talked about the template idea with Brett and Marco a while ago and they liked the idea. It's just a matter of getting it prioritized, I think. Wrt having a popover describing the the format of the CSV file, I didn't think Patternfly was down with field level help, but I might be wrong. @serenamarie125 can verify I'm sure. Also, just FYI, v2v finally has a writer, so if Stacy doesn't ha

[2018-06-04 15:09] vconzola commented on #387
@michaelkro Good catch. Yet another edge case to consider when mappings are deleted (see also #357), but not high priority, I think.

[2018-06-04 16:11] AllenBW opened #388 "[React Intl] Missing locale data for locale"
<img width="1041" alt="screen shot 2018-06-04 at 12 10 07 pm" src="https://user-images.githubusercontent.com/6640236/40928698-4544e468-67f0-11e8-9730-d90791e606f8.png">

When using v2v with a locale other than default (english) yah get this undesired error, *note* translations work correctly, but we shouldn't be seeing this error, its unbecoming.

[2018-06-04 17:13] mturley commented on #363
Any luck with this @michaelkro @AparnaKarve ? Let me know if I can help

[2018-06-04 21:14] AllenBW opened #389 "Table.body missing valid rowKey for Migration plan wizard"
gotta fix this other unbecoming notification

<img width="1105" alt="screen shot 2018-06-04 at 5 12 25 pm" src="https://user-images.githubusercontent.com/6640236/40941954-96ff3d24-681a-11e8-9446-24d9e39b3846.png">

[2018-06-05 12:07] michaelkro commented on #314
Also, how would we like to handle if archiving fails?  Error 🥖?

[2018-06-05 12:51] priley86 commented on #363
have been discussing this one further w/ @himdel this morning - long term fix seems to be introducing a custom loader for split dependency resolution across plugins... short term fix seems to be upgrading `@manageiq/react-ui-components` to latest pf-react...

cc: @karelhala @AparnaKarve

[2018-06-05 12:53] karelhala commented on #363
@priley86 PR to update PF to newest version is up https://github.com/ManageIQ/react-ui-components/pull/36

[2018-06-05 13:00] AllenBW commented on #389
Note, this only happens when you import via csv

[2018-06-05 16:14] AllenBW commented on #389
So we're gonna chalk this up to, if your csv is invalid/malformed, yeah, you'll get errors

[2018-06-05 16:14] #389 closed

[2018-06-05 16:14] serenamarie125 commented on #369
@vconzola please add mockups for scheduling a migration plan

[2018-06-05 16:15] serenamarie125 commented on #369
Good news @bdunne thanks for the info!  Removing needs-api message.

[2018-06-05 16:16] serenamarie125 commented on #377
@vconzola please add mockups for unscheduling a migration plan - how do we access that action & what the confirmation would be, as well as noting any notifications which should be produced.

[2018-06-05 16:18] serenamarie125 commented on #375
@vconzola please add mockups for viewing scheduled migration plans
- is there a filter for this? List View?  Column for schedule time? what would the format be?
- is there a card for scheduled migrations?  or are they lumped into "not running"

[2018-06-05 18:56] #388 closed

[2018-06-05 19:58] agrare commented on #314
API change is in

[2018-06-06 05:22] mturley commented on #347
@vconzola you mention here that the icons should be:

What about for "not started"? should we do no icon, or a fourth one? and what about for "in progress"? a spinner in the breadcrumb bar maybe? Not sure if I am forgetting any states.

[2018-06-06 11:10] vconzola commented on #347
@mturley You're correct - no icon for Not Started; spinner for In Progress. Thanks for bringing up these cases.

[2018-06-06 14:02] kedark3 opened #394 "[Test Automation Requirement] Please add an id or a name to div surrounding the Infrastructure Mappings List"
See this screen shot for proposed id and the div where it should be
![screenshot from 2018-06-06 10-01-11](https://user-images.githubusercontent.com/8180469/41042857-abe1f716-6970-11e8-8759-77c9df127697.png)

[2018-06-06 14:06] vconzola commented on #368
@michaelkro Here are the [mockups](https://docs.google.com/presentation/d/19CpXErM4mDsbLkx6ahQMpDn_i63eqb805GwM4M3Kl1Q/edit?usp=sharing), some of which I showed you earlier. There are still a few open questions, but this should be enough for you to get started. I will review with Brett and Marco and some of the other Mgmt UX designers tomorrow and will update the document with any changes.

@seren

[2018-06-06 16:41] kedark3 commented on #394
@priley86 we may need some more identifiers in here:
![screenshot from 2018-06-06 12-39-32](https://user-images.githubusercontent.com/8180469/41052432-be50eb26-6986-11e8-8fed-53307b924ef4.png)
Most of the items have only class "row-sm-4" or "col-sm-4" which makes it harder to tell which is which in automation.

[2018-06-06 17:38] vconzola commented on #369
@serenamarie125 I checked in ClodForms and they do scheduling like this:
![adding a new schedule in cfme](https://user-images.githubusercontent.com/22823035/41055188-8b74b2ac-698e-11e8-88bb-c71b02df27e7.png)
I also talked with Matt C. and the PR for the PatterFly core date/time picker that Agnes was working on will be merged very soon.  He said, "Yes, the plan is to put this into PF Core. It lever

[2018-06-06 18:07] vconzola commented on #369
@serenamarie125 I have some mockups done, but want to review them with you and team before adding here. Can we discuss in Thursday standup?

[2018-06-06 18:55] mturley commented on #353
Starting on this next.

[2018-06-06 19:41] #314 closed

[2018-06-06 19:43] michaelkro commented on #316
Closed by #367

[2018-06-06 19:43] #316 closed

[2018-06-06 19:43] michaelkro commented on #315
Closed by #367

[2018-06-06 19:43] #315 closed

[2018-06-06 19:56] #347 closed

[2018-06-06 20:06] mturley commented on #353
This one will be another one tough to test-- I can't get any plans to show up as in progress locally. I see where this is in the code though so I'll get fixing it.

But if anyone has a way of seeing that screenshot ^ in a local dev environment (actual or fake migration reporting progress bars) i'm all ears...

[2018-06-06 20:13] AllenBW commented on #353
OOOOO what about...[ pulling down the summit demo branch](https://github.com/ManageIQ/miq_v2v_ui_plugin/tree/uxd-summit-booth) bringing it up to snuff (locally) n rolling with that?

[2018-06-06 20:15] mturley commented on #353
Nice idea! I like it. Thanks @AllenBW

[2018-06-07 05:33] nding-anges commented on #369
@vconzola Hi, we will send a P.R of Date&Time Picker soon. Please find more detail about the design here: https://docs.google.com/document/d/1kVAhNzSB-szucfeGgq815dB6e214WavZ-gqRR0Sydj0/edit?usp=sharing  and let us know if you have any questions.

[2018-06-07 10:35] #363 closed

[2018-06-07 14:07] serenamarie125 opened #396 "Take screenshots of all V2V screens to be used for "copy" review"
Take screenshots of all V2V screens (including notifications and message dialogs) and put them into this drive: https://drive.google.com/drive/folders/1pqBQDtszojXJOnXHYaZ3V7QkKY0xax1d

[2018-06-07 14:09] serenamarie125 opened #397 "Provide a V2V overview to Stacy"
Set up a meeting with Stacy, provide a quick overview of V2V and walk through the captured screenshots : https://drive.google.com/drive/folders/1pqBQDtszojXJOnXHYaZ3V7QkKY0xax1d

[2018-06-07 18:01] AparnaKarve commented on #281
@agrare A while back we had addressed deduplicating Source Networks in the UI.
Back then, none of our test environments had duplicates for Target Networks.
But lately, we are seeing a few cases where the Target Networks are also duplicated.

Before we consider making changes in the UI for deduplicating Target Networks, is this something that can be fixed from the backend side?

Based on how we ded

[2018-06-07 22:06] gtanzillo commented on #341
Can I get the tl;dr on this one?

Is it that we need to be able to filter out migration requests from the SUI so that only ordered services are shown and we don't have an attribute that we can use?

[2018-06-07 23:11] AparnaKarve commented on #281
@vconzola  We were discussing earlier how the dedupe task in the Mapping Wizard Network Step is different than what @priley86 is working on here https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/395.

The difference is, the Network Step dedupes the display + does the actual mapping
whereas in @priley86 's case we just need to dedupe the display.

The mapping that happens today is many-one as show

[2018-06-07 23:19] agrare commented on #281
What is the target EMS?  The rules for when two networks with the same name are actually the same or different is not going to be the same depending on the EMS type.  I can help with the VMware rules but we'll need to sync with the ovirt team if the target is RHV.

As for a backend method to do this, we already have a `:lans` so we'd have to add a `:unique_lans` or something which seems hacky.

I'

[2018-06-08 11:51] AllenBW commented on #341
@gtanzillo **TL;DR**  yer spot on. the endpoint sui is pullin' on is `api/service_orders/` and while an order might have many requests, we have no way of knowing  if any of em is a migration request... though its unclear if you would have a migration request intermingled with other requests...  anywho yeah on that endopoint we wanta be able to filter out those things with migration requests

avail

[2018-06-08 14:48] vconzola opened #399 "Pre & Post Playbook Support - Overview Page Changes"
This issue is for changes needed to the Overview page of the UI to support pre- and post-migration playbooks.

[2018-06-08 14:50] vconzola opened #400 "Pre & Post Playbook Support - Plan Details Page Changes"
This issue is for the changes needed to the Details page to support pre- and post-migration playbooks.

[2018-06-08 15:01] vconzola commented on #369
Mockups are here: https://docs.google.com/presentation/d/1gMpkoVBzYb_L5orh_VFk3ZhwtLfl1S6fuI2whIdJVh8/edit?usp=sharing
Still a WIP, but enough to get started on development.

[2018-06-08 15:31] AllenBW commented on #375
depends on #369

[2018-06-08 16:02] AllenBW commented on #375
depends on #369

[2018-06-08 16:39] AllenBW commented on #369
just cuz i like 🖼

<img width="864" alt="screen shot 2018-06-08 at 12 36 55 pm" src="https://user-images.githubusercontent.com/6640236/41170063-e2b3b5fa-6b18-11e8-9717-402aff4fcf30.png">
<img width="865" alt="screen shot 2018-06-08 at 12 36 47 pm" src="https://user-images.githubusercontent.com/6640236/41170064-e2bfba58-6b18-11e8-9178-d0e0490c8b05.png">
<img width="867" alt="screen shot 2018-06-08

[2018-06-08 17:32] vconzola commented on #375
@serenamarie125  I don't see a way to filter the list view for a schedule column that is present vs. not present, so I was thinking we could sort on that column by date. Also, scheduled plans are lumped into the Not Started bucket.  Mockups (WIP) [here](https://docs.google.com/presentation/d/1gMpkoVBzYb_L5orh_VFk3ZhwtLfl1S6fuI2whIdJVh8/edit?usp=sharing).

[2018-06-08 20:31] vconzola commented on #400
Mockups [here](https://docs.google.com/presentation/d/19CpXErM4mDsbLkx6ahQMpDn_i63eqb805GwM4M3Kl1Q/edit?usp=sharing).

[2018-06-08 20:37] vconzola commented on #399
Mockups [here](https://docs.google.com/presentation/d/19CpXErM4mDsbLkx6ahQMpDn_i63eqb805GwM4M3Kl1Q/edit?usp=sharing).

I think the biggest part of this one will be the logic required to change between states in the status cards - pre-migration, migration, post-migration and updating the (error) counts as appropriate. There's really no new UI display change required.

[2018-06-08 20:42] #207 closed

[2018-06-08 21:34] #310 closed

[2018-06-10 18:14] serenamarie125 commented on #369
@vconzola I think we should pull Stacy in for messaging around the cancel.  It feels like this is actually canceling the plan which is migrating, when it's actually "unscheduling" it.  Maybe "remove schedule" or "unschedule" as the action button label would be more descriptive?

[2018-06-10 21:51] mturley commented on #353
Back from PTO, this is my first order of business tomorrow @vconzola.

[2018-06-10 21:53] mturley commented on #372
@vconzola mentioned that this might be a good follow up for me after #353, so just leaving this comment here as a reminder 🎗

[2018-06-10 22:05] mturley commented on #369
This all looks good so far, but I just want to throw this out there before it gets discussed from a design standpoint: If we are asked to build a calendar of upcoming migrations, I fear it will be more work than we expect. I've just been spooked by https://zachholman.com/talk/utc-is-enough-for-everyone-right 😄

I agree with @serenamarie125 about the word "cancel" maybe sounding too destructive, to

[2018-06-11 12:09] michaelkro commented on #281
@AparnaKarve, have run into a bit of a snag.  Due to this [ActiveRecord Validation](https://github.com/ManageIQ/manageiq/blob/master/app/models/transformation_mapping_item.rb#L6), it is actually not possible to create the mappings as described in your [comment above ](https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/281#issuecomment-395594344)

Any idea who I should ask about how these mapping

[2018-06-11 12:32] priley86 commented on #363
@Yadnyawalkya can you confirm it is OK to close this issue now?

[2018-06-11 12:47] priley86 opened #402 "Icons actions should be wrapped with Buttons"
When hovering the delete action for an infrastructure mapping, the cursor should change to the `pointer` style (default for Buttons). Wrapping the icon with a Button element styled as "link" style will give the correct default PatternFly behavior.

This can be seen on the "button link" samples here (far right):
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/buttons.html

[2018-06-11 14:20] AparnaKarve commented on #281
@michaelkro Good point! I was not aware of this validation at the backend. Thanks.

This brings me back to my original point, that this specific type of mapping/wiring is best handled at the backend possibly by the `TransformationMapping` model itself.

@agrare Sorry to ping you again, but what do you think?
If this can't be implemented at the backend because of portability to G, can the `uniquene

[2018-06-11 16:15] mturley opened #406 "The spinner2 icon in the Plan page breadcrumb bar (plan "in progress" state) should be an animated Spinner component and not a static icon."
Sorry @vconzola, you said we should wait for someone to complain, but it's bothering me so I guess I'm the complainer. Low-low-low priority.

I tried dropping in a `<Spinner />` instead of the `<Icon ... />` but it didn't render. Silently disappeared. So I didn't waste time on it. But the spinner2 icon is just a weird little sort of... sideways refresh button that isn't clickable? I'm not happy on

[2018-06-11 16:50] AllenBW commented on #369
@vconzola Gonna echo the above sentiments, what is the intended behavior of the cancel? To clear a migration planned in the future?

[2018-06-11 17:11] priley86 commented on #368
@vconzola these mockups look good to me!

[2018-06-11 18:02] vconzola commented on #369
@serenamarie125 @mturley @AllenBW All right! All right! I get it. "Cancel" was a crappy word choice. Stop ganging up on me.  :-)  I really don't like "unschedule" either and I think "remove" has the same problem as "cancel". But I can't think of a better alternative, so let's try "unschedule".  It's possible this will get revisited when Stacy does her text review.  Here are updated mockups.
![filt

[2018-06-11 18:05] vconzola commented on #369
@serenamarie125 Any guidance on which scheduling components we should use for the actual schedule creation - the one about to be merged into PatternFly core or the ones currently used in CloudForms? See my comment above from last week.

[2018-06-11 19:50] blomquisg commented on #281
I’m not positive if I’m reading two different issues here, or just one.  Here’s what I’m reading:

1) Target networks are displayed multiple times.

2) The mapping model does not support mapping to two separate destinations (targets) at the same time.

For the first issue this might just be something we work through the RHV integration team.  But I’m not sure why it suddenly started happening, or

[2018-06-11 19:57] michaelkro commented on #281
@blomquisg

Please correct me if I misspeak @AparnaKarve :)  This occurs when there are two `conversion hosts` on the same provider.  What we see in the UI is something like

1. RHV \ vlan33 (switch_id: 1)
2. RHV \ vlan33 (switch_id: 2)
...

The switch IDs aren't shown in the UI, but can be seen when inspecting the data.  This has actually always been the case, but was missed when originally imple

[2018-06-11 20:23] AparnaKarve commented on #281
@michaelkro From @bthurber comment here - https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/257#issue-318692586, it does appear that the Target Network duplication reason is that.

So if that is indeed the case, then could we apply some restrictions (until Hammer is released) that only 1 host can be enabled for the RHV provider with the conversion role?

[2018-06-11 20:43] bthurber commented on #281
@AparnaKarve I don't think that is desirable....especially if we are migrating hundreds of VM's.  Is there a way to filter duplicates like we do on the source provider?

[2018-06-11 20:53] AparnaKarve commented on #281
@bthurber Filtering should be possible, and we could display only one instance of the Target Network -- but the above discussion is about the actual mapping between the source and target that will happen under the hood.

Currently, the backend does not let us do this mapping discussed here https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/281#issuecomment-395594344

[2018-06-12 01:53] mturley commented on #353
For posterity: I tried rebasing the summit demo branch like Allen said, for getting my mockMode back. We collectively gave up on that (right @AllenBW ?) but he sent me a database that is useful so I will have this issue resolved shortly.

@AparnaKarve, I was told you might know something about this issue, on slack @priley86 said it was some logic he wrote for a demo that you converted. I got a bit

[2018-06-12 17:55] AllenBW commented on #369
this body results in success

[code]

[2018-06-12 18:05] AllenBW commented on #369
soooooooooooo

when posting with a body of 👇
[code]

We overwrite the contents of the service template options... looks like put and patch, while are listed as actions aren't enabled? @bdunne do yah see anything that might confirm or deny the (un)availability of these additional actions?

[2018-06-12 23:13] mturley commented on #338
I'm grabbing this alongside https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/353 because there is some blocked time on it and I want to make some contributions.

[2018-06-13 14:35] AllenBW commented on #369
Yah know... we could really use... https://github.com/patternfly/patternfly-react/issues/232  🤔 💡

[2018-06-13 19:10] AllenBW commented on #402
looks like github isn't closing... 🤦‍♀️

[2018-06-13 19:10] #402 closed

[2018-06-13 19:22] vconzola commented on #369
Hi @nding-anges - Has the P.R of Date&Time Picker been merged yet?

[2018-06-14 03:39] nding-anges commented on #369
Hi @vconzola We have just fixed one little issue and the P.R is waiting for review now. https://github.com/patternfly/patternfly-design/pull/676

[2018-06-14 15:17] priley86 commented on #369
hey @vconzola @AllenBW - some things we have to consider here. Since we don't yet have this component in PF React and there is a new design coming...here is my advice:

* there is existing jquery datepickers and timepickers in the existing design and the new design (and existing implementations for datepicker and timepicker independently). The new design for integrated datepicker/timepicker will s

[2018-06-14 15:31] AllenBW commented on #369
down with React Widget Date & Time Picker!  would be real hesitant to introduce a jquery asset... but just need the blessing that we can go our own way (for the time being) 🙇 🙏

[2018-06-14 16:56] AparnaKarve commented on #353
The `virtv2v_disks` code that adds up the disk size for all disks looks OK to me, so something else might be amiss here, and it looks like we need a DB from an appliance to be able to fix this.

@bthurber Would you be able to try this test again on the miqnightlynewui VM and let us know when the test is done? Right after your test, I can ssh into the machine and get the database locally that way w

[2018-06-14 18:23] kedark3 opened #414 "Consistent DOM rquirements for QE Automation"
![screenshot from 2018-06-14 14-18-30](https://user-images.githubusercontent.com/8180469/41430434-fcbd5ec8-6fdd-11e8-986a-a436d7b7d8fa.png)
Look at the highlighted `div` with class `infra-mapping-item-source`,
for each item in the list there, there is a div surrounding it.
![screenshot from 2018-06-14 14-19-25](https://user-images.githubusercontent.com/8180469/41430433-fc982860-6fdd-11e8-94cf-3ba8

[2018-06-14 18:45] priley86 commented on #414
Hey @kedark3 - i think this is achievable. I should be able to wrap each individual target within a div if that helps you.

Thanks for reaching out.

[2018-06-15 13:52] vconzola commented on #369
@AllenBW After discussing with @priley86 I say we go with the existing jquery assets to stay PatternFly compliant and in parallel try to get a React component developed based on the design  [here:](https://github.com/patternfly/patternfly-design/issues/459#issuecomment-394842964), the PR for which should be merged very soon. Patrick said it will take a while to implement the design in React to sta

[2018-06-15 14:21] Yadnyawalkya opened #415 "[QEDevCollab] Need ids for in-progress cards"
Hello,

Need two ids at following locations
![screenshot from 2018-06-15 19-38-17](https://user-images.githubusercontent.com/10824880/41472553-6a7c312c-70d4-11e8-8db2-2c93321972d0.png)

1. `<div id="progress-bar-items" class="col-xs-12">` to select div items

2. For fedora2 card we should have```<div id="progress-bar-item" class="card-pf card-pf-match-height in-progress" style="position: relative;

[2018-06-15 14:45] AllenBW commented on #369
Yeah! mockups for the record would be gooood to have @vconzola  🙇‍♀️

[2018-06-15 15:43] priley86 commented on #394
the original issue should now be resolved. I would suggest a new issue for any other related automation in the expansion below (since that UI was changed recently). hope this makes sense!

[2018-06-15 15:43] #394 closed

[2018-06-16 02:34] mturley commented on #353
@AparnaKarve I hope you don't mind being co-assigned here, you can remove yourself if you like. It's helpful for me to see which things have other people looking at them, I don't mean to imply any responsibility when I do that.

[2018-06-18 04:59] bthurber commented on #353
@AparnaKarve sure thing once we can get e2e working once again.  Should be within the next week.

[2018-06-18 05:37] bthurber commented on #311
@mturley confirmed this is not fixed in current 5.9.3.1 downstream build.  Need to verify commit is pushed there so we can unblock the next 5.9.3.1 build.

[2018-06-18 12:11] mturley commented on #311
Hmm. Ok. It was fixed in the nightly, though? Not sure how to check the downstream build, how can I help?

[2018-06-18 13:00] priley86 commented on #373
Going to start taking a look at this and gathering what I can...

[2018-06-18 15:15] michaelkro commented on #368
@vconzola when you have a moment, can you provide the copy for the confirm dialog?  (if a user hits next with playbook(s) selected but no VMs).  Things I need

1.  Modal Title
2.  Text Body
3.  I am assuming `warning-triangle-o` for the icon
3.  Confirm Button text
4.  I am assuming `Cancel` for secondary button text

[2018-06-18 15:23] AllenBW commented on #369
@vconzola
<img width="681" alt="screen shot 2018-06-18 at 11 17 20 am" src="https://user-images.githubusercontent.com/6640236/41545810-08943c58-72ea-11e8-8f3f-474b17fa1a13.png">
<img width="687" alt="screen shot 2018-06-18 at 11 17 12 am" src="https://user-images.githubusercontent.com/6640236/41545811-08bc5b52-72ea-11e8-83c2-26d2afdc7fa8.png">

no mockups required if this is what yah had in mind 🤔

[2018-06-18 15:29] #338 closed

[2018-06-18 15:30] serenamarie125 commented on #369
@AllenBW @vconzola  i'm checking with Jenny on the spacing ... i'll come back with some direction there in a couple!

[2018-06-18 15:36] serenamarie125 commented on #369
@AllenBW left margin should be 20px so that it lines up with the modal heading.  There should be 15 px between the date and time picker components.  @vconzola fyi i did verify that with Jenny from a PF perspective

[2018-06-18 15:37] vconzola commented on #369
@AllenBW Sorry I've been slow to respond. Trying to catch up from meetings in Westford last week. The only thing I see missing/different from the current CloudForms scheduler is a time zone selector. (See screen shot way at the top of this issue.)

[2018-06-18 17:47] JPrause commented on #257
@miq-bot add_label blocker

[2018-06-18 18:12] vconzola commented on #341
@AllenBW Any update on this? If it's not a v2v UI issue can it be closed?

[2018-06-18 18:18] AllenBW commented on #341
Ahh I have no updates, can't answer that question :-/

[2018-06-18 18:34] vconzola commented on #341
@AllenBW I don't think Bill W. is on the project anymore. Would you please follow-up with @gtanzillo and come to a resolution. Thanks.

[2018-06-18 18:44] mturley commented on #353
Thanks for the update @bthurber . If you could keep me looped in on anything new that'd be great, or if you want @AparnaKarve I can unassign myself if you want this issue to yourself :)

[2018-06-18 18:58] mturley commented on #372
@serenamarie125 is there any more information you can give me on the context around this issue? Is there a particular problem with their environment we wanted to debug, or is this just a general call for "figure out how to do remote debugging"?

[2018-06-18 19:03] serenamarie125 commented on #372
@mturley - this was added per request of @priley86 , maybe he can shed some light, or @vconzola ?

[2018-06-18 19:05] vconzola commented on #369
@AllenBW One other thing...title should be Schedule Migration Plan.

[2018-06-18 19:29] mturley commented on #399
Taking a look at this next. @vconzola do you know if the API is in progress for this, or if I should poke someone?

[2018-06-18 19:32] vconzola commented on #372
@mturley Yeah, I think we can put this one on the shelf for a bit. Good thing for you to noodle on when you've got free time, but not high priority. Part of the the larger "How do we make our process/tools better so we're not dependent on other teams problem."

[2018-06-18 19:46] vconzola commented on #399
@mturley API should be in progress. I'll try to get an update tomorrow morning in Brett's stand-up.

[2018-06-18 19:52] AllenBW commented on #369
@vconzola can we get updated mocks?

[2018-06-18 19:56] mturley commented on #399
Cool, thanks!

[2018-06-19 14:44] bthurber commented on #310
@vconzola in latest nightly I see source and target clusters, and associated plans but no network mapping info.  Do you know if design changed or this hasn't been pulled into the nightly build yet?

[2018-06-19 15:54] bthurber opened #420 "Migration plan retry successfully completes, number of VM's successful doesn't update to reflect"
When a migration plan has a failure, upon a successful retry the number of VM's successfully migrated doesn't update properly.  See attached.

![screenshot from 2018-06-19 10-49-47](https://user-images.githubusercontent.com/4692674/41608806-fb70bb12-73ae-11e8-861c-8f5d40f84e64.png)

[2018-06-19 18:06] priley86 commented on #396
Sent all screenshots to Stacy - will create additional issues after review.

[2018-06-19 18:06] #396 closed

[2018-06-19 18:06] priley86 commented on #397
Sent all screenshots to Stacy - will create additional issues after review.

[2018-06-19 18:06] #397 closed

[2018-06-19 20:01] vconzola commented on #373
Nightly build issues are being investigated by @bthurber and the QE team. No need to involve UI Dev.

[2018-06-19 20:01] #373 closed

[2018-06-19 21:04] AllenBW commented on #375
for the sake of 🖼

<img width="960" alt="screen shot 2018-06-19 at 5 04 23 pm" src="https://user-images.githubusercontent.com/6640236/41624179-d8317414-73e2-11e8-873e-b38083dfbff9.png">

[2018-06-19 21:35] vconzola commented on #368
@michaelkro Here you go. Let me know if you have any questions.
![9ddd1b-createplan-playbooks selection playbooks w_ confirmation](https://user-images.githubusercontent.com/22823035/41625526-1855463e-73e7-11e8-80eb-48b942d9e43e.png)

[2018-06-19 22:32] vconzola commented on #369
@AllenBW I've given this some thought and looked at various date/time pickers in jQuery and I like what you did above as much as any of them. So let's just use what you did but with the correct title "Schedule Migration Plan" and with the spacing specified by Serena above. We will not add a time zone selector since I think it will just add confusion. We display times in other places in the UI, whi

[2018-06-20 12:46] priley86 opened #422 "Add v2v commit hash to the UI"
Per discussion w/ @AparnaKarve - i would like to look into adding the last v2v commit hash somewhere into the MIQ UI. I think it would probably be easiest to place this in the existing "About Modal" like we do with the MIQ commit hash and add a section for "V2V Version".

![screen shot 2018-06-20 at 8 43 41 am](https://user-images.githubusercontent.com/4237045/41659112-603349f4-7466-11e8-95b7-7009

[2018-06-20 12:49] priley86 opened #423 "V2V Dev Environments"
Per discussion w/ @AparnaKarve - we will add v2v Dev environments for the `master` and `gaprindashvili` streams of MIQ in @bthurber's test lab. We should ensure that UI developers on the MIQ team can update the code (run bin/setup's and bin/update's) periodically to test their UI changes once merged. This should enable some more realistic testing of the UI / API integration sooner in the process.

[2018-06-20 12:51] priley86 opened #424 "UI/API schema checks"
In this issue, we will look at API schema validation once the JSON responses have been parsed by the UI. If schema checks fail and attributes are missing that are expected from the current UI build, we will log a schema failure to the console. This should help UI developers analyzing QE issues.

[2018-06-20 12:51] priley86 commented on #424
Going to start investigating this...

[2018-06-20 12:54] priley86 commented on #373
While we aren't reviewing the QE scripts directly, it may behove us to continue in sync w/ the appliance build scripts located here and find opportunities for logging v2v specific build configurations:
https://github.com/ManageIQ/manageiq-appliance-build

I've filed #422 , #423 , and #424 after discussing some further options yesterday around UI reliability. Beyond this, we will have to do some mo

[2018-06-20 12:56] AllenBW commented on #422
OH I LIKE THIS IDEA!!!
maybe something like...
<img width="604" alt="screen shot 2018-06-20 at 8 55 52 am" src="https://user-images.githubusercontent.com/6640236/41659625-cbe1184c-7467-11e8-96fc-dac606392925.png">

[2018-06-20 13:40] AllenBW commented on #375
@vconzola @serenamarie125 gonna repeat back a summary of this ask, looking for yay/nay for if its close to accurate

- This work is asking for a toolbar to be added to each different state of the migration plans lists.
- This toolbar will enable us to sort by each column of each list.
- Given we want to view only scheduled migrations, this toolbar will enable us to filter values of each of the lis

[2018-06-20 14:03] vconzola commented on #422
@priley86 This looks good to me. Let's bring it up in the sync meeting later today.

[2018-06-20 14:50] vconzola commented on #375
@AllenBW I was thinking the toolbar would only be for the list view states - Not Started and Completed. Also, per the notes in the mockups, "Options for the sort are Name, Infrastructure Mapping, and Scheduled Date/Time. This should at least pop scheduled plans to the top of the list." However, if it's easier to sort by each column in the lists, go for it.

Regarding viewing only scheduled migrati

[2018-06-20 14:53] priley86 commented on #422
Yes - exactly @AllenBW

[2018-06-20 14:57] AllenBW commented on #375
@vconzola thanks for the quick reply! Yep that answers my questions, enough to start movin on this :heart: 🤗

[2018-06-20 15:56] AparnaKarve commented on #422
Since the About box is a ui-classic component, we would have to review this idea with some of the ui-classic folks first.
@priley86 In case if adding the hash in the  About box box does not work out for whatever reason, could we stick the hash somewhere in the Migration page html, like you originally suggested?

[2018-06-20 16:14] AllenBW commented on #422
Good news everyone!!

I was talking to @Fryguy and he said... (👈 this is the joke part)

TL;DR - If we're gonna list one plugin, we have to list em all. About Modal is fine, but we might want to have a scrolling boxy thing.

### This is what "em all" really means
(from rails console `Vmdb::Plugins.instance.vmdb_plugins.map { |p| p.class.name }` produces this)

[code]
And we gotta list the hash of

[2018-06-20 17:19] priley86 commented on #420
I have not seen this locally - could be related to G release code @AparnaKarve @AllenBW ?

I think our upcoming issues around the dev environment and API testing will help w/ this sort of bug.

[2018-06-20 17:34] AllenBW commented on #420
Locally all my plans fail 😏 so can't say I've seen it, @bthurber that url something accessible from the vpn? 's no so much workin for me 🤔

[2018-06-20 17:40] bthurber commented on #420
@AllenBW yes works on internal VPN.  Just logged in.

[2018-06-20 17:55] vconzola commented on #310
@bthurber Not sure why you're not seeing network mappings in the mapping details. @priley86 verified that this PR has been merged. Build problem?

[2018-06-20 17:57] AllenBW commented on #420
In there now, looks to be an older version of v2v :-/

[2018-06-20 18:55] JPrause commented on #257
@AparnaKarve did you have an update on this PR.

[2018-06-20 18:59] AparnaKarve commented on #257
@JPrause I don't, atm.

We are currently waiting on a specific input from the RHV team regarding the Network deduplication.
Once @agrare hears back from them, we will have a plan on how to proceed on this.
Thanks.

[2018-06-20 20:55] AparnaKarve commented on #353
@bthurber Thank you for all your testing.

Based on your testing, it looks like this is no longer reproducible - hence closing this issue.

[2018-06-20 20:55] #353 closed

[2018-06-20 20:57] mturley commented on #353
Interesting... I wonder what the problem was. Must have been something on the backend I guess. Thanks for closing this out @AparnaKarve

[2018-06-20 21:55] vconzola commented on #353
Awesome. Thanks @AparnaKarve.

[2018-06-21 01:44] bthurber commented on #345
@vconzola checking status on this.

[2018-06-21 01:48] mturley commented on #399
I was splitting time with that API tampering tool, but now I'm focused on just this until it's done.

[2018-06-21 10:58] agrare commented on #257
@AparnaKarve I confirmed with RHV that uid_ems can be used to unique lans.

[2018-06-21 12:59] vconzola commented on #345
@bthurber There is is fix for this that was done by @AparnaKarve. It's being reviewed and the PR should be merged today. Since we don't have a good way of knowing the real amount of storage being used on the source side we ended up just removing the size information for both source and targets. It was just confusing. We can re-visit when we have a better way of knowing data consumption which, I th

[2018-06-21 14:27] AparnaKarve commented on #257
Thanks @agrare !
Since most of our discussion on this topic is in #281, I have a comment there and just need you to confirm the mapping structure https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/281#issuecomment-399122472

[2018-06-21 14:27] agrare commented on #281
Right, are you still doing the logic to dedupe the VMware networks as long as they are in the same datacenter?

[2018-06-21 14:29] AparnaKarve commented on #281
Yes, we are.
The mapping was the only TBD

[2018-06-21 14:29] agrare commented on #281
LGTM then :+1:

[2018-06-21 14:30] AparnaKarve commented on #281
Awesome, thanks! :)

[2018-06-21 15:13] priley86 commented on #257
Cool - we are using `uid_ems` to dedupe networks in the [Infra Mapping list view](https://github.com/ManageIQ/miq_v2v_ui_plugin/blob/master/app/javascript/react/screens/App/Overview/components/InfrastructureMappingsList/helpers.js#L160) as well already so it sounds like merging #404 will resolve this once and for all...

[2018-06-21 16:07] bthurber commented on #370
https://bugzilla.redhat.com/show_bug.cgi?id=1564257

[2018-06-21 16:18] mberube99 opened #428 "Enhancement - Validate selected VMs pre-migration using Insight"
Investigating how to use Insight to validate that a VM meets all the requirements before adding that VM to a migration plan.

[2018-06-21 16:19] mberube99 commented on #428
https://bugzilla.redhat.com/show_bug.cgi?id=1593837

[2018-06-21 16:27] mberube99 opened #429 "Enhancement - Ability to filter VMs from VMware folders"
When selecting VMs in a migration plan, the user would like the ability to filter VMs by VMware folder as folders are often used to group VMs related with each other.

[2018-06-21 16:27] mberube99 commented on #429
https://bugzilla.redhat.com/show_bug.cgi?id=1593839

[2018-06-21 18:06] #345 closed

[2018-06-21 18:34] priley86 commented on #414
Actually - on further review, this is working as intended. Each target will get it's own `div` with class `infra-mapping-item-target`. It may be confusing, but that is actually the full name "{data center} \ {provider name} {cluster name} \ {network name}". The network name is rendered in a separate string, but those are actually associated. In your example, that is a single target network in its

[2018-06-21 18:40] priley86 commented on #372
would you be OK w/ closing this issue @vconzola ?

I think what @mturley is proposing is fine for helping us spoof API data on our local machine. I filed a few more issues yesterday which are somewhat related and should help when we get around to them.

https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/373#issuecomment-398738270

I think once @AparnaKarve gets around to #423 we should revisit t

[2018-06-21 18:42] kedark3 commented on #414
@priley86 yes, I agree, thinking from functionality POV, there will be only one item under each `infra-mapping-item-target` so we can close this.

[2018-06-21 18:42] #414 closed

[2018-06-21 18:42] priley86 opened #430 "Consume PatternFly React eslint rules"
We are exposing a standard eslint rule plugin now from PatternFly React. It should be feasible to adopt those lint rules across v2v. This is definitely a background/code improvement task.

[2018-06-21 18:47] vconzola commented on #372
@priley86 Sure, go ahead and close it if the work is done and/or being continued in #423 and #424.

[2018-06-21 18:59] priley86 commented on #281
safe to close this issue now @AparnaKarve ?

[2018-06-21 19:30] AllenBW commented on #375
@priley86 consider it done! yeah agreeeeed it would be wise not to write yasf (yet another sort function)

@vconzola need yer 👁 on this ss 👇 about the flavor of what you were thinking?  need to ask because... we'll be removing a few pf stylings from the toolbar, backgrounds, borders, box shadows...

<img width="1321" alt="screen shot 2018-06-21 at 3 25 58 pm" src="https://user-images.githubusercon

[2018-06-21 19:44] AllenBW commented on #375
@priley86 OH oh oh wait... are we gonna add pagination to this this?

[2018-06-21 19:47] AparnaKarve commented on #281
Yes @priley86. Closing it now...

[2018-06-21 19:47] #281 closed

[2018-06-21 20:22] vconzola commented on #420
@bthurber UI dev team has been unable to reproduce this. Please verify with latest Master and G builds.

[2018-06-21 20:35] #372 closed

[2018-06-21 20:38] priley86 commented on #375
@AllenBW If we do pagination - probably want to do it across the board as a larger effort? I don't know which APIs do/don't support it so have to defer to you and @AparnaKarve . I don't think @vconzola has asked us to prioritize it yet.

[2018-06-21 20:54] AllenBW commented on #375
@priley86 everything that has an api (should) support `limit` and `offset` so for service templates, It might look a little like this:
[code]

@vconzola present mocks don't mention pagination, is that something we want to add here?

[2018-06-21 20:58] priley86 commented on #375
@AllenBW yes, just realized we did not clarify about server vs client side pagination. We did client side pagination elsewhere, but if we decide server side is possible, then by all means. It’s probably worth re-evaluating which UIs we could server side page if that is an option.

[2018-06-21 21:08] AparnaKarve commented on #375
@priley86 Agree.
Implementing Server side pagination could be an appreciable effort and would only make sense if we expect some of our lists to be really huge.

[2018-06-22 11:25] mberube99 opened #431 "Ability to limit the number of concurrent migrations (throttling)"
It should be possible to limit the number of concurrent migrations per conversion host.   Once setting up a new conversion host, a default value should be specified and the administrator should be able to increase or decrease this value.

[2018-06-22 12:34] priley86 commented on #424
going to continue moving here and try to have some things ready for test mid next week.

[2018-06-22 13:14] Fryguy opened #432 "Remove product->transformation setting"
The product-> transformation setting in settings.yml is a toggle for disabling the feature while still dev-incomplete.  On master, this is no longer the case, so we should remove this flag, as we don't keep these extra product settings for officially released features.  We can wait until backporting dies down a bit in order to avoid backport issues.

cc @himdel @martinpovolny

[2018-06-22 13:15] Fryguy commented on #432
Depends on #417 , as RBAC will be the proper way to disable the feature for users.

[2018-06-22 17:18] mberube99 opened #433 "Reduced downtime migrations (warm migrations)"
Migration plans should offer 2 migration options:

-  Cold migration :  Faster but requires downtime during the full migration process
-  Warm migration:  Slower as data is copied while the VM is running and the VM is only rebooted at the end of the migration process.

[ This feature is currently scheduled for IMS 1.2 only ]

[2018-06-22 17:25] mberube99 opened #434 "Ability to group VMs and define dependencies inside a migration plan"
When creating a migration plan, I would like the ability to define VM groups from my full list of VMs to be migrated, and define dependencies between those groups.

Example:
   Group 1 = web1, app1, db1;
   Group 2 = web2, app2, db2;
   migration rule : Group 2 only gets migrated once group 1 has been fully migrated;

[ This feature is currently schedule for IMS 1.2 only ]

[2018-06-22 18:06] priley86 commented on #422
thanks again for researching this @AllenBW

Filed a BZ for this for future sprints:
https://bugzilla.redhat.com/show_bug.cgi?id=1594348

[2018-06-22 21:20] bthurber opened #435 "Remove migration plans from Service Catalog Items"
Description of problem:
When creating migration plans in the Migration plugin, they also appear under Services > Catalogs > Catalog Items.

Version-Release number of selected component (if applicable):
5.9.3 and latest MiQ nightly

How reproducible:
Everytime

Steps to Reproduce:
1. In Migration plugin, create a migration plan
2. Navigate to Services > Catalogs > Catalog Items
3. Migration plans a

[2018-06-22 22:30] kedark3 opened #437 "All VMs don't show on Migration Plan Request Details Page"
See https://bugzilla.redhat.com/show_bug.cgi?id=1594428 for more description

[2018-06-23 21:56] kedark3 opened #438 "Data store Size is not being displayed anymore in infra mapping wizard"
https://bugzilla.redhat.com/show_bug.cgi?id=1594517
![screenshot from 2018-06-23 17-46-44](https://user-images.githubusercontent.com/8180469/41813950-c20fd5de-770e-11e8-8a04-b442202e9891.png)

[2018-06-25 12:18] AllenBW commented on #375
🤷‍♂️ gonna sound real cold here, but.....

Pagination wasn't mentioned in mock, not something to be done in this scope of work.

Just need quick 👁 on the ss above, to confirm its what @vconzola wants.  Reason for this ask is because it modifies a few in place PF designs (toolbar things).

[2018-06-25 12:51] AllenBW commented on #438
@kedark3 this was intentional :-/

https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/408#issuecomment-398825985

[2018-06-25 13:47] priley86 commented on #375
@AllenBW - i think we decided in the sprint planning meeting to defer pagination for now. The idea being - we'd like to revisit that in the future after @vconzola rearchitects some more of the Overview UI. Let's keep it simple for now ;)

[2018-06-25 15:00] michaelkro commented on #357
**Note**:  If a plan orphaned in this way will be stuck in the Not Started Plans section forever

Assuming that trying to kick off a migration plan that does not have an associated infrastructure mapping will cause an error, we'll have to at least disable the `Migrate` button.  However, kicking off a migration is the only way to move a plan from the Not Started state

[2018-06-25 19:19] priley86 commented on #437
@AparnaKarve is fixing this in #374 this sprint.

[2018-06-26 14:30] AllenBW commented on #377
closing, this is kinda a dupe of #369 will be closed by #401

[2018-06-26 14:30] #377 closed

[2018-06-26 15:09] JPrause commented on #399
@miq-bot add_label blocker
This is a blocker to: https://bugzilla.redhat.com/show_bug.cgi?id=1564250

[2018-06-26 15:09] JPrause commented on #400
@miq-bot add_label blocker
This is a blocker to: https://bugzilla.redhat.com/show_bug.cgi?id=1564250

[2018-06-26 15:10] AllenBW commented on #399
allenbot at yer service

[2018-06-26 15:10] JPrause commented on #369
@miq-bot add_label blocker
This is a blocker to: https://bugzilla.redhat.com/show_bug.cgi?id=1564255

[2018-06-26 15:13] JPrause commented on #370
@miq-bot add_label blocker
Blocker to https://bugzilla.redhat.com/show_bug.cgi?id=1564257

[2018-06-27 03:46] bthurber commented on #420
Confirmed this still exists in latest MiQ nightly build date of 6/25.
- Timer works beautifully
- Migration details page updates correctly
- Migration  over page doesn't update
- On success retry still have 0 of 2 VMs successfully migrated
![screenshot from 2018-06-26 22-45-40](https://user-images.githubusercontent.com/4692674/41951869-b241201e-7992-11e8-9339-42a872c1ea38.png)

[2018-06-27 12:34] priley86 commented on #420
Can't exactly reproduce this w/o your database, but inspecting your environment, it seems that the plan's id is not matching the request's `source_id` (humble guess w/o a debugger).

If you can provide a database export, we can take a look...

[2018-06-27 12:49] bthurber commented on #420
@priley86 you can access my appliance here:  https://miqnightly65.v2v.bos.redhat.com/
Standard creds.  Feel free to export anything you need there.
Thanks!

[2018-06-27 13:37] priley86 commented on #420
yep - this ended up being enough (I can view the source now). The issue is - our current logic is not projecting the most recent status (and is instead using the existing status). I think I can get a quick fix for this... will cc: @AparnaKarve

[2018-06-27 14:24] mberube99 opened #445 "Make cards on the top of Migration page clickable"
In the overview page, cards should be clickable to filter based on the card selected.

[2018-06-27 15:39] #420 closed

[2018-06-28 10:16] Yadnyawalkya opened #447 "vm name with punycode international characters fails while migration"
**Description of problem**
This is extended version of BZ1588555, I tried to migrate vm with vmname `ytale-v2v-ubuntu-nfs-punycode-джум-ññ` and it failed to migrate.

![screenshot from 2018-06-28 15-42-07](https://user-images.githubusercontent.com/10824880/42028628-631daa94-7aea-11e8-964b-3b9ea875fa1a.png)

**Version-Release**
master.20180625230012_9b5c751

**How reproducible**
100%

**Steps to Re

[2018-06-28 14:28] AllenBW opened #448 "Description of migration plan should be wrapped, not float over VM Count"
https://bugzilla.redhat.com/show_bug.cgi?id=1596286

![screenshot from 2018-06-28 10-14-37 1](https://user-images.githubusercontent.com/6640236/42040571-f4d88314-7abd-11e8-822b-76e5aee80f5c.png)

😭 🌮

[2018-06-28 14:39] AllenBW commented on #448
<img width="803" alt="screen shot 2018-06-28 at 10 39 03 am" src="https://user-images.githubusercontent.com/6640236/42041247-8353f906-7abf-11e8-83b8-0ced4e8d7e82.png">
OH YAHHHH

[2018-06-28 15:06] priley86 commented on #448
Cool - we have a component for this...`EllipsisWithTooltip`... thanks for reporting!

[2018-06-28 15:08] priley86 commented on #435
is this a backend issue? Or do we need to specify some additional attribute? Forgot to ask about this yesterday...

[2018-06-28 15:11] priley86 commented on #447
I don't know that this is a UI issue. Are you experiencing issues w/ the migration itself? What is the expected behavior @bthurber ?

[2018-06-28 15:15] AllenBW commented on #448
yah I added it 😆

[2018-06-28 15:51] Yadnyawalkya commented on #447
FYI @priley86 there was UI issue for it before https://bugzilla.redhat.com/show_bug.cgi?id=1588555

[2018-06-28 16:21] bthurber commented on #447
@priley86 investigating.....logs indicate it may on the virt-v2v or RHV side.  Will advise.

[2018-06-28 18:52] priley86 commented on #374
heads up - per @bthurber this fix should also be targeted for 5.9.4.

[2018-06-28 19:06] priley86 commented on #447
Closing this (not a UI issue) - noted as RHEV issue.

[2018-06-28 19:06] #447 closed

[2018-06-28 19:14] #448 closed

[2018-06-28 19:17] priley86 opened #451 "Duplicate Plan Names"
I know the term "duplicate" is starting to make us shriek...

Per our last email on this subject - we would like to use the UI to work around the duplicate plan name issue in the short term by simply checking the service template (plans) in memory (loaded from Overview) and passing them into the Plan Wizard (to allow checking for duplicates). This is a short term fix - the long term fix is obvious

[2018-06-28 19:18] priley86 commented on #451
Adding this to Sprint 10.

[2018-06-28 19:48] AllenBW opened #452 "Viewing archived plans blows up when mostRecentRequests is undefined 😭"
![wompwomp](https://user-images.githubusercontent.com/6640236/42057187-8d69bcd4-7aea-11e8-9ba1-3e4b38cd2592.gif)

[2018-06-28 20:02] priley86 commented on #452
💣 💥

[2018-06-28 20:19] AllenBW commented on #435
@ManageIQ/core hi friends 👋 yer friendly neighborhood v2v ui team needs help here pretty please

[2018-06-28 20:19] AllenBW commented on #341
@ManageIQ/core hi friends 👋 yer friendly neighborhood v2v ui team needs help here pretty please

[2018-06-28 21:11] gmcculloug commented on #435
This is being tracked here: https://bugzilla.redhat.com/show_bug.cgi?id=1594408

I have talked to @dclarizio about it yesterday and I think we just need to filter out the Migration plans when requesting the list of Service Template objects.  This is the first Service Template sub-class that we want to remove.

Waiting for @h-kataria to return from PTO next week so we can address.

[2018-06-28 21:32] AllenBW commented on #435
Thanks for the update on this @gmcculloug 🙇‍♀️ 🍭 🤗

[2018-06-29 12:49] #452 closed

[2018-06-29 14:19] AllenBW commented on #437
@JPrause a dupe of which bz?

[2018-06-29 14:33] JPrause commented on #437
@AllenBW see @priley86 comment above.

[2018-06-29 14:39] AllenBW commented on #437
@JPrause yah, not seeing another bz # 🤷‍♂️

[2018-06-29 15:44] Yadnyawalkya opened #455 "Network selection only allow one selection if you add two vCenters to v2v infra map"
**Description**
Let say, you have to added two vcenter to one infra map.
You can select two clusters, two datastores but only one network.
(Please note network selection is also cluster dependent, same as datastore selection)

**Select VM network from cluster1 and then VM network from cluster2 disappear**
![select VM network from cluster1 and then after that VM network from cluster2 disappear](htt

[2018-06-29 17:54] bzwei commented on #341
Do we really have to hide migration requests under SUI my order? Service order (aka shopping cart) is a concept in SUI. Classic-ui does not have shopping cart. For every request created in classic-ui we automatically create a service order, but it is visible under SUI my order. Shouldn't we hide them too?

Soon we will support pre/post Ansible playbook in v2v. They will appear under SUI my orders

[2018-07-02 13:23] priley86 commented on #451
Looks like it's still up for grabs... going to grab this one next 🤹‍♂️

[2018-07-02 13:48] priley86 commented on #455
it seems that we are saying that a {provider}{cluster}{uid_ems} combination uniquely identifies a network instead of just the {uid_ems}. If that is the case, then we probably need to update the logic in both the mapping wizard and the infrastructure mapping list... but it would be nice confirm this before we do that.

[2018-07-02 14:48] AparnaKarve commented on #455
@Yadnyawalkya Are you expecting to see identical Networks for cluster1 and cluster2?
Is that the issue?

[2018-07-02 15:41] Yadnyawalkya commented on #455
Updated issue with GIF which explains the issue. @priley86 @AparnaKarve

[2018-07-02 17:45] AparnaKarve commented on #455
@priley86 @michaelkro From the above GIF, it looks like `cluster1` and `cluster2` each have a network by the name `VM Network`

When a mapping is added using `cluster1\VM Network`, it is removed from the Source Networks list of `cluster1`, which is expected.
But the issue is, it is also removed from the Source Networks list of `cluster2`

I have @Yadnyawalkya 's appliance DB with me locally. Let m

[2018-07-02 20:37] vconzola commented on #370
UX mockups are [here:](https://docs.google.com/presentation/d/1fVPR7RT4xC-89VLBVIYM48EIuWcOna3WqUc-em6UwMs/edit?usp=sharing)

[2018-07-03 11:28] michaelkro opened #463 "Display error/notification if fetching playbooks fails"
Plan Wizard - Advanced Options Step (step 3), we need to handle any errors when fetching playbooks

[2018-07-03 11:57] JPrause commented on #400
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 11:57] JPrause commented on #399
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 11:59] JPrause commented on #369
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 12:00] JPrause commented on #370
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 12:00] JPrause commented on #341
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 12:03] JPrause commented on #257
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 12:09] JPrause commented on #437
Any update on this PR. We have an upcoming build on July 10

[2018-07-03 12:12] priley86 commented on #257
I believe this issue can be closed now. We are using the `uid_ems` to uniquely identify lans now, however to fully qualify this, we should also include the provider & cluster when uniquely identifying. If these aren't included, we risk a small edge case mentioned in [#455](https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/455). I'm looking at this currently.

[2018-07-03 12:12] #257 closed

[2018-07-03 12:21] AllenBW commented on #369
#375 is the pr for this issue, has the latest info, presently blocked by api work (detailed in pr) @JPrause

[2018-07-03 12:52] martinpovolny commented on #341
I suggest that you provide some simple solution for the July 10 release and then work on a systematic fix for the Hammer release.

[2018-07-03 13:37] AllenBW opened #464 "test issue for giggles"

[2018-07-03 13:37] vconzola opened #465 "Add "All fields are optional" label to the Advanced Options step of the Create Migration Plan Wizard"
For PatternFly compliance.

[2018-07-03 13:39] #464 closed

[2018-07-03 13:43] michaelkro opened #466 "Update Plan Wizard Final Step Error State"
Currently, if there is a problem with plan creation, the final step of the Plan Wizard shows an error screen

<img width="1920" alt="fullscreen_7_3_18__9_38_am" src="https://user-images.githubusercontent.com/15141412/42223078-e587a77e-7ea4-11e8-8a5b-de90a0a7fe1d.png">

However, the `retry` button does not do anything.  We'd like to update this screen to

1. Replace the generic error messaging with

[2018-07-03 14:20] JPrause commented on #341
@martinpovolny just to be clear,..the July 10 date is not the release date, only the 1st dev complete and build. There will be a second build and then a final build.

[2018-07-03 14:44] AparnaKarve commented on #437
@JPrause Work is in progress, a PR should be out soon, sometime this week.

[2018-07-03 15:34] AllenBW commented on #424
Pr merged, we can now close this (remember to use yer github hooks 😏 )

[2018-07-03 15:34] #424 closed

[2018-07-03 15:53] priley86 commented on #424
thanks - yea... i will probably open up some more issues as I have time to work on adding more validation, but I'm fine w/ closing this initial issue now!

[2018-07-03 16:05] AllenBW commented on #424
Future issue, can be schema *enhancement* 😏 😋

[2018-07-03 17:19] priley86 commented on #370
Preliminary API spec for cancel from Fabien is here:
https://gist.github.com/fdupont-redhat/197fb71adf48482974b794a8a261de34

We can start prototyping this next...

[2018-07-03 17:46] vconzola commented on #399
@JPrause PR for the Overview UI changes should be up today, but still waiting on backend support for all of the playbook related issues.

[2018-07-05 07:18] nding-anges commented on #369
@vconzola Hi， the P.R of Date&Time Picker been merged. https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/date-and-time.html#!

[2018-07-05 13:27] kedark3 opened #469 "Progress bar for Retried migration is not updating"
https://bugzilla.redhat.com/show_bug.cgi?id=1596732

@AparnaKarve this is created as Brett requested me to.

[2018-07-06 17:45] #455 closed

[2018-07-06 17:50] kedark3 opened #471 "Cannot create Migration Plan"
https://bugzilla.redhat.com/show_bug.cgi?id=1598881
![screenshot from 2018-07-06 13-45-18](https://user-images.githubusercontent.com/8180469/42393192-9577d098-8123-11e8-8f04-5b7afc09afe1.png)

[2018-07-06 18:02] AparnaKarve commented on #471
@lfu @bzwei This PR https://github.com/ManageIQ/manageiq/pull/17627 seems to be causing the above breakage. Can you please take a look? Thanks.

[2018-07-09 04:34] mturley commented on #399
@vconzola just wrapping up my weekend catch-up time, I left a few notes on what is left for this issue in my PR #467. Really, I think I'm done so I'm going to move on, but I need to coordinate with @michaelkro to combine with his PR, and we may need one more revision when we test with real APIs.

I'm moving onto the next issue now (so, Monday morning). Was my plan for Friday afternoon originally,

[2018-07-09 05:09] mturley commented on #370
Starting on this while I wait for review on #467 to wrap up #399 .

[2018-07-09 14:25] priley86 opened #473 "Network validation: Remove selected bypasses Create validation"
Just noting this since I saw it last week and it existed prior to my changes to the Network mapping logic. If a user adds network mappings, then removes them all individually (using the "Remove Selected" button), we currently allow them to move forward without a network mapping (the Create button is still enabled).
<img width="900" alt="screen shot 2018-07-09 at 10 21 13 am" src="https://user-imag

[2018-07-09 19:24] vconzola commented on #437
Duplicate of #374.

[2018-07-09 19:24] #437 closed

[2018-07-09 19:45] vconzola commented on #248
@priley86 Can you confirm that this was fixed in another issue you just worked on?

[2018-07-09 19:47] vconzola commented on #251
Related to #189

[2018-07-09 20:05] priley86 commented on #248
I'm not 100% sure given this one is a little old now. I will ask QE if they can recreate it still, and if so, try to fix...

[2018-07-09 20:10] agrare commented on #451
@priley86 backend support for name uniqueness validation within a tenant was merged https://github.com/ManageIQ/manageiq/pull/17677

[2018-07-09 20:46] vconzola commented on #387
@michaelkro I'm guessing what's happening is that the UI logic says to display the mappings empty state anytime there are no mappings. For now, let's change the logic for the mappings empty state so that it is displayed when there are (no mappings AND no plans). If at least one plan exists then we'll need to display a different empty state similar to the empty state for plans that's displayed when

[2018-07-09 20:53] #471 closed

[2018-07-09 22:41] priley86 commented on #466
I noted when fixing #451 that the backend will now return a specific error message when the plan name is existing. Do we want to show a specific error message for this or leave it generic?

Here's what that response looks like:
[code]

[2018-07-09 22:45] priley86 opened #475 "Create Plans empty state / archived plans"
I noted recently in #451 that while Overview screen is showing, and only Archived Plans exist, we show the "Create Migration Plan" empty state button (w/o the Archived Plans filter available). We should probably instead show the empty states for Not Started / In Progress/ Completed plans and the list of Archived plans instead. *Note*: this involves waiting for load of Archived plans in Overview to

[2018-07-10 11:18] vconzola commented on #475
@priley86 I don't see anything about this in #451. Please add a screenshot.

[2018-07-10 12:00] priley86 commented on #475
@vconzola - this is an unrelated bug I stumbled upon while working that one...the issue is - the user is unable to access Archived Plans when no Not Started/In Progress/Completed plans exist (for some reason we are showing the initial empty state in that scenario). I think this should be changed.

[2018-07-10 13:49] Yadnyawalkya opened #477 "Migration fails with vm not found error if vm have special character in it"
**Description**
Tried migration of vm ```_!@#$%^&*()+)=-,./,';'[][]\]\]\]\``~~```. It is successfully migrated datastore initially and then failed with Refresh inventory error.

**Version-Release number**
rhvm version - 4.2.4.5-0.1.el7_3
vcenter version - 6.5.0.13000
cfme - 5.9.3.4.20180702181921_afd03d7

**How reproducible**
100%

**Investigation**
a. original vm_name (pre-migration)
_!@#$%^&*()+

[2018-07-10 14:13] Yadnyawalkya opened #478 "V2V should differentiate whether logs are moved or not generated"
**Description**
This is more of usability enhancement. V2V should differentiate whether logs are moved or not generated.
Sometime failed migration do not generate logs but while 'clicking on download logs' of details page error screen shows 'The location of transformation log was not set. Download of transformation log aborted'. This is somehow confusing since 'transformation log location is set'.

[2018-07-10 15:45] kedark3 commented on #248
@priley86 @istein1 in the latest miq nightly I am able to see something like this:
![image](https://user-images.githubusercontent.com/8180469/42521378-b0e85e36-8436-11e8-94e7-15ca6bc8597a.png)

So I believe this issue is resolved.

[2018-07-10 16:43] #451 closed

[2018-07-10 17:20] vconzola commented on #189
@bthurber This one's been sitting in our backlog for a while. Any idea if any work has been done on the backend to identify which clusters have configured migration hosts? If you're not sure we can discuss in our sync meeting tomorrow.

[2018-07-10 17:33] priley86 commented on #248
Thanks for confirming this @kedark3 (I think this issue was just dated). I will close this for now, but please reopen if you find that to be incorrect.

[2018-07-10 17:33] #248 closed

[2018-07-10 18:15] priley86 commented on #477
@bthurber - can you provide some guidance on what we the UI team should do w/ this issue?

[2018-07-10 18:20] AparnaKarve commented on #469
@kedark3 #468 is now merged.
Can you verify it with the latest nightly? Thanks.

[2018-07-10 18:43] bthurber opened #481 "Migration from CSV file fails the second time"
Steps to Reproduce:
1. Migrate a VM using the list option (to select from discovered VM's).
2. Migrate the same VM using CSV file, with content:
Name
<vm_name>
..
3. Try step 2 again.

Actual results:
Error.

![selection of vm from csv](https://user-images.githubusercontent.com/4692674/42530588-38c2d9fc-8447-11e8-9935-bf13ef660cef.png)

[2018-07-10 18:44] bthurber commented on #481
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1597977

[2018-07-10 18:47] bthurber commented on #477
@Fryguy is this a CouldForms limitation?  @AparnaKarve any thoughts on this for where the limit exists?

[2018-07-10 18:50] priley86 commented on #432
it looks like [417](https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/417) has been merged. Can you describe any additional work here @Fryguy ?

[2018-07-10 18:53] bthurber commented on #189
@vconzola we are tracking in a Trello card on our board for this sprint.  It has a link to meeting notes I would recommend reviewing.  We can discuss tomorrow as well.

[2018-07-10 18:56] priley86 commented on #242
Closing this - it is not a pressing concern and the design is already planned to change.

[2018-07-10 18:56] #242 closed

[2018-07-10 19:13] priley86 commented on #127
This is working per the current UX guidelines. Closing this issue for now.

[2018-07-10 19:13] #127 closed

[2018-07-10 19:13] AllenBW commented on #20
@priley86 I'm fine with closing this.... likely couldn't be done till the repo rename anyways

[2018-07-10 19:17] bthurber commented on #189
@vconzola https://bugzilla.redhat.com/show_bug.cgi?id=1571778

[2018-07-10 19:35] bthurber opened #482 "RFE - ability to edit an existing migration plan to prevent orphaning"
To prevent orphaning a migration plan, I would like the ability to edit the plan to select a new infrastructure mapping.  Today if an infrastructure mapping is deleted that is associated to a migration plan the plan will become orphaned.

[2018-07-10 19:36] bthurber commented on #482
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1599868

[2018-07-10 20:16] #20 closed

[2018-07-11 15:04] bzwei commented on #481
@priley86 see my comment in the BZ. May not be a bug.

[2018-07-11 15:48] priley86 opened #483 "Code Improvement: Base Sorting/Paging functionality for Tables"
We now have some common tables in the codebase. Let's start thinking about base functionality and how to make it easier to share / extend the PatternFly React table. I am thinking it will make sense to prototype this here in v2v first and then contribute it upstream to PF React after.

[2018-07-11 15:56] kedark3 opened #484 "When deleting a provider with associated Migration Plan or Infrastructure mapping, the plan and mappings should also be deleted"
https://bugzilla.redhat.com/show_bug.cgi?id=1596377
If we do not delete infra mappings, as shown in the screenshot below, we see a mapping with 0 Clusters/Networks/Datastores.
![screenshot from 2018-07-11 11-55-16](https://user-images.githubusercontent.com/8180469/42584501-4fd6e8c6-8501-11e8-90d3-b84164821b38.png)

**update 8/7**: the infrastructure mappings /provider deletion is handled by this f

[2018-07-11 16:37] priley86 commented on #484
It’s fine if you want to place the issue here, but I don’t think is a UI change in v2v repo.

[2018-07-11 16:49] kedark3 commented on #484
@bthurber I think I placed it in wrong repo?

[2018-07-11 17:28] kedark3 opened #485 "Clock on Dashboard and Migration Request details page not Synchronized"
https://bugzilla.redhat.com/show_bug.cgi?id=1600214
@mturley  I believe this is related to your PR : https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/418

[2018-07-11 17:40] kedark3 commented on #469
@AparnaKarve UPDATE1: In the latest nightly of 10th July, I failed 2 different migrations and retired, and saw that the progress bar did work. Now going to try combination of one failed and one succeeded migration and retry that.
Will post UPDATE2 in some time.

[2018-07-11 18:40] michaelkro commented on #400
https://github.com/ManageIQ/manageiq-content/pull/355

[2018-07-11 18:40] michaelkro commented on #399
https://github.com/ManageIQ/manageiq-content/pull/355

[2018-07-11 18:46] AparnaKarve commented on #485
@kedark3 I would say what you are seeing is an expected behavior since clock on Dashboard(or the Overview page) is for the `Request`, while clock on the details page is for the `Tasks`.

The `Tasks` come into picture only after the `Request` is kicked off (ordered), and approved.
So the Tasks clock is expected to lag by a couple seconds behind the Request clock.

[2018-07-11 18:54] kedark3 commented on #469
For the MIQ Nightly built on July 10th, I ran one plan, which had 3 VMs, 1 Success, 2 Failed. Then retried the Plan. All VMs migrated correctly and all information on Migration Dashboard and details page is correct.
![screenshot from 2018-07-11 14-50-33](https://user-images.githubusercontent.com/8180469/42593402-4c1c74d0-851a-11e8-9f27-0787148e4ae0.png)

[2018-07-11 19:04] AparnaKarve commented on #469
@kedark3 Thank you very much for the detailed testing. Really appreciated!

Based on your positive testing results, I am going to go ahead and close this issue.
Thanks.

[2018-07-11 19:04] #469 closed

[2018-07-11 20:30] Fryguy commented on #422
@AllenBW This should not be closed...#436 only implemented part of the proposal, and did so in a way that didn't handle any of the caveats mentioned in https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/422#issuecomment-398808617

[2018-07-11 20:37] AllenBW commented on #422
@Fryguy githooks at work 😏

[2018-07-11 20:55] priley86 commented on #469
Nice job @kedark3 & @AparnaKarve 👏

[2018-07-11 21:57] #255 closed

[2018-07-12 14:44] #369 closed

[2018-07-12 16:35] bthurber commented on #310
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1600635

[2018-07-13 18:37] priley86 commented on #475
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1600902

[2018-07-13 18:54] bthurber commented on #475
Fixes  https://bugzilla.redhat.com/show_bug.cgi?id=1600902

[2018-07-13 19:14] mturley commented on #370
My PR for this will go out today. I dropped the ball on finishing #399 this sprint because it needs another API call. But this I can have done today.

[2018-07-13 20:19] #475 closed

[2018-07-13 23:38] mturley commented on #370
@JPrause sorry for the delay. The backend PR for this issue is now merged. The frontend PR will be up shortly and merged early next week.

[2018-07-16 12:42] himdel commented on #341
So, I kinda agree with Bill here - the SUI has no nice way of filtering now, and that screen was never limited to shopping cart orders anyway.

So, can the short term solution be: "yes, just expect migrations in My Orders"?

For the long-term solution, we need ServiceOrder to have type.

[2018-07-16 12:47] himdel commented on #432
@priley86 The remaining work is just removing these:

[code]

and

[code]

[2018-07-16 13:10] bzwei commented on #370
@mturley please use this API call https://github.com/ManageIQ/manageiq-api/pull/421

[2018-07-16 14:03] #432 closed

[2018-07-16 15:35] bthurber commented on #481
@bzwei @priley86 @AparnaKarve can the team review and advise on the issue?  If it's not a bug is this behavior as expected or is this user error?

[2018-07-16 15:51] priley86 commented on #481
My guess is we can show a more detailed error message as an enhancement? It does seem to be a user error that's unintended.

@bzwei can you confirm that the backend does not intend to change the response to the UI in these scenarios? I think that the UI should reflect accordingly. Do you have a suggestion w/ regards to what error messaging we should display?

[2018-07-16 18:39] mturley commented on #370
Sounds good, thanks @bzwei. This is my top priority today

[2018-07-16 18:55] AparnaKarve commented on #481
Minutes ago, @kedark3 and I were discussing a related issue brought up by someone in the rhv team...

They had 2 source networks with id's `2` and `3` mapped to a target network id `14`.
A closer look at all the available LANS revealed that the target network `14` was missing.

An Infrastructure Mapping with missing infrastructure resources (clusters, datastores, networks), like in the above case,

[2018-07-16 19:13] bzwei commented on #481
@fdupont-redhat
The log quoted in the BZ
[code]
The nil object is actually the [source_obj](https://github.com/ManageIQ/manageiq-automation_engine/blob/master/lib/miq_automation_engine/service_models/miq_ae_service_service_template_transformation_plan_task.rb#L10). Please investigate how it can happen, specially at the second attempt to migrate.

[2018-07-16 20:07] mturley commented on #485
@kedark3 , I agree with @AparnaKarve, I think this one is behaving as expected. So maybe not a bug, but a design improvement-- can we improve the perception that these are supposed to be the same clock?

[2018-07-16 20:12] mturley commented on #385
@vconzola looping back on this, since it's low priority but I didn't want to lose track of it. I think the problem with field level help for the file format is, that might be a bit of a small space to effectively describe in enough detail what is needed. It would have to be something like "A CSV file with columns for x, y z", but that doesn't explain if there needs to be a header row, or whether t

[2018-07-16 21:53] kedark3 commented on #485
@mturley yes, we may improve the design somehow. For instance, when I look at the clock on Migration In progress card, I assume that it would show me time = max(time elapsed for vm1,time elapsed for vm2,... so on)
Does it make sense?

[2018-07-16 21:58] kedark3 commented on #481
I would like to say that this is not CSV issue, I made sure of testing this again and I could get my migration to work correctly and successfully.

[2018-07-16 23:08] #375 closed

[2018-07-17 02:57] bthurber commented on #481
@kedark3 positive it is not a .csv issue.  I renamed the BZ to reflect the problem more accurately.  This issue can be closed as the problem was realted to the environment and method of cleaning it.

[2018-07-17 02:57] #481 closed

[2018-07-17 13:42] kedark3 opened #495 "Schedule migration does not kick off migration even after time it is set to run is past"
https://bugzilla.redhat.com/show_bug.cgi?id=1601930

[2018-07-17 14:38] vconzola commented on #385
@mturley I don't want to put examples in the UI that would require a code change if the format changes. i prefer to put a reference to the documentation where this can be spelled out in detail.

[2018-07-17 14:40] AllenBW commented on #495
cc @bdunne

[2018-07-17 15:26] AllenBW commented on #495
https://github.com/ManageIQ/manageiq/pull/17717 is the fix @kedark3

[2018-07-17 15:56] AllenBW commented on #495
Well the pr was merged, but I haven't been able to verify the fix locally yet :-/

[2018-07-17 16:11] AllenBW commented on #495
running full server, `rake evm:start` shows that this is indeed fixed.

[2018-07-17 16:11] #495 closed

[2018-07-17 18:34] priley86 commented on #463
Related issue - what should we show if the playbooks fail to load in Overview? We'd not be able to show the playbook names in the In Progress cards for pre/post playbooks running.

[2018-07-17 18:39] vconzola commented on #463
Error reporting should be handled by CloudForms.

[2018-07-17 18:39] #463 closed

[2018-07-17 18:41] vconzola commented on #189
@bthurber Is this something we need for GA?

[2018-07-17 19:35] vconzola commented on #485
@kedark3 Yes, @AparnaKarve and @mturley are correct. The elapsed times for the plan and individual migrations are offset because they reflect different things. This is as designed and will likely only be noticed when a plan includes only one VM. Changing either of them to make them appear consistent would require a fairly large logic change in the UI and would not longer reflect the reality of the

[2018-07-17 20:35] vconzola opened #496 "Add infrastructure mapping to migration plan list views"
For Not Started, Completed, and Archived migration plans the plan's associated infrastructure mapping should be shown in the list view.

![filter is not started - w schedule](https://user-images.githubusercontent.com/22823035/42842516-6988312e-89db-11e8-8d34-6d2367478375.png)
![overview - w all copy 4 filter is completed w archive _2](https://user-images.githubusercontent.com/22823035/42843859-528

[2018-07-17 20:38] vconzola commented on #357
This one depends on infrastructure mappings being added to the migration plan list view, #496.

[2018-07-18 03:44] bthurber commented on #189
@vconzola nice to have for GA.  If not possible in time then will push to 5.9.5 or 5.10.

[2018-07-18 14:01] kedark3 opened #498 "Calendar/Clock selection box needs to remain cleaner on browser resize"
https://bugzilla.redhat.com/show_bug.cgi?id=1602792
![screenshot from 2018-07-18 09-54-28](https://user-images.githubusercontent.com/8180469/42886420-856af34a-8a71-11e8-86b1-1f121ac96835.png)

[2018-07-18 14:10] kedark3 opened #499 "V2V Migration UI becomes unusable on provider add-remove-add"
https://bugzilla.redhat.com/show_bug.cgi?id=1602796
![screenshot from 2018-07-18 10-09-52](https://user-images.githubusercontent.com/8180469/42886942-cfe63834-8a72-11e8-8bb8-8f832a7c923b.png)

[2018-07-18 14:11] AllenBW commented on #498
This isn't something we control, 's patternfly styling thing, I might be able to hunt it down and fix it up eventually, but gonna hit this with lowest of low priorities..

(alternatively yah might want to open a pr here: https://github.com/patternfly/patternfly)

Oh yeah to see it "broken" at the source...
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/date-and-time.html#

[2018-07-18 15:11] priley86 commented on #499
thanks @kedark3 - i will start working on a fix today.

[2018-07-18 15:20] priley86 commented on #498
Ya, I agree. Would be nice to file an upstream issue in PF about this. Thanks @AllenBW.

[2018-07-18 19:25] kedark3 opened #501 "[Urgently needed for Test Automation] Need "ID" or some differentiating attribute for Migrate and Schedule Buttons"
![image](https://user-images.githubusercontent.com/8180469/42903087-abf2b052-8a9e-11e8-8458-5912b40aa15b.png)
Please add some kind of "ID" or other attribute that can uniquely identify the Migrate and Schedule buttons shown in picture above.

[2018-07-18 21:44] #501 closed

[2018-07-19 16:00] priley86 opened #504 "Infra mapping list view / plan list view design"
Revisit designs related to list view content / flexed content / custom styled content. We will likely need a PF Designer to weigh in and give more targeted feedback. The list view designs often become more complex and require custom styling if there is more content than PatternFly expects.

Noted initially in #500

[2018-07-19 18:21] vconzola opened #505 "OSP Support: Changes to Infra Mapping Wizard - Step 1"
Change step label names to be action oriented

Add Target Provider selection

![4a-createmapping-general](https://user-images.githubusercontent.com/22823035/42962193-080f4fe2-8b5f-11e8-9527-4c272f6abfe6.png)

[2018-07-19 18:22] vconzola opened #506 "OSP Support: Changes to Infra Mapping Wizard - Step 2"
![4aa-createmapping-clusters_2](https://user-images.githubusercontent.com/22823035/42962246-24f7ddc2-8b5f-11e8-8645-8d59bc091da6.png)

[2018-07-19 18:23] vconzola opened #507 "OSP Support: Changes to Infra Mapping Wizard - Step 3"
Clearer instructional text

![5a-createmapping-datastores_2](https://user-images.githubusercontent.com/22823035/42962269-3434de02-8b5f-11e8-9109-6a56850f3a11.png)

For storage mapping for OSP, map VMWare datastores to OSP volume types

![5b-createmapping-datastores_2](https://user-images.githubusercontent.com/22823035/42962281-3cd7b232-8b5f-11e8-83a3-87b1e8defc2f.png)

[2018-07-19 18:23] vconzola opened #508 "OSP Support: Changes to Infra Mapping Wizard - Step 4"
Clearer instructional text

![6a-createmapping-networks_2](https://user-images.githubusercontent.com/22823035/42962312-508c0314-8b5f-11e8-8f56-06a030f006b8.png)

Network mapping for OSP, no real changes from RHV
![6b-createmapping-networks_2](https://user-images.githubusercontent.com/22823035/42962318-557b9f56-8b5f-11e8-8125-95b04bba7a52.png)

[2018-07-19 19:55] #496 closed

[2018-07-19 20:38] vconzola commented on #498
To be fixed by PatternFly.

[2018-07-19 20:38] #498 closed

[2018-07-19 21:44] #499 closed

[2018-07-20 15:50] vconzola commented on #485
@kedark3 How do I change the BZ to Documentation? Do I just add a tag?

[2018-07-20 22:41] mturley commented on #370
This will now be done in https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/511, my original entire-plan cancel PR was, well, cancelled.

[2018-07-23 15:10] bthurber commented on #341
@vconzola @priley86 thoughts on resolving this for GA?

[2018-07-23 15:18] vconzola commented on #341
@bthurber I don't think this is really a v2v UI issue. @allenbw - please correct me if I'm wrong, and/or provide details.

[2018-07-23 18:13] vconzola commented on #465
![9ddd1a-createplan-playbooks selection alternate 160z](https://user-images.githubusercontent.com/22823035/43095007-7f847d42-8e82-11e8-8cd6-5cd251bedb86.png)

[2018-07-23 19:15] AllenBW commented on #341
@bthurbe the solution for this would be a two-parter, service orders need a type attribute and SUI needs to filter by that type [as @himdel mentioned here ](https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/341#issuecomment-405234756)]

Neither of these parts can be solved by the v2v ui.

We ought to close this issue and reopen it in the repos that would be doing the work (reffing here) cuz thi

[2018-07-23 19:22] vconzola commented on #341
@bthurber  ^^

[2018-07-23 19:37] bthurber commented on #341
@AllenBW 10-4.  Would you mind creating the new issue and referencing this?  We can tag @blomquisg in it for visibility.  Probably won't get this in for 5.9.4.

[2018-07-23 20:48] vconzola commented on #387
Design notes:
1. If there are any plans in progress, disable the delete mappings button for all mappings (we might be doing this already) If not, this is probably a separate issue.

2. For not started plans, display a warning in place of the infra mapping name and disable the Migrate button.
![overview no mapping not started](https://user-images.githubusercontent.com/22823035/43102067-1c0e7694-8e9

[2018-07-24 12:15] AllenBW commented on #341
https://github.com/ManageIQ/manageiq/issues/17752

&

https://github.com/ManageIQ/manageiq-ui-service/issues/1463

means we can close this one here!  ☺️

[2018-07-24 12:15] #341 closed

[2018-07-24 15:55] vconzola commented on #506
@AllenBW by second part do you mean, "list boxes labels will change dynamically based on selected target provider"?  If so, then what I meant is that when target provider is RHV the label for the list box should be "Target Provider/Datacenter/Cluster", but if the target is OSP the label should be "Target Provider/Project". Should this be a separate issue since it involves making label text dynamic

[2018-07-24 16:14] AllenBW commented on #506
AH! Understood, nah that fits in this scope of work, though one lil question.. mockup has using forward slashes, but current state is backslashes, is this part of the requested work, the switching of slash directions?

[2018-07-24 16:19] vconzola commented on #506
I always get those dang slashes wrong. I think back in the days of DOS they looked like this \ when designating a path, but on the web they use /. So I guess we should use /. Do you agree?

[2018-07-24 17:34] AllenBW commented on #506
no preference either way, less changes, already in place is / so if i was to force a preference.. thats where it would be 😏

[2018-07-24 17:35] vconzola commented on #506
Then let's keep it that way.

[2018-07-24 17:55] vconzola commented on #357
Use same mockups as #387

[2018-07-24 19:34] #368 closed

[2018-07-24 19:35] #400 closed

[2018-07-24 19:35] #399 closed

[2018-07-24 20:21] AllenBW commented on #508
@vconzola So are we hiding the dual pane mapper until source cluster network is selected from the dropdown? Additionally,  target cluster, the label, is that dynamic (same thing as from step 2? )

[2018-07-24 20:49] vconzola commented on #508
@AllenBW 1. "are we hiding the dual pane mapper until source cluster network is selected" - I believe that's the way it works today. That's the design intent, but i can't verify it was implemented that way because the only environment I can access has only one source cluster so its networks (and datastores) are selected by default on page load. 2. Yes, dynamic label, just like step 2.

[2018-07-24 22:02] mturley commented on #265
Starting on this tomorrow, unless @AparnaKarve can use my help in finishing the Redux part of #511.

[2018-07-25 14:10] bthurber commented on #498
@vconzola can you provide some detail on when/how this will be resolved?

[2018-07-25 14:37] AllenBW commented on #498
@bthurber its outta our hands, see the patternfly/patternfly issue opened here: https://github.com/patternfly/patternfly/issues/1096 Looks like the issue was added to nexttodo 🤷‍♂️

[2018-07-25 15:59] mturley commented on #485
Noticed we never swapped out `bz` for `documentation` tags here. Added the `documentation` tag, but I didn't want to remove `bz` (I'm not sure exactly what that's for)

[2018-07-25 16:56] mturley commented on #265
Talked to @AparnaKarve, she is working on higher priority things but she had already started this one. Starting on #240 instead.

[2018-07-25 17:43] bdunne commented on #189
It looks like tags are already visible as a sub-collection on hosts and clusters.  What are the missing pieces?

[2018-07-25 17:55] mturley commented on #240
For my own convenience, example CSV from Aparna:

[code]

[2018-07-25 18:23] mturley opened #513 "Plan Wizard: User-unfriendly warnings appear when CSV is imported with invalid VMs"
Found while working on #240.

Using the following CSV (with an infrastructure mapping that doesn't include those VMs):

[code]

I'm seeing these warnings immediately after CSV import:

<img width="928" alt="screenshot 2018-07-25 14 12 02" src="https://user-images.githubusercontent.com/811963/43219771-3b876dc6-9016-11e8-9158-25e3bac35670.png">

<img width="411" alt="screenshot 2018-07-25 14 18 07"

[2018-07-25 18:48] mturley commented on #513
@michaelkro reminded me that these warnings will only show up in a dev environment, so it's not a risk of user confusion like I thought.

[2018-07-25 19:12] bthurber commented on #189
@bdunne plan has changed slightly.  Sent over new plan.

[2018-07-25 20:06] Yadnyawalkya opened #515 "Can not schedule migrations after failure (retry page)"
**User case**

1. Create infra map `map1`
2. Attach mapping to `plan1`
3. Schedule `plan1` for X time
4. Delete plan `map1` before X time

Here when migration get triggered, it fails (as obvious, since it does not find `map1`)
If you check Completed Plan section, you will find only two options `Retry` and `Archive` are there (Not `Schedule migration`).

So overall, we can not schedule failed (retr

[2018-07-25 20:33] mturley commented on #240
PR #516 fixes this.

[2018-07-26 04:41] #240 closed

[2018-07-26 20:45] vconzola opened #520 "Display a message to the user if a scheduled migration plan fails to run and allow the user to reschedule the plan"

[2018-07-27 19:23] kedark3 commented on #415
@AllenBW @AparnaKarve we need this for automation. kindly add the `ids` for `strong` tags at least :)

[2018-07-27 21:31] mturley commented on #189
Starting on the UI piece of this next (first thing Monday). @bthurber do we know what the API will look like for this yet / have a PR I can follow for that yet? If not that's ok, I can start working top-down.

[2018-07-27 22:22] bthurber commented on #189
@mturley not sure but I would touch base with @bdunne

[2018-07-30 03:04] mturley commented on #136
Un-assigning myself from this, because it is possibly the lowest priority item in the entire backlog.

[2018-07-30 20:04] kedark3 commented on #499
5.9.4.1 is still broken,https://bugzilla.redhat.com/show_bug.cgi?id=1602796#c9

Although, 5.10.0.6 is showing correctly as mentioned in #503 (comment)

[2018-07-30 23:11] #370 closed

[2018-07-31 00:43] #515 closed

[2018-07-31 19:07] #505 closed

[2018-08-01 19:20] michaelkro opened #528 "Target provider being reset to rhevm"
If the user navigates back to the Mapping Wizard General Step, the selected target provider is being reset to `rhevm` regardless of what was initially chosen

[2018-08-01 20:43] AllenBW commented on #528
#529 closes this

[2018-08-01 20:43] #528 closed

[2018-08-02 17:48] michaelkro commented on #507
@vconzola I have a question about the label for the Target Storages panel.  The mockup seems to suggest that for VMW -> OSP migrations the list items should be of the form,

[code]

an example could be `ocp-registry \ <SOME_SORT_OF_VOLUME_TYPE>`

On the other hand, for VMW -> RHV migrations, the list items are

[code]

an example could be `RHV \ Export`

Is this discrepancy intentional?

[2018-08-02 18:05] vconzola opened #532 "Add editable cells to React tables"
Refer to https://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/#inline-edit-in-a-table-view

[2018-08-02 18:27] vconzola commented on #507
When Brett and I met with Marek from the OpenStack team he said that VMW datastores should map to OSP volume types. didn't make sense to me either. I think we need to ask the CF team for a sample API that shows what data we'll be receiving when OSP is selected as the target. We can either wait until next week or if you don't mind firing off a note to Adam and Greg B. they can probably respond soon

[2018-08-02 18:59] michaelkro commented on #507
@vconzola I'm drafting an email to Marek, Adam, and Greg  (I've cc'ed you)

[2018-08-02 19:08] #357 closed

[2018-08-02 19:08] #387 closed

[2018-08-02 19:59] AllenBW commented on #508
@vconzola looking for confirmation that rhevm target label should remain `Target Networks`, yah say 'no real changes', but every other osp issue has changed the rhevm label in some way 🤔

[2018-08-02 21:17] mturley commented on #466
I'm on this next, and then #532.

[2018-08-02 21:18] mturley commented on #532
I'm starting this after I finish #466.

[2018-08-03 13:54] vconzola commented on #508
@AllenBW Target Networks is what I was told when I met with Marek and Brett to discuss mapping details and what I put in the mockups I showed during the Sprint 10 demo. But that doesn't mean it worn't change once folks start playing with OpenStack.  :-)

[2018-08-03 15:06] jeperry commented on #532
[Editable cells in table ](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=patternfly-react%2FContent%20Views%2FTable%20View&selectedStory=Table%20With%20Inline%20Edit%20Row&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs)seems to already exist in React - what is the difference here?

[2018-08-03 15:18] mturley opened #535 "Need distinct warning messages for target clusters based on the type of cluster"
See @vconzola 's comment here: https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/526#issuecomment-410246996

[2018-08-03 15:31] AllenBW opened #536 "Abstract reducer logic into helper functions"
[Reducers have gotten bloated](https://github.com/ManageIQ/miq_v2v_ui_plugin/blob/11e649cfd158211e1163310a73f8a58cf45f577b/app/javascript/react/screens/App/Plan/PlanReducer.js), its no ones fault.  It would be nice to clean these up a bit by abstracting much of the bloat into a local `helper.js`

https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/526#issuecomment-410278123

[2018-08-03 16:07] bthurber opened #537 "VM name filter is case sensitive"
Description of problem:

VM name filter is case sensitive

Version-Release number of selected component (if applicable):

5.9.4.2 (Red Hat CloudForms 4.6)

How reproducible: 100%

Steps to Reproduce:

1. Login to the CloudForms operational portal

2. Create infrastructure mapping.

- Navigate to Compute -> Migration -> Create infrastructure mapping -> Save

3. Create migrate plan

- Navigate to Co

[2018-08-03 16:07] bthurber commented on #537
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1612047

[2018-08-03 16:33] mturley commented on #536
It's no one's fault, but it's a little my fault.

[2018-08-03 16:38] AllenBW commented on #536
And a little my fault.

[2018-08-03 17:19] #189 closed

[2018-08-06 10:18] Yadnyawalkya opened #542 "500 Internal Server Error while scheduling migration plan"
**Description of problem**
500 Internal Server Error while scheduling migration plan

**Version-Release**
5.9.4.2.20180802030318_f91df08

**How reproducible**
100%

**Steps to Reproduce**
1. Create plan
2. Scheduled plan (pick date + time)
(You will get pop with error)

**Actual results**
Getting error pop-ups.

**Expected results**
Should not get that.

**Additional info**
Also found on 5.10.0.8

[2018-08-06 11:20] #537 closed

[2018-08-06 14:05] bthurber commented on #251
@vconzola ok to close or change to merged?

[2018-08-06 16:47] AllenBW commented on #542
@Yadnyawalkya soooo this bug... still reproducible?  🤔

[2018-08-06 19:02] kedark3 opened #544 "Migration Request Details Page shows "NO VMs" if Migration Plan is in Not Started state"
https://bugzilla.redhat.com/show_bug.cgi?id=1613020

[2018-08-06 19:22] kedark3 opened #545 "Ansible Pre-migration logs cannot be downloaded"
https://bugzilla.redhat.com/show_bug.cgi?id=1613019

[2018-08-06 19:30] kedark3 commented on #484
with 5.9.4.2 I can see that removing provider does not cause migration page to go blank. I can see "Red Cross" for invalid mappings.

[2018-08-06 20:33] michaelkro commented on #265
@priley86 @AparnaKarve

It was my impression that this issue concerned showing alerts of migration plans completing, as opposed to individual migration tasks.

e.g., you could be viewing the details page for `migration plan 1` and when `migration plan 2` completes/fails, the notification would appear.

[2018-08-06 20:34] #466 closed

[2018-08-06 20:39] Yadnyawalkya commented on #466
**Internal tracking**
https://bugzilla.redhat.com/show_bug.cgi?id=1613041

[2018-08-06 20:46] vconzola opened #546 "OSP Support: Add a new step to the Plans wizard when migrating to OpenStack"
If the infrastructure mapping selected in step 1 of the Plans wizard has OpenStack as a target, then after VM selection add a step to the wizard for instance properties.
![9cccc3-createplan-vms-selection osp option4](https://user-images.githubusercontent.com/22823035/43740094-45434aa2-9998-11e8-9d80-43da64beafa8.png)

![screenshot 2018-08-14 11 17 13](https://user-images.githubusercontent.com/8119

[2018-08-06 20:49] vconzola commented on #485
Verified that information about counters not being in sync has been added to the documentation

[2018-08-06 20:49] #485 closed

[2018-08-06 20:56] mturley commented on #532
Closing this because we already have this behavior in React as @jeperry points out. Usage of it will start in #546.

[2018-08-06 20:56] #532 closed

[2018-08-06 21:06] vconzola commented on #265
@michaelkro that was my belief too. i don't think we show notifications when individual tasks complete; only when a plan (request) completes. although...that might be a nice feature to add, just not in this PR.

[2018-08-06 21:13] AparnaKarve commented on #265
Somehow it made sense to me to display notifications for individual tasks especially since we are in the Plan Detail page.

This is also a good addition and I can look into that in a separate PR.

[2018-08-06 21:18] michaelkro commented on #265
ok, awesome!

[2018-08-06 21:20] vconzola commented on #251
Fixed by #526

[2018-08-06 21:20] #251 closed

[2018-08-07 15:25] vconzola opened #548 "UX for migration cancel is misleading"
The following changes should be made to the plan details page when a migration is cancelled:
1. The text for the notification should read, "Migration cancel request submitted for _vm_name_".
2. The migration status when a cancel is in process should be "Cancelling migration". The counter should continue counting and the spinner icon should keep spinning (don't change).
4. When the cancel is succes

[2018-08-07 16:20] AparnaKarve commented on #548
There is no specific indication from the backend if the Cancel operation was successful or not.
I suppose I can just display "Migration cancelled" when the cancelled task completes.
(A cancelled task usually completes with a `VM migration failed` status)

[2018-08-07 16:36] vconzola commented on #548
@AparnaKarve So does that mean if we get a "VM migration failed" status we really don't know if the migration failed or was cancelled? We just have to assume based on the time between when the cancel request is sent and the fail status comes back that it's a cancel and not a fail? Yuck. Do we set the cancel_requested flag or does the backend?

[2018-08-07 16:51] AparnaKarve commented on #548
@vconzola This is how I can describe the lifecycle of `Cancel` (the way I know it) --

- When the user hits Cancel for a task, we send an API POST request on the task with `action=cancel`
- The return of this API request could be a success or a failure (like any other API requests)
- If it's a success, the backend marks this task with `cancel_requested=true`. The back-backend processes (Fabien's a

[2018-08-07 17:07] vconzola commented on #548
@AparnaKarve Got it. As long as the migration doesn't fail between cancel_requested=true and status='VM migration failed' that should be accurate. and i guess it doesn't really matter in the end. either way it's a "failed" migration and will have to be retried.

[2018-08-07 17:47] vconzola opened #549 "Add progressive disclosure to the Advanced Options step of the Plans wizard"
During the Sprint 11 demo Fabien uncovered a potential usability issue with the Advanced Options page. Twice he selected Next before selecting the VMs against which pre- and post-migration playbooks were to be run. Selecting Next correctly fired the warning dialog that tells the user to select VMs, but that doesn't mitigate the fact that he made the same error twice.

Going forward we might want t

[2018-08-07 18:19] priley86 commented on #484
@kedark3 @vconzola - this is not as simple as I initially thought for Plans. In the case of Infra Mappings, we are already doing the mapping logic to visualize cluster/provider associations. However we do not currently do anything similar for Plans. To make this possible, I would need to add the logic to go down the following bunny trail:

[code]

Today we do not do that sort of thing on the Overv

[2018-08-07 19:41] kedark3 commented on #484
@priley86 I can test this, but what do you mean by

[2018-08-07 19:49] priley86 commented on #484
does the CF application actually break or no longer respond? Or does the UI just show error messages during the migration? If it fails gracefully and the UI is still responsive, I don't see this as hugely pressing. I am not able to test it here to see the actual behavior in this scenario.

[2018-08-07 21:16] #548 closed

[2018-08-08 13:44] kedark3 commented on #484
Yes, UI is still responsive.

[2018-08-08 15:00] #545 closed

[2018-08-08 17:07] michaelkro commented on #507
Closed by #531

[2018-08-08 17:07] #507 closed

[2018-08-08 17:50] #508 closed

[2018-08-08 18:36] AparnaKarve commented on #265
@michaelkro I am planning on working on this next, although, this would involve bigger changes which I think should not go in gaprindashvili, just to be on the safer side.

[2018-08-08 18:40] michaelkro commented on #265
definitely agree @AparnaKarve.  I also anticipate that to be a considerable effort and possibly an opportunity to streamline our polling.

We should create a separate issue for that, or create one for #543 and keep this one open.  Whichever you prefer

[2018-08-08 18:53] AllenBW opened #555 "When deleting an infrastructure mapping, plans reflect change on polling not event occurance"
Discovered by  @michaelkro in https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/554 , when yah delete a mapping, the plans don't update till polling happens, we ought to fire off an update once a mapping is successfully deleted.

[2018-08-08 19:09] AparnaKarve commented on #265
Re-opening this issue since the part mentioned in https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/265#issuecomment-410844130 is still pending

[2018-08-08 19:14] kedark3 opened #556 "Progress bar does not update for migrations performed via SSH Transformation Method"
https://bugzilla.redhat.com/show_bug.cgi?id=1613919

Progress bar does not update for migrations performed via SSH Transformation Method, neither updates on Migration Dashboard, nor on Migration Request Details Page. Progress bar updates only once, at the very end of migration. It goes from 0 % to 100% directly in one shot.

[2018-08-08 19:30] vconzola commented on #555
@AllenBW @michaelkro Is this something that needs to be in for GA? Sounds low priority to me. Do you agree?

[2018-08-08 19:39] AllenBW commented on #555
@vconzola agreed... just adding it here for the record 😄

[2018-08-09 13:11] AllenBW commented on #542
Closing cuz... its not reproducible.

[2018-08-09 13:11] #542 closed

[2018-08-09 13:20] Yadnyawalkya opened #558 "Next button is not enabled by default while selecting valid VMs by default on CSV import"
**Issue**
On valid vm imports, vms getting selected automatically but `Next` button still not get enable by default (which is I guess should be enable by default since vm selection is already done).

Currently to enable `Next` button we have to double-check any selected vm checkbox which is somehow weird additional thing

**Behavior**
![](https://user-images.githubusercontent.com/811963/43225878-4

[2018-08-09 13:38] priley86 commented on #484
@kedark3 thanks. This is good to know. Is there anything in the console? What specific error do you see in the UI log? It would be nice to just add anything else we can in the documentation about this that might help the user.

@vconzola I think we can close this issue after we confirm that this is added to the documentation. The operator should not remove providers/clusters/networks/storages asso

[2018-08-09 14:01] priley86 opened #559 "Remove react-intl"
Per [discussion](https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/533#issuecomment-411752992) in #533 , we can safely remove the react-intl from this project.

This can be done POST GA as a small cleanup task (should not be pressing now).

[2018-08-09 14:08] priley86 commented on #558
Gonna grab this one real quick....

[2018-08-09 14:21] kedark3 commented on #484
@priley86 I did not see any related errors in the browsers console. So I think we are good.

[2018-08-09 14:28] priley86 commented on #558
heh ;) - looks like there is no work at all here. This is working as designed @Yadnyawalkya . See:

https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/516
https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/240

I believe this was decided in previous meetings/discussions. Are you ok w/ closing this issue?

[2018-08-09 16:34] kedark3 commented on #484
@priley86  can we at least hide create migration plan button if not enough providers exists?

[2018-08-09 17:05] vconzola commented on #484
@kedark3 We don't hide things in the UI. That's poor UX. The user has to take some ownership of their environment and understand that if they don't have providers in CF they can't do migration. This will be documented. We could, of course, check for this unlikely scenario (and many others), but as @priley86 explained the logic required to do so is complex and would add to our existing "UI pollutio

[2018-08-09 18:00] AparnaKarve commented on #556
Confirmed that this is a backend issue.

The `percent` value under `virtv2v_disks` always stays at 0 when transformation method is `ssh`

[code]

[2018-08-09 18:01] michaelkro opened #560 "Error if target compute fetch returns no records"
After fetching all the target clusters/cloud_tenants, we are making an additional call to the `hosts` endpoint in order to determine whether or not conversion hosts have been configured.  This call will fail if nothing is returned from the initial query

Steps to Reproduce:
1.  Delete all instances of `EmsCluster` with `ext_management_system.emstype=rhevm`
2.  Visit the clusters step in the mappin

[2018-08-09 18:05] mturley commented on #560
Dang, good catch @michaelkro. I suppose that's a bug in my change from earlier this week, let me know if you want me to look at it with you.

[2018-08-09 19:02] AparnaKarve commented on #556
/cc @fdupont-redhat

[2018-08-09 19:30] Yadnyawalkya commented on #558
@vconzola can you confirm this usecase here? I think double-clicking vms in table is additional weird thing to do, what say?
For context refer this bz https://bugzilla.redhat.com/show_bug.cgi?id=1610393#c3

[2018-08-09 20:04] #484 closed

[2018-08-09 20:57] vconzola opened #563 "Explore using migrations plan status cards as selection controls for the plan list/card view below"

[2018-08-09 22:45] #560 closed

[2018-08-10 13:18] michaelkro opened #564 "[OSP] Use CloudVolumeType for datastore mappings"
The wizard is currently configured to map VMWare `storages` to OSP `cloud_volumes`, but after getting clarification, we need to update this so that the mappings are between `storages` and `cloud_volume_types`

[2018-08-10 15:51] #558 closed

[2018-08-10 16:57] vconzola commented on #544
@AparnaKarve PR #551 fixed this one so it can be closed, right?

[2018-08-10 16:58] AparnaKarve commented on #544
Yes @vconzola -- closing this.

[2018-08-10 16:58] #544 closed

[2018-08-10 18:18] Yadnyawalkya commented on #558
Thank you everyone! \o/ :+1:  :1st_place_medal: :

[2018-08-13 19:19] vconzola commented on #556
Closing issue.

Per Fabien: The problem is in virt-v2v-wrapper, so oVirt product.
Closing this BZ in favor of https://bugzilla.redhat.com/show_bug.cgi?id=1614748.

[2018-08-13 19:19] #556 closed

[2018-08-13 19:27] priley86 commented on #406
Related to https://github.com/ManageIQ/manageiq-v2v/issues/204

[2018-08-13 19:34] vconzola commented on #136
Closing.

[2018-08-13 20:17] priley86 commented on #473
handing this over to @michaelkro - i believe he has a fix!

[2018-08-14 12:09] michaelkro opened #572 "[OSP] Update Overview Infra Mapping List"
The infra mapping ListView needs to be updated to be compatible with OSP mappings

[2018-08-14 12:20] #473 closed, assigned to priley86, michaelkro

[2018-08-14 12:29] AllenBW commented on #559
Woops, so we *do* actually use this dep a bit, formatting times yes, could be substituted with moment, [but we also do a bit of local formatting here](https://github.com/ManageIQ/manageiq-v2v/blob/4ab98e0f9323bdedac1365aac1c94a2fd81c5d6a/app/javascript/common/i18n.js)

[2018-08-14 13:21] michaelkro opened #573 "[UI CLEANUP] Connect <Migrations /> and lift redux state from <Overview />"
We are mapping state to props in `Overview` that could be done further down the component tree

The following could be moved from `<Overview />` to `<Migrations />`.  Please note that this may not be a comprehensive list, and that the props should be verified before lifting.

1. `serviceTemplatePlaybooks`
2. `allArchivedPlanRequestsWithTasks`
3. `toggleScheduleMigrationModal`
4. `scheduleMigration

[2018-08-14 13:40] michaelkro opened #574 "[UI CLEANUP] Connect <InfrastructureMappingsList /> and lift redux state from <Overview />"
We are mapping state to props in Overview that could be done further down the component tree

The following could be moved from `<Overview />` to `<InfrastructureMappingsList />`. Please note that this may not be a comprehensive list, and that the props should be verified before lifting.

- `clusters`
- `isFetchingClusters`
- `isRejectedClusters`
- `datastores`
- `isFetchingDatastores`
- `isReject

[2018-08-14 21:58] AparnaKarve commented on #265
It seems more efficient to add this notification from the backend.
currently looking into implementing this via the backend automate code.

[2018-08-15 12:49] michaelkro opened #576 "Mapping Wizard name validation not working"
# Steps to Reproduce

- Attempt to create a new mapping, using the name of an already existing mapping.
- Currently, validation does not fire after blurring the name field, and you can progress through the wizard

# Expected Behavior

- If the name field contains a duplicate name, uniqueness validation should kick in upon blurring the field
- The `Next` button should be disabled and the user shoul

[2018-08-15 13:00] michaelkro opened #577 "Non operational "Retry" button in Mapping Wizard"
# Steps to Reproduce
- Currently, there is a bug that allows the user to progress past the first step of the Mapping Wizard after entering a duplicate name (please see issue #576)
- At the end of the wizard, attempting to create a mapping with a duplicate name results with the error state shown in the screenshot below
- There is no action bound to the `Retry` button

# Screens
<img width="1440" al

[2018-08-16 07:58] skateman opened #578 "Notifications created by v2v aren't displayed on pages other than v2v"
I noticed on the [last sprint review](https://www.youtube.com/watch?time_continue=445&v=dQueeyktr6U) that V2V has notifications implemented. As I implemented the notifications in the core ManageIQ, I was curious how it is done here and found two major issues.

1. The notifications are displayed only when the user is on the V2V page
I assume that most of the tasks are running longer than the time s

[2018-08-16 09:47] AllenBW commented on #578
Yeaaaaaaaaaaahhhhhhhh I can take a 🔪 at this... though unclear at this moment if any of the v2v generated notifications will be generated if yer not in the plug in 🤔

[2018-08-16 10:53] martinpovolny commented on #578
It would be nice not to implement 2 ways of doing a single thing. Especially if the existing way is sort of ehm, well, superior to the new one ;-)

@AllenBW, @AparnaKarve, can you, please, cooperate with @skateman on fixing this?

Btw: the same mechanism is being used for the (newly added) provider UI extensions.

[2018-08-16 11:36] skateman commented on #578
Yup, the major change would be to emit notifications from the v2v backend instead of doing it from the frontend. This way all the notifications will be persisted in the DB and emitted through websockets, i.e. displayed on every page and kept after a browser refresh/logout.

I'm not saying that the polling should be deleted, but in the future we can use the websockets for pushing the data changes f

[2018-08-16 11:42] AllenBW commented on #578
There are a few different situations in which v2v creates its own notification, wheeeeeeennnnnnn...
* when interacting with the api, we often times notify of success (not just error)
* when the status of a migration changes, (what we get with the polling)

[2018-08-16 11:54] skateman commented on #578
@AllenBW the first case might stay as it is (not sure) as the response is immediate and we probably don't want to store this in the drawer. However, we're displaying these kind of things across the classic UI a little bit differently:
![screenshot from 2018-08-16 13-53-10](https://user-images.githubusercontent.com/649130/44206952-bb397180-a15b-11e8-904e-3400ef760d01.png)
Maybe we should have this

[2018-08-16 12:07] AllenBW commented on #578
@bthurber @fdupont-redhat @blomquisg, can anyone help @skateman with https://github.com/ManageIQ/manageiq-v2v/issues/578#issuecomment-413515821 ?

[2018-08-16 13:46] martinpovolny commented on #578
@AparnaKarve : I don't know about much about co-incidence or what co-incidence you are talking about, but we have all seen yesterday's sprint demo and this caught attention of not only @skateman .

It's good to hear that you are aware that there's a problem with the code. I hope it will help us get it fixed faster.

To catch similar issues earlier in the process I suggest pinging people who where

[2018-08-16 15:03] skateman commented on #578
@AparnaKarve that's good news, could you please tag this issue in the PRs you're making? As @martinpovolny mentioned, I'm working on enabling notifications in provider extensions. For now I created a set of [generic notification types and some mixins](https://github.com/ManageIQ/manageiq/pull/17835) to emit them. Can you please take a look and let me know if they're good for your case? If not, I c

[2018-08-16 17:43] AparnaKarve commented on #578
@skateman The notification use case that I am currently working on is about Request completion with a success or failure, so I guess it fits under your generic notification types.
Although the way I would have to emit the notification would be different - something along these lines - https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_request.rb#L244
(For some reason `Notification.cre

[2018-08-16 17:51] skateman commented on #578
@AparnaKarve `call_automate_event_queue` sounds just perfect if you're fully relying on automate for the v2v tasks. For now we don't support links in the notification drawer, but you're the second person this week who asked about them, so I see it as a valid reason to finally implement it. Shouldn't take long...

[2018-08-16 17:57] martinpovolny commented on #578
:+1: on implementing the links. One of the first questions from people using the provider extension mechanism we worked on recently.

[2018-08-16 18:02] AparnaKarve commented on #578
Fantastic @skateman -- thank you for looking into the link implementation!!

[2018-08-16 18:35] skateman commented on #578
Just for making sure, where the links should point? Is it related to the task somehow? The backend has sort of a link generation, but we would probably need a controller for a final redirection to the given V2V subpage. The main question is, can the subpage somehow determined from the `subject` field of the notification...if yes, we're already winning.

[2018-08-16 19:16] AparnaKarve commented on #578
Yes, the `subject` (the `miq_request` object) would have the required `id` which the link would use for proper redirection to the v2v subpage.

[2018-08-17 09:48] Yadnyawalkya opened #579 "UI: Text should be wrapped in popover properly"
**Description**
This is UI issue. Popover should adjust its width if text length is greater than its size.
Text should be wrapped in popover properly.

In above image while displaying hostname, `.com` is displaying outside of popover so it should be wrapper inside.

**Version**
5.9.4.4.20180816162527_c00eb23

**Impact**
None

![screenshot from 2018-08-17 15-03-29](https://user-images.githubusercon

[2018-08-17 11:01] skateman commented on #578
https://github.com/ManageIQ/manageiq-ui-classic/pull/4492

[2018-08-17 13:20] AllenBW commented on #579
<img width="1217" alt="screen shot 2018-08-17 at 9 18 57 am" src="https://user-images.githubusercontent.com/6640236/44268155-9ba75500-a1fe-11e8-9deb-263acd124df1.png">

yeah sort of a general issue with pfr popovers, really long strings (with no breaks) cause overflow

[2018-08-17 13:57] skateman commented on #578
@AparnaKarve now I'd need some V2V created notifications in the DB to get further, so if you have a dump generated by your future backend PR, please send it over. Thanks :beers:

[2018-08-17 16:10] #579 closed

[2018-08-17 16:13] michaelkro opened #581 "Filters on Migration Not Started Details Page"
We are seeing some spacing issues with the toolbar in FireFox.  Also, the question has been raised as to whether or not the value added by filtering/sorting functionality is worth having the additional UI element (on this particular page).

# Screens
![screenshot-from-2018-08-17-17-56-22](https://user-images.githubusercontent.com/15141412/44276866-da490980-a216-11e8-936d-78b37f802dfe.png)

[2018-08-17 23:30] AparnaKarve commented on #578
@skateman https://drive.google.com/open?id=1kgbc7y92r2mxKnogLpCDFpLVGwnqsyHo is a pg_dump of the DB.
Notification id=34 is the notification for a Request completed with a failed status that has been generated by my planned backend changes.

[2018-08-20 08:13] skateman commented on #578
Thanks, it seems usable, but I have two questions:
- is there a way to determine if the given `MiqRequest` record is V2V-related?
- where should I redirect the user?

[2018-08-20 14:19] AparnaKarve commented on #578
- v2v related MiqRequest is `ServiceTemplateTransformationPlanRequest`
- user should be redirected to `plan\source_id` (source_id can be found here `ServiceTemplateTransformationPlanRequest.source_id`)

[2018-08-20 14:40] skateman commented on #578
I found the request, but the `plan` route doesn't exist:
[code]

Are you sure this is the right URL?

[2018-08-20 14:47] AparnaKarve commented on #578
`'plan/:id'` is not a rails route, it's a react route created by the v2v app.

To view the route in the UI, just click on any of the Completed/Not started Plans

[2018-08-20 14:54] skateman commented on #578
Okay, how can I redirect to a react route, from Ruby :confused:

[2018-08-20 14:58] skateman commented on #578
`migrations#plan/:id`?

[2018-08-20 14:58] Hyperkid123 commented on #578
@skateman that should work

[2018-08-20 15:00] AparnaKarve commented on #578
So the `View Details` in the Notification below -
<img width="362" alt="screen shot 2018-08-20 at 7 54 59 am" src="https://user-images.githubusercontent.com/1538216/44348140-7c9f0200-a44e-11e8-8c57-05e90dc4da6d.png">

links to `'plan/:id'` (where id = source_id, as explained above)

I think from the backend side, we should just create the appropriate link (plan/id)
and once it's in the `migration`

[2018-08-20 15:17] skateman commented on #578
@AparnaKarve it works, if the model is `ServiceTemplateTransformationPlanRequest`, is it 100% sure that it's v2v or can it be something else as well?

[2018-08-20 15:29] AparnaKarve commented on #578
Cool, Thanks for the update!

[2018-08-20 16:33] michaelkro opened #585 "No Conversion Host Warning Broken"
Regression introduced by https://github.com/ManageIQ/manageiq-v2v/pull/561

When promise chaining onto a redux-thunk action, the resolved value will not have passed through the reducer.  So, in this case, it is not an array, but the entire response object from the API

https://bugzilla.redhat.com/show_bug.cgi?id=1614245

[2018-08-20 20:12] vconzola commented on #581
@michaelkro Filtering/sorting doesn't provide as much value for Not Started plans because the only field you can filter/sort on is Name and in the example above when there are only two VMs in the plan. However, it becomes alot more useful for plans with lots of VMs or for In Progress plans where the user can sort/filter to see plans by status, elapsed time, etc.

I'd like to keep it as is, even if

[2018-08-20 20:20] #585 closed

[2018-08-20 21:07] vconzola opened #591 "Can't view archived plans if there are no infrastructure mappings"
https://bugzilla.redhat.com/show_bug.cgi?id=1614243

[2018-08-20 21:14] vconzola opened #592 "Elapsed time field in details tooltip shows migration start time instead"
When the tooltip for an in progress or completed migration is displayed by selecting the info icon from the plan details listview, the first line of the tooltip is labeled "Elapsed Time:", however what is shown is the start time of the migration. The label should be changed to "Start Time:".
<img width="271" alt="screen shot 2018-08-20 at 1 52 45 pm" src="https://user-images.githubusercontent.com/

[2018-08-20 21:27] vconzola opened #594 "Red Cross Symbol in front of Plan Name for Plan that is not even started"
https://bugzilla.redhat.com/show_bug.cgi?id=1618844

Needs to be verified as a real bug. Hold off on this one for a bit. Track status of BZ.

[2018-08-20 21:40] #592 closed

[2018-08-21 13:15] michaelkro commented on #594
Bug confirmed.  Looking into finding cause

# Screens
<img width="1152" alt="fullscreen_8_21_18__9_14_am" src="https://user-images.githubusercontent.com/15141412/44403553-ca853a00-a522-11e8-9ae7-d6daa984cbb2.png">

[2018-08-21 14:39] AllenBW commented on #577
@vconzola Whats the desired fix here? surely prevent progress with invalid form, but also, do we want to remove the retry button? or send em back to step one?

[2018-08-21 15:06] #594 closed

[2018-08-21 17:02] vconzola commented on #577
@allenbw if we fix #576 the user will never get to the error or the Retry button, right? so i'm not sure we need to address the issue raised here. unless we're trying to address the general case where creating the mapping fails for any reason? in that case Retry should take the user back to wizard step 1.

I'm guessing we don't get any meaningful error information explaining the failure, right?

[2018-08-21 17:13] #591 closed

[2018-08-21 17:15] AllenBW commented on #577
@vconzola When/if something goes wrong, we'll see the above, an api error notification and then the error page of the wizard... So, confirmation, retry goes back to step 1?

[2018-08-21 17:26] vconzola commented on #577
@AllenBW  Yes. If we can't give the user any more meaningful information about the error, let's just send them back to the beginning. Not great UX, but it sounds like it's the best we can do.

[2018-08-21 19:09] AparnaKarve opened #600 "Configure Providers screen is visible with the Create Migration Plan button"
I just noticed this -
<img width="1432" alt="screen shot 2018-08-21 at 12 05 52 pm" src="https://user-images.githubusercontent.com/1538216/44423373-d7ae2300-a53a-11e8-8a2a-0c4eb381c600.png">

We should not be displaying the Create Migration Plan button/links when there are no providers

[2018-08-22 14:14] AllenBW commented on #564
Yeaaaaaaaaah not sure about that... latest master, grabbing `cloud_volume_types` throws a...

[code]

[2018-08-22 16:31] #536 closed

[2018-08-22 17:11] #577 closed

[2018-08-27 17:46] vconzola opened #606 "Edit an existing Infrastructure Mapping"
Can't have associated migration plans

[2018-08-27 17:47] vconzola opened #607 "Edit an existing Migration Plan"
![screen shot 2018-08-29 at 3 39 24 pm](https://user-images.githubusercontent.com/22823035/44811118-c6e85780-aba1-11e8-80d9-b355a98ca3ab.png)
Notes:
- Only plans in Not Started state can be edited. (What about Complete - Failed state?)
- Edit action is located in a kebab menu.
- Selecting Edit opens the Migration Plan Wizard with saved values pre-filled for all fields on all steps.

[2018-08-27 17:51] vconzola opened #608 "Explore ways to enhance the Infrastructure Mapping UI"
- Get rid of list boxes
- Be able to see more details about source and target clusters, datastores, and networks

[2018-08-27 17:53] vconzola opened #609 "Create a separate Infrastructure Mappings page available from Migration in the nav"
![infrastructure mappings page](https://user-images.githubusercontent.com/22823035/44802480-d52a7980-ab89-11e8-990b-850d15d15877.png)
Notes:

- Infrastructure Mappings will be available as an option under Migration in the CF navigation.
- Page should have breadcrumbs allowing navigation back to Migrate - Overview.
- List view of mappings should be filterable on Name and Description fields and sort

[2018-08-27 18:55] vconzola opened #610 "Move migration descriptions from automate to the details page without clicking the tooltip"
This will require removing the description field from the tooltip and putting the text from that field in the status field on the details page.

![screen shot 2018-08-29 at 9 54 03 am](https://user-images.githubusercontent.com/22823035/44792274-84a72200-ab71-11e8-92cc-6c0370ef525e.png)

Is there any implication for when playbooks are running? Is some logic required to decide what to display?

[2018-08-28 21:23] vconzola opened #611 "Show "No clusters found" in the infra mapping wizard if clusters have not been configured"
In the source and target cluster list boxes in step 2 of the infra mapping wizard, alert the user if either the source or target provider is present but no clusters are found. Currently, we just show an empty list box which leads to user confusion.

[2018-08-29 13:51] AllenBW commented on #611
@vconzola The source/target areas are selects, it might be tricky to center the message as is done in the mapping section, (fair warning the message might show up just as there was an option).  UNLESS it is ok to display the message sans dropdown box.

OOO also, the message should be "No cluster found"  also, should we apply this to all of the dropdown select things? when no resource is found, ind

[2018-08-29 15:42] vconzola commented on #611
@AllenBW I was thinking something like this. Is this possible? The only user action is to Cancel out of the wizard, but at least we'll give him/her a clue as to the problem.
![screen shot 2018-08-29 at 11 38 42 am](https://user-images.githubusercontent.com/22823035/44798737-4b29e300-ab80-11e8-8480-585d5ce8bdcb.png)
As for datastores and networks, I don't know what's possible in CloudForms. If you

[2018-08-29 15:48] AllenBW commented on #611
Righto! Will give it a go 😋

[2018-08-29 16:51] vconzola commented on #609
![infrastructure mappings page](https://user-images.githubusercontent.com/22823035/44802480-d52a7980-ab89-11e8-990b-850d15d15877.png)
Notes:

- Infrastructure Mappings will be available as an option under Migration in the CF navigation.
- Edit is only available for mappings with no associated plans.
- Behavior is the same as when infra mappings were on the Overview page.

[2018-08-29 17:18] vconzola opened #612 "Add Overview, Infrastructure Mappings, and Migration Plans as separate menu items under Migration in the CF navigation"
![navigation](https://user-images.githubusercontent.com/22823035/44803974-02792680-ab8e-11e8-989c-ac7327f2c2ba.png)

[2018-08-29 17:34] vconzola commented on #606
![infrastructure mappings page](https://user-images.githubusercontent.com/22823035/44804601-c21aa800-ab8f-11e8-80c2-a0febe210477.png)
Notes:
- Only mappings with no associated plans can be edited.
- For mappings with associated plans disable the edit icon.
- Selecting the edit icon opens the Infrastructure Mapping Wizard with saved values pre-filled for all fields on all steps.

[2018-08-29 17:44] vconzola opened #613 "Create a separate Migration Plans page available from Migration in the nav"

[2018-08-30 12:43] michaelkro opened #615 "Migrations section rendering when there are no migrations"
Regression introduced by #597

Currently, the Migrations section (in the empty state) is being rendered when there are no infrastructure mappings and no migration plans.  The expected behavior is that only the Infrastructure Mappings section is shown (in the empty state)

# Screens
## Current
![manageiq__migration](https://user-images.githubusercontent.com/15141412/44852066-4ae92080-ac30-11e8-8da7

[2018-08-30 18:33] vconzola commented on #572
The gist of this one is that the way mappings are visualized in the list view expansion today is very RHV centric and needs to be updated for OSP.

[2018-08-30 18:38] vconzola commented on #600
Also, I'm not sure how/why we're showing the Migration Plan empty state when there are no Infrastructure Mappings. If there are no mappings we should always be showing the mappings empty state.

[2018-08-30 18:57] michaelkro opened #617 "Indicate that all source clusters/datastores/networks have been mapped"
Currently, after all source clusters/datastores/networks have been mapped, the source listbox is empty with no indication of why.  Some users have perceived this as a bug, particularly when navigating back and forth through the wizard.

We should indicate to the user that the listbox is empty due to all source clusters/datastores/networks having been mapped.

Note that this is different than the c

[2018-08-30 19:30] #611 closed

[2018-08-30 19:35] #615 closed

[2018-08-30 20:33] mturley commented on #607
I'm starting to look at this next.

[2018-08-31 13:11] michaelkro opened #621 "Unexpected element rendered after aggregate cards"
# Screens
<img width="1920" alt="fullscreen_8_31_18__9_10_am" src="https://user-images.githubusercontent.com/15141412/44914326-e6949280-acfd-11e8-8ff3-c2109bfc1ba8.png">

[2018-08-31 13:26] #621 closed

[2018-08-31 16:17] mturley opened #623 "Plan Wizard VM Step: There is no warning when overriding the uploaded CSV with another file"
After uploading a CSV, if the user clicks this Import CSV button, there should be a warning to the effect of "Uploading a new CSV will overwrite any selections you have made here".

![import-csv-screenshot](https://user-images.githubusercontent.com/811963/44923958-d5587f80-ad17-11e8-8e08-d8c51a2b5f25.png)

Here is the warning as originally mocked up:

![screenshot 2018-08-31 13 17 26](https://user

[2018-08-31 17:46] vconzola opened #624 "Create a separate Migration Settings page available from Migration in the nav"
In order to support migration throttling we need a place for users to specify throttling parameters in the IMS UI. This will be done on a new Migration Settings page. It will also serve as a placeholder for future settings.

[2018-09-04 19:36] vconzola commented on #298
Mockups:
![screen shot 2018-08-31 at 10 58 42 am](https://user-images.githubusercontent.com/22823035/45053530-3b1a7380-b058-11e8-9a4a-414d67294dad.png)
![screen shot 2018-08-31 at 10 58 20 am](https://user-images.githubusercontent.com/22823035/45053549-45d50880-b058-11e8-87e1-461fc91321cd.png)

[2018-09-04 19:42] mturley commented on #298
Perfect, thanks @vconzola

[2018-09-04 19:42] michaelkro opened #625 "Infra mapping name never "loads" in plan list views"
# Steps to Reproduce
- Have at least one not started or completed migration plan
- Delete all infra mappings
- Notice that the associated mapping name for the plan list item never changes from "Loading Infrastructure Mapping Info..."

# Expected Behavior
After infra mapping fetch completes, the message should read "Infrastructure mapping does not exist"

# Screens
## Current Behavior
<img width="1

[2018-09-04 19:59] mturley commented on #298
For my own reference: according to https://docs.google.com/document/d/1B-iFdNKqUgw44GPHc0TIUEDc9MdKiBll2pK6PTve__M/edit?ts=5b898be4, plan deletion is available in the following states: `Not Started`, `Complete - Succeed`, `Complete - Fail`, `Archived`.

[2018-09-05 14:15] vconzola commented on #607
![](https://github.trello.services/images/mini-trello-icon.png) [Support for editing infrastructure mappings and migration plans](https://trello.com/c/xGHQDIny/198-support-for-editing-infrastructure-mappings-and-migration-plans)

[2018-09-05 14:16] vconzola commented on #606
![](https://github.trello.services/images/mini-trello-icon.png) [Support for editing infrastructure mappings and migration plans](https://trello.com/c/xGHQDIny/198-support-for-editing-infrastructure-mappings-and-migration-plans)

[2018-09-05 14:32] vconzola commented on #609
![](https://github.trello.services/images/mini-trello-icon.png) [Remove infrastructure mappings from the Overview page](https://trello.com/c/6mFdabrV/201-remove-infrastructure-mappings-from-the-overview-page)

[2018-09-05 14:32] vconzola commented on #612
![](https://github.trello.services/images/mini-trello-icon.png) [Remove infrastructure mappings from the Overview page](https://trello.com/c/6mFdabrV/201-remove-infrastructure-mappings-from-the-overview-page)

[2018-09-05 15:07] AparnaKarve commented on #625
@michaelkro I noticed that the initial status is "Loading Infrastructure Mapping Info...", but later in the subsequent poll, the proper status of the Infrastructure mapping is reflected - either with a name or with "Infrastructure mapping does not exist"

[2018-09-05 15:15] michaelkro commented on #625
@AparnaKarve weird, that's not happening for me.  Have you deleted all of your mappings?

[2018-09-05 15:32] mturley opened #628 "After archiving a plan, archived plans are not fetched immediately"
This can be reproduced by having only one migration plan in the database, and then archiving that one plan. The empty state appears and there is no way to navigate to Archived Plans without a page reload.

[2018-09-05 17:35] AparnaKarve commented on #625
@michaelkro Ok, confirmed that if all my mappings are deleted then the Loading message persists forever.

[2018-09-05 18:57] #625 closed

[2018-09-06 17:28] #628 closed

[2018-09-07 10:04] Yadnyawalkya commented on #415
@AllenBW  @AparnaKarve So it is not backported in 5.9, in 5.10 it working. Can we get it to 5.9 too :)

[2018-09-07 11:31] Yadnyawalkya opened #632 "[QEDevCollab] Need unique id for selected position"
Extended version of https://github.com/ManageIQ/manageiq-v2v/issues/415

We need unique id for following selected div position.

![screenshot from 2018-09-07 16-38-15](https://user-images.githubusercontent.com/10824880/45216401-1fb0a200-b2be-11e8-83ee-3e405df4910a.png)

Expecting something like this `<div id="progress-bar-items" class="col-xs-12">` to select div items

[2018-09-07 11:36] Yadnyawalkya commented on #632
@AllenBW @AparnaKarve  can we have this asap :) :+1:

[2018-09-07 13:55] kedark3 commented on #415
@simaishi might be able to help us here. Satoe, please look at @Yadnyawalkya's request in previous comment. Thanks.

[2018-09-07 14:08] simaishi commented on #415
As per our process, I will not be able to backport PRs unless there is a BZ that's marked as blocker (determined in bug triage) for the next release. If you think this should get in, please talk to your manager so he/she can bring it up in meeting.  Thanks!

[2018-09-07 18:00] michaelkro commented on #564
Depends on https://github.com/ManageIQ/manageiq-api/pull/465

[2018-09-07 19:01] kedark3 opened #633 "Rename "Next" button to "Create ""
![screenshot from 2018-09-07 14-52-43](https://user-images.githubusercontent.com/8180469/45238070-8ded6880-b2ae-11e8-9011-e1268922644b.png)
On left side, we can see 5.10.0.14 appliance with button "Next" and on right hand side 5.9.4 appliance with "Create" button. This is an unexpected change in the Text of this Button and causing Automation to break. Please remedy it. Also it is better for consis

[2018-09-10 17:50] mturley commented on #546
This issue tracks the entire Instance Properties step, which has been worked on in the following PRs so far:

https://github.com/ManageIQ/manageiq-v2v/pull/547
https://github.com/ManageIQ/manageiq-v2v/pull/562
https://github.com/ManageIQ/manageiq-v2v/pull/627

we still need to alter the POST body when submitting the new plan to the API to include these selections.

[2018-09-10 20:17] #633 closed

[2018-09-10 21:56] #298 closed

[2018-09-11 16:37] #623 closed

[2018-09-11 16:44] michaelkro opened #636 "Can bypass Plan Wizard VM Step validation using CSV import"
# Steps to Reproduce
- Make sure you have two CSV files.  One with valid VMs and one with only invalid VMs
- Start plan creation using CSV import and the CSV file with valid VMs
- On the VMs Step, click the CSV Import button and choose the CSV with only invalid VMs
- Notice that the `Next` button is not disabled
- Notice that you can now advance in the Plan Wizard without having chosen any VMs

[2018-09-11 20:32] mturley commented on #600
@AparnaKarve I just tried to reproduce this and couldn't. Deleting all my plans and mappings, I just get the Create Infrastructure Mapping empty state as expected. Can you still reproduce it?

[2018-09-11 20:45] AparnaKarve commented on #600
@mturley Looks like this was fixed by https://github.com/ManageIQ/manageiq-v2v/pull/616.

Closing the issue...
Thanks for checking.

[2018-09-11 20:45] #600 closed

[2018-09-13 18:33] mturley opened #638 "Add capability to change associated infrastructure mapping when editing a migration plan"
To be completed after #620 is merged. Currently we do not allow the user to change infrastructure mappings when editing a migration plan, but doing so should invalidate the rest of the wizard and prevent pre-filling the steps (other than the General step) with any data from the plan being edited.

This also affects orphaned plans (plans with no associated mapping), which are currently not allowed

[2018-09-13 18:36] mturley opened #639 "Plan Wizard: When moving back to VM step, table reverts to pre-selected values"
When the VM step mounts, it triggers a query for discovery of new VMs, and if editing a plan, a query for the details of those VMs being pre-filled. This causes the table to reset to its initial state whenever the user enters the VM step.  Moving backwards from the Advanced Options step should instead retain whatever VMs the user had previously selected (so these queries probably need to happen on

[2018-09-13 21:19] mturley opened #640 "Editing Migration Plan: When importing a CSV that contains VMs already in the plan, they are not selected and have the warning "VM exists in a different migration plan""
To be addressed after #620 is merged. Here are screenshots from @michaelkro:

<img width="1920" alt="45491970-12216f00-b739-11e8-9a7e-45847aaecfe1" src="https://user-images.githubusercontent.com/811963/45516397-ef16af80-b778-11e8-971a-9843d3a9ecab.png">

<img width="1920" alt="45491470-c7532780-b737-11e8-9468-705d993ebc98" src="https://user-images.githubusercontent.com/811963/45516406-f50c9080-b77

[2018-09-14 11:47] #636 closed

[2018-09-14 17:45] mturley commented on #639
I have a tentative fix for this: https://github.com/mturley/manageiq-v2v/commit/91c337b9649b4dc57707cadaa81fc2ccc3b72bba

But, I'm going to wait to make a new PR for it until after the merge conflicts between https://github.com/ManageIQ/manageiq-v2v/pull/620 and https://github.com/ManageIQ/manageiq-v2v/pull/618 are resolved, per @michaelkro's suggestion.

[2018-09-17 19:30] mturley opened #641 "Edit Name and Description of Completed and Archived Migration Plans"
Migration Plans in the Completed and Archived states should have an Edit option in their kebab menu which opens a simple modal for editing their Name and Description only.

[2018-09-17 19:39] michaelkro opened #642 "[INSTANCE PROPERTIES STEP] Handle pre selection if best fit flavor API returns nothing"
***Follow up task for Instance Properties Step***

It is possible for there not to exist any OSP flavors that are big enough to accommodate a VM to be migrated.  In this case, the best fit flavor API returns nothing for the "best fit flavor" and an empty array for the "all fit flavors".

In this case, pre-select the largest flavor based on `root_disk_size`

[2018-09-17 19:45] michaelkro opened #643 "[INSTANCE PROPERTIES STEP] Integrate table with default security group API"
***Follow up task for Instance Properties Step***

We have access to a new API that will return either

1. The security group with the name `default`
2. The most used security group in the case one named `default` does not exist

Integrate this with the Instance Properties Step table for pre-selecting a security group

[2018-09-17 19:53] michaelkro opened #644 "[INSTANCE PROPERTIES STEP] Warn if chosen flavor may not be big enough"
***Follow up task for Instance Properties Step***

Warn if the user edits a row in the Instance Properties Step Table to choose a flavor that is not "big enough", i.e., the chosen flavor is neither the `best fit flavor` nor does it exist in the `all fit` collection

[2018-09-18 14:10] vconzola opened #646 "Change the title of the migration plan wizard"
The title of the migration plan wizard should match the action being performed in the wizard, so it should either be "Create Migration Plan" or "Edit Migration Plan".

[2018-09-18 14:12] vconzola opened #647 "Change the title of the infrastructure mapping wizard"
The title of the infrastructure mapping wizard should match the action being performed in the wizard, so it should either be "Create Infrastructure Mapping" or "Edit Infrastructure Mapping".

[2018-09-18 14:15] mturley commented on #624
According to @vconzola, this is no longer needed for the short term throttling solution:

When we do want to bring this page in, we can start with my branch here: https://github.com/ManageIQ/manageiq-v2v/compare/master...mturley:migration-settings-page

![k5s2ew0g0s](https://user-images.githubusercontent.com/811963/45693732-bb96a500-bb2b-11e8-9e1f-3df29c6d3755.gif)

[2018-09-18 14:23] vconzola opened #648 "Add selected counts to the target object lists in the infrastructure mapping wizard"
Currently, the number of selected items is only shown below the list of source objects (clusters, datastores, networks) in the infrastructure mapping wizard. The select count should also be shown for the target objects.
![screen shot 2018-09-18 at 10 22 41 am](https://user-images.githubusercontent.com/22823035/45694247-d87fa800-bb2c-11e8-9380-d44ebce30485.png)

[2018-09-18 14:57] vconzola opened #649 "Change the order of the radio buttons in step 1 of the migration plan wizard"
The default selection (discover VMs) should be the first radio button in the list.
![screen shot 2018-09-18 at 10 56 09 am](https://user-images.githubusercontent.com/22823035/45696420-93aa4000-bb31-11e8-89cf-e0bd205ccde8.png)

[2018-09-18 15:05] michaelkro commented on #648
Question:  It is only ever possible to select a single target.  Would adding a counter be confusing?  If I read `1 of 3 selected`, it would make me think I could select `2 of 3`

[2018-09-18 15:16] vconzola opened #650 "UX changes to step 2 of the migration plan wizard"
1. Change table header to "Select VMs to be Migrated".
2. Increase width of the textbox filter.
~~3. Remove the Search icon - what does it do?~~
4. Increase default number of rows per page to 10.

![screen shot 2018-09-18 at 11 15 41 am](https://user-images.githubusercontent.com/22823035/45697641-3b287200-bb34-11e8-9c48-8ed4c1b89d0a.png)

[2018-09-18 15:19] vconzola opened #651 "Add scheduling to migration plan wizard"
We kept this out of the wizard to meet GA date. Ideally, scheduling would be part of the last step in the wizard.

[2018-09-18 15:31] vconzola commented on #644
Per discussion with @michaelkro if the "all fit" list is empty we will (1) show the flavor with the largest storage as default, (2) not allow any other options in the dropdown, and (3) display a warning icon to the right of the flavor name saying, "None of the existing OpenStack flavors can fit this VM. This might cause migration to fail. We have chosen the flavor with the largest storage size, bu

[2018-09-18 15:45] vconzola opened #652 "Default sort order for plan details page should be VM name"
Currently, the default sort order for plan details page is by elapsed time. This causes in progress rows to start jumping around in the list as migrations finish. The default sort order should by by VM Name.

[2018-09-18 17:31] vconzola commented on #648
I'm torn on this one. I understand what Jeremy is saying about it looking funky to have it on one list and not the other, but you also make a good point. Do we prevent the user from selecting more than 1 on the target side? The time I can see it being useful is if there's a long list of targets and you need to scroll, you would know if one is selected that you can no longer see.

[2018-09-18 17:36] michaelkro commented on #648
We do indeed prevent multiple selections in the targets list.  I guess we could put a counter down there that is populated with `0 of 1 selected` initially and `1 of 1 selected` when a target is chosen

[2018-09-18 17:59] vconzola commented on #648
That's what I was thinking.

[2018-09-18 20:01] vconzola opened #653 "Download Log causes list view misalignment"
When the user selects a log to download a message is displayed saying that the log file is being downloaded. For some reason this is causing the other fields in the row to shift to the left and be mis-aligned with the other rows in the list view. The message is unnecessary. Remove it and disable the button while the file is being downloaded.

[2018-09-18 20:20] michaelkro opened #654 "[INSTANCE PROPERTIES STEP] Populate flavors dropdown with all_fit"
In the Instance Properties Step, we populate the OSP flavor dropdown with all flavors returned for the target `cloud_tenant`, including flavors that may be too small to accommodate the VM.

Instead, we'd like to leverage the new `best_fit_flavor` API which returns, as part of its payload, an `all_fit` collection and populate the dropdown with that instead.

We will follow this issue up with https:

[2018-09-18 21:04] #642 closed

[2018-09-18 22:54] mturley commented on #641
This will depend on #620 being merged, and so far the work for it is being done here: https://github.com/mturley/manageiq-v2v/compare/edit-plan...mturley:641-edit-plan-title

[2018-09-19 14:09] dclarizio commented on #578
@AparnaKarve any new info on this?  Would like to get this in sync with the way other notifications in MIQ work.  See above, the notifications can now have clickable links in them.

[2018-09-19 15:00] AparnaKarve commented on #578
@dclarizio No new info yet, since other things like OSP have taken priority over this task, which involved both frontend and backend API work on my part.

I have done some testing with local branches and should have PRs ready by sometime next week.

Looking forward to sync up some of the notifications in v2v with the rest of the UI.

@skateman In v2v note that, only certain type of notifications q

[2018-09-19 15:27] dclarizio commented on #578
@AparnaKarve if there are local messages for v2v screens only, then those are actually flash messages and should be shown to the user when they are on the screen.  Any other types of messages that will come back asynchronously must be returned the same as all other notifications, via the notifications queue and should be displayed no matter where the user is in the UI as well as be saved in the no

[2018-09-19 16:10] AparnaKarve commented on #578
Examples of PF Toast Notifications

<img width="1208" alt="screen shot 2018-09-19 at 8 51 45 am" src="https://user-images.githubusercontent.com/1538216/45765301-8ea8c780-bbe9-11e8-932b-780c0e52c647.png">

We are displaying Toast Notifications for certain async actions that are relatively immediate like -
- Infrastructure Mapping created
- Plan created
- Plan deleted
- Plan archived

@michaelkro @m

[2018-09-19 16:19] michaelkro commented on #654
Bad news @AparnaKarve, I jumped the gun creating this issue.  We need to wait to see what the final UI requirements will be with regard to how we populate the flavors dropdowns.  :(

Sorry about that!

[2018-09-19 16:28] michaelkro commented on #654
Perfect, thank you :)

[2018-09-19 17:06] michaelkro commented on #578
Yes, we use https://github.com/patternfly/patternfly-react/tree/master/packages/patternfly-3/patternfly-react/src/components/ToastNotification for our notification system.

While there is a network request involved for these actions, there is no background worker processing required, and so the notifications appear immediately.  It should be unnecessary to add these to the global notification syst

[2018-09-19 23:08] AparnaKarve commented on #578
@skateman It looks like the links are not working from the Notification drawer.

Here's a video that shows the issue -
https://drive.google.com/open?id=1O4CPCLi3byfLzuRgzRHPmjZitw3dgqmM

[2018-09-20 07:58] skateman commented on #578
Okay, let's be clear with the terminology from our side in the OPS UI:
**Flash notifications** are displayed after invoking a request-response type of action. Things like *provider refresh initiated* or *record marked for deletion*. For now we're using [PF inline notifications](https://www.patternfly.org/pattern-library/communication/inline-notifications/) to display those.

**Asynchronous notific

[2018-09-20 09:45] dclarizio commented on #578
@AparnaKarve do you think you could change the request-response types of messages to use the PF inline notifications so they would look like all of our other flash messages.  We will not have time to convert all of our flash messages to use toast notifications in Hammer, so we need v2v to not introduce this at this time as it will look very inconsistent.  Thx, Dan

[2018-09-21 08:09] dclarizio commented on #578
@vconzola well, you're kind of right.  We will not be moving to the toast notifications in Hammer and who knows how long the "I" release will be, but quite some time.  The problem is also that the toast notifications in V2V are not implemented using the standard PF notification component (as it doesn't support toast notifications that don't end up in the drawer).

So, if we leave this is as, we ha

[2018-09-21 18:29] #649 closed

[2018-09-24 11:49] michaelkro commented on #644
The preferred option is the first shown in [these mocks](https://docs.google.com/presentation/d/1zloqc7El5bL_7sGsW4nE9kM91a9jWY5_fastpkmBhd0/edit#slide=id.p) (custom table header with icon & popover)

[2018-09-24 11:51] michaelkro commented on #654
Closing because the requirement is to populate the dropdown with all available flavors, marking the too small flavors with warnings

[2018-09-24 11:51] #654 closed

[2018-09-24 13:22] michaelkro opened #659 "[MAPPING WIZARD] Associated mapped storages and networks do not clear when removing a cluster mapping"
# Steps to Reproduce
1.  Start mapping creation, add a cluster mapping and a storages mapping
2.  Navigate back to the clusters step and remove the existing mapping
3.  Create a new (and different) cluster mapping and navigate forward to the storages step
4.  Notice that the previous (and now invalid) storages mapping still exists

[2018-09-24 14:41] mturley commented on #646
I made a commit for this as part of https://github.com/ManageIQ/manageiq-v2v/pull/620.

[2018-09-24 20:12] michaelkro opened #662 "[TODO] Revisit these after API"
~https://github.com/ManageIQ/manageiq-v2v/pull/510~
~~https://github.com/ManageIQ/manageiq-v2v/pull/620~~ merged

[2018-09-24 20:57] kedark3 opened #665 "Migration UI stalls sometimes on appliance reboot"
See details at: https://bugzilla.redhat.com/show_bug.cgi?id=1631462

[2018-09-24 21:06] #610 closed

[2018-09-25 15:25] kedark3 opened #666 "Network goes Missing in Infra Mapping"
Two bzs related to this issue :
https://bugzilla.redhat.com/show_bug.cgi?id=1619431
https://bugzilla.redhat.com/show_bug.cgi?id=1619131

[2018-09-25 15:35] michaelkro opened #667 "[MAPPING WIZARD] Keys for bootstrap-select menu items are not unique enough"
We recently acquired a new test db with two source clusters, both named `Cluster`.  When both of these are mapped, the UI crashes on the storages step due to duplicate keys

[2018-09-25 16:09] #667 closed

[2018-09-25 19:51] mturley commented on #644
Per @michaelkro, instead of the flavor with the largest storage:

[2018-09-25 20:08] vconzola commented on #644
@mturley Correct. I think what we decided (correct me if I'm wrong @michaelkro ) is that we'll use a reverse Price is Right rule for this - if the back end doesn't return a best fit flavor the UI will choose the flavor that is closest in memory size and larger than the VM. If no flavors are larger than the VM, the best fit will be the one closest to and smaller than the VM. If multiple flavors hav

[2018-09-25 20:33] vconzola commented on #644
@michaelkro I thought you had a core PR last week that allows us to get that information now? Refer to this email chain - "v2v UI Question about Flavors".

[2018-09-26 00:01] mturley commented on #644
@vconzola, I chatted with Mike about this and he clarified that we don't need to know the VM memory size in this part of the UI code, because in the case where there is a flavor larger than the VM, the back end will always return it as a best fit. So if there's no best fit from the back end, we're already in the "closest to and smaller than the VM" case, which just means the largest flavor availab

[2018-09-26 12:43] agrare commented on #666
Fixed by https://github.com/ManageIQ/manageiq-providers-ovirt/pull/291

[2018-09-26 19:33] mturley commented on #647
@michaelkro here's a one-liner for this to be cherry-picked onto your branch for #660 : https://github.com/mturley/manageiq-v2v/commit/c32edce5cf8a94c61ef77225019b9576142e767a

[2018-09-26 19:43] michaelkro commented on #647
Commit added to #660

[2018-09-26 21:12] #606 closed

[2018-09-26 21:12] #647 closed

[2018-09-26 21:12] #659 closed

[2018-09-27 12:36] #652 closed

[2018-09-27 17:01] mturley commented on #572
It looks like this is all we'll need for this one, but `cloudvolume` will need to be replaced with `cloudvolumetype` eventually: https://github.com/ManageIQ/manageiq-v2v/compare/master...mturley:572-osp-infra-mapping-list

[2018-09-27 21:42] #644 closed

[2018-09-27 21:43] #648 closed

[2018-09-28 15:19] AparnaKarve commented on #643
This has been fixed with #645

[2018-09-28 15:19] #643 closed

[2018-09-28 15:30] AparnaKarve commented on #477
Reading through the comments in https://bugzilla.redhat.com/show_bug.cgi?id=1596143, it looks like this may have been fixed.

@Yadnyawalkya Can you confirm?

[2018-09-28 20:38] #653 closed

[2018-10-01 09:08] Yadnyawalkya opened #676 "[QEDevCollab] Need ids for progress bar in in-progress cards"
There are two progress bars in progress-bar card and both having same class (`class="progress-bar"`) so we need separate unique ids here. Following images show exact locations.

![screenshot from 2018-10-01 13-30-32](https://user-images.githubusercontent.com/10824880/46276616-4771ed80-c57e-11e8-918c-83f6b8995132.png)

It is better to add that unique ids to common div instead of progress bar direct

[2018-10-01 12:50] Yadnyawalkya commented on #477
@AparnaKarve, I checked for punycode internationalization character before and it works well with `disk path` and `vm name`. Not sure about special character though since it is different, I going to test it now, will update you with results.

[2018-10-01 18:32] AparnaKarve opened #677 "CSV import while Editing Plan shows incorrect status on the VM"
In the screenshot below, both VMs - `cfmetest55` and `nate-ocp-test` are part of the same plan that is being edited.

<img width="900" alt="screen shot 2018-10-01 at 11 26 57 am" src="https://user-images.githubusercontent.com/1538216/46307911-189f4b80-c56d-11e8-87bb-1d18f933d04c.png">

<img width="900" alt="screen shot 2018-10-01 at 11 27 05 am" src="https://user-images.githubusercontent.com/15382

[2018-10-01 19:17] #607 closed

[2018-10-01 20:41] mturley opened #678 "Edit Plan follow-up: If before and after POST body look identical, do not make the API call for editing a plan."
@mturley As a follow-up on Edit Plan, can we implement the logic where if the before and after POST body looks identical for a Plan, then we should not make the API call for editing a Plan.

This has been implemented for Infra mappings, hence would be nice to implement it here as well.
(Not a high priority requirement though)

_Originally posted by @AparnaKarve in https://github.com/ManageIQ/manag

[2018-10-02 17:23] kedark3 opened #679 "RHV SSH Credentials file input takes any file format (.pdf, .jpeg, etc.)"
RHV SSH Credentials file input takes any file format (.pdf, .jpeg, etc.)

[2018-10-02 19:27] AparnaKarve commented on #679
@vconzola It's not. It's a ui-classic issue

[2018-10-02 19:45] vconzola commented on #650
@mturley  Updated original comment to remove the 3rd issue involving the Search icon. Will open a separate issue if we decide to do this.

[2018-10-02 21:07] vconzola commented on #572
@mturley This is just a labeling thing. When OSP mappings are expanded they should look like this (ignore the contents of the boxes, just look at the labels):
![netowk slice](https://user-images.githubusercontent.com/22823035/46377037-96468280-c665-11e8-9273-3ad48a90171f.png)
![dtaastore slice](https://user-images.githubusercontent.com/22823035/46377048-9d6d9080-c665-11e8-8bde-37c0050edb8a.png)
![

[2018-10-02 21:10] vconzola opened #681 "Show the Mapping type in the Infrastructure Mappings list view"
We should show the mapping type in the list view now that we have multiple types (RHV and OpenStack). Question is where to put it?

[2018-10-02 21:15] vconzola commented on #478
@AparnaKarve Can you take a look at this one when you get a chance? It's on Brett's list for 1.1 release.

[2018-10-02 21:47] mturley commented on #650
Thanks @vconzola. Here's a PR for the rest: https://github.com/ManageIQ/manageiq-v2v/pull/682

[2018-10-02 22:04] AparnaKarve commented on #478
@vconzola This particular error -
`Failed to download "ytale-v2v-4-win10.log". Reason - "Conversion host was not found: ID []. Cannot queue the download of transformation log."`
occurs when we try to download the log too early in the migration process.
So I am wondering that maybe we should keep the 'Download' button disabled until we have information about the log file location in the conversion

[2018-10-03 13:32] Yadnyawalkya commented on #477
@AparnaKarve Do we have any requirement or standard to know which special character we should support in vm name?
Do we only support UTF-8 chars? I am using ```~!@#$%^&*(`)-+=_,./'["]\``` in vm name and it failed with following error.

[code]

[2018-10-03 14:33] vconzola commented on #478
@AparnaKarve I agree - disabling the button until the file is available is a good idea. In the case of playbook logs we should just not offer the migration log in the dropdown until it's available.

[2018-10-03 18:05] vconzola commented on #679
@AparnaKarve Will take a look at it anyway.

[2018-10-03 18:49] AparnaKarve commented on #477
This line in the above log looked particularly interesting -

[code]

The `Update description of VM` process appears towards the end of the migration process, which seems to be failing.

@fdupont-redhat Would you have an idea why it would be failing at this stage?
Does RHV have any restrictions on VM Names?

[2018-10-04 17:02] #678 closed

[2018-10-04 17:21] vconzola commented on #482
This has been fixed by https://github.com/ManageIQ/manageiq-v2v/pull/620 and https://github.com/ManageIQ/manageiq-v2v/pull/674.

[2018-10-04 17:31] vconzola commented on #482
@bthurber When we edit a plan we don't allow the user change the selected infra mapping because that would necessarily change all inputs in all succeeding steps in the wizard. Therefore, it's just as easy for the user to delete the plan and create a new one and it reduces the complexity of the code for editing plans on our side. If you agree this is OK, please close this issue.

[2018-10-04 17:52] bthurber commented on #482
Ack.

[2018-10-04 17:52] #482 closed

[2018-10-04 19:52] vconzola opened #687 "Add warning to Schedule step of migration plan wizard for OpenStack"
In order to migrate to OpenStack VMs must be powered on at the start of migration. Since we can't control their power state we will inform the user that VMs must be powered on in order to be migrated. VMs that are powered off will fail migration. When Migrate immediately is selected we will display this information in the Schedule step of the Create Migration Plan wizard.

[2018-10-04 19:54] vconzola opened #688 "Add warning to Results step of migration plan wizard for OpenStack"
In order to migrate to OpenStack VMs must be powered on at the start of migration. Since we can't control their power state we will inform the user that VMs must be powered on in order to be migrated. VMs that are powered off will fail migration. When Save and migrate later is selected we will display this information in the Results step of the Create Migration Plan wizard.

[2018-10-04 21:13] #641 closed

[2018-10-05 11:17] michaelkro opened #689 "[Plan Wizard] Preserve selections in Advanced Options Step when navigating wizard"
The current implementation clears the form state when navigating backwards from the Advanced Options Step.

This was done to keep in line with the VMs Step, whose behavior it is to clear its form state when revisited, i.e., if the user selects VMs, navigates forward, and then back again, the VMs table is always cleared.  However, this has been deemed undesirable and will be/has been resolved in ht

[2018-10-05 11:22] michaelkro opened #690 "[Mapping Wizard] Add warning to cloud_tenants without configured conversion appliances"
Similar to the RHV case, we need to add a warning to OSP `cloud_tenants` that do not have configured conversion appliances

# Notes from Brett
1.  Current architecture dictates that all conversion appliances will reside in the admin tenant
2.  There will be labels and tags that can be queried in the admin tenant to verify this similar to what we do for RHV clusters

[2018-10-05 11:33] michaelkro commented on #662
APIs are in, no longer needed to track this issue

[2018-10-05 11:33] #662 closed

[2018-10-05 11:34] michaelkro commented on #638
I think we can close this issue out since it seems that we have general agreement that it makes more sense to delete and create a new plan if the mapping needs to be changed

[2018-10-05 11:35] michaelkro commented on #581
This issue has become stale, so closing.  Will re-open if concerns are raised again in the future

[2018-10-05 11:35] #581 closed

[2018-10-05 12:58] mturley commented on #638
Sounds good to me.

[2018-10-05 12:58] #638 closed

[2018-10-05 18:12] michaelkro commented on #564
Closed by https://github.com/ManageIQ/manageiq-v2v/pull/673

[2018-10-05 18:12] #564 closed

[2018-10-05 21:03] #650 closed

[2018-10-05 21:11] #639 closed

[2018-10-08 15:08] #689 closed

[2018-10-08 17:31] mturley commented on #690
Per @vconzola, the warning should read something like:

[2018-10-08 19:00] AparnaKarve opened #694 "Remove the "Loading Infrastructure Mapping info..." status while loading Plans in the list"
The `Loading Infrastructure Mapping info...` is visible even after the v2v page has loaded completely. The status message lasts for about a couple of seconds until the next polling round, after which the list is loaded with the Infrastructure mapping name.

During this "Loading..." state,  'Schedule' 'Migrate' and 'Edit' buttons/menu items are disabled.

It would be nice to load the Plans with the

[2018-10-08 19:23] vconzola commented on #666
Looks like this was fixed. ^^ Closing.

[2018-10-08 19:23] #666 closed

[2018-10-08 19:28] vconzola commented on #665
@kedark3 We have not seen this. Can you please add more details and/or a screenshot?

[2018-10-08 19:30] kedark3 commented on #665
@vconzola there is nothing really to add in screenshot here. What really happens is, UI does not detect the migration was complete, and the migration plan keeps showing that plan is in progress, for indefinite long time after the migration is actually completed. So, summary is "It gets stuck in progress".

[2018-10-08 19:32] vconzola commented on #640
Duplicate of #677

[2018-10-08 19:32] #640 closed

[2018-10-08 19:35] vconzola commented on #612
Handled as separate issues for each page - Overview, Mappings, Plans.

[2018-10-08 19:35] #612 closed

[2018-10-08 19:48] vconzola commented on #665
@kedark3 Is this reproducible or random?

[2018-10-08 20:09] kedark3 commented on #665
@vconzola its inconsistent.

[2018-10-08 20:11] AparnaKarve commented on #665
@kedark3 The next time this happens can you point us to your appliance?
Thanks!!

[2018-10-08 20:16] AparnaKarve commented on #665
@kedark3 Do you recall seeing a `VM migrations stalled` status in the Plan detail page for any of the VM tasks?

[2018-10-09 14:40] kedark3 opened #699 "Issues with Migration Cancellation"
Simple Browser Refresh operation after cancel migration, wipes out the fact that we requested cancel migration. Please see details and video attached on https://bugzilla.redhat.com/show_bug.cgi?id=1614864

[2018-10-09 14:49] kedark3 commented on #665
@AparnaKarve I'll see if I can reproduce. But NO it did NOT say `VM migrations stalled`, it kept showing its `Migrating`

[2018-10-09 21:00] #572 closed

[2018-10-09 22:33] mturley commented on #681
@vconzola we have a couple of size/style choices for the `ListViewIcon` component here:

Small:
![screenshot 2018-10-09 18 29 49](https://user-images.githubusercontent.com/811963/46702577-ade7b300-cbf1-11e8-852e-11dc159238a1.png)

Medium:
![screenshot 2018-10-09 18 30 36](https://user-images.githubusercontent.com/811963/46702588-b50ec100-cbf1-11e8-801b-b2ec6ed24890.png)

Large:
![screenshot 2018-1

[2018-10-09 22:41] mturley opened #701 "OSP Support: Require that the admin tenant is part of the mapping"
@vconzola @michaelkro , from Brett's email in the `Re: OSP Conversion Hosts` thread:

Currently, the Clusters step will allow you to proceed to the next step without mapping something to the admin tenant.

[2018-10-10 01:50] vconzola commented on #701
@mturley @michaelkro I had a follow-up conversation about this with @bthurber over Slack. He said that as long as the admin tenant has a conversion host the source clusters don't need to be mapped to it. Here's the convo:
vconzola [5:11 PM]
that seems to contradict what you said in your email? so are you saying that as long as the admin tenant has a conversion host none of the source clusters need

[2018-10-10 13:30] mturley commented on #701
I see, okay. Thanks for the clarification @vconzola.

[2018-10-10 13:30] #701 closed

[2018-10-10 17:41] vconzola commented on #617
Mockup for clusters page:
![4aa-createmapping-clusters](https://user-images.githubusercontent.com/22823035/46755047-19815d00-cc92-11e8-8628-86fc98d14ef1.png)

Similar message is needed for datastores and networks pages.

[2018-10-10 18:49] mturley commented on #676
@Yadnyawalkya, the `<div class="utilization-bar-pf">` and its children are all controlled by a patternfly-react component that we would need to modify to place ids directly where you've specified. Is it sufficient to wrap each of those divs in another div with an id? This way we don't need to wait on a PR to patternfly-react:

[code]

[2018-10-11 16:00] mturley commented on #681
Vince says we'll keep this one as-is, for now. One possible solution might be to add a `<ListView.InfoItem>` at the front of the `additionalInfo` prop, with a static width and some text, but this clutters the row quite a bit. We might also wait until the brand team has icons for these products.

[2018-10-11 16:39] #694 closed

[2018-10-11 16:54] #617 closed

[2018-10-11 17:14] vconzola commented on #688
Mockup:
![9e-createplan-results 5-step copy](https://user-images.githubusercontent.com/22823035/46821748-9aeef300-cd57-11e8-8964-e19d38f799b8.png)

[2018-10-11 17:15] vconzola commented on #687
Mockup:
![9d3-createplan-schedule copy](https://user-images.githubusercontent.com/22823035/46821798-bf4acf80-cd57-11e8-9eb6-d82f48dd6260.png)

[2018-10-11 18:57] vconzola commented on #298
https://bugzilla.redhat.com/show_bug.cgi?id=1638508

[2018-10-11 19:56] vconzola commented on #610
https://bugzilla.redhat.com/show_bug.cgi?id=1638527

[2018-10-11 19:57] vconzola commented on #652
https://bugzilla.redhat.com/show_bug.cgi?id=1638527

[2018-10-12 12:13] vconzola commented on #478
@AparnaKarve Those messages look good to me.

[2018-10-12 13:18] mturley commented on #376
@vconzola what should the design be for this (how to trigger the modal)? A new item in the kebab menu called "Reschedule" maybe?

[2018-10-12 15:39] vconzola commented on #606
https://bugzilla.redhat.com/show_bug.cgi?id=1638853

[2018-10-15 13:51] michaelkro opened #710 "Unschedule button changes back to Schedule just before plan runs"
https://bugzilla.redhat.com/show_bug.cgi?id=1618804#c11

From the BZ referenced above

[2018-10-15 19:11] #676 closed

[2018-10-16 13:43] michaelkro opened #712 "[Schedule] Schedule button is disabled despite date/time picker showing valid selection"
# Steps to reproduce
1. Create a migration plan
2. Click `Schedule` button for the plan on `Overview`
3. Notice that the `Schedule` button on the modal is disabled despite the date/time picker displaying a valid date/time selection
4. Currently requires the user to change either the date or time in order for the `Schedule` button to become enabled

[2018-10-16 17:49] #687 closed

[2018-10-16 17:49] #688 closed

[2018-10-17 15:00] vconzola commented on #690
Whoops...take that back. I thought that's the way CF used to work (that's why Migration was never enabled as a breadcrumb link), but doesn't seem to be the case anymore. Maybe I'm confused. Regardless, it doesn't look like other parts of CF navigation go back to a previous state either.

[2018-10-17 15:03] mturley commented on #690
@vconzola I think you might have commented on the wrong issue here?

[2018-10-17 15:03] Yadnyawalkya opened #713 "CSV import table showing wrong info on tooltip for empty, invalid and archive vms"
**Description**
 CSV import table showing wrong info on tooltip for empty, invalid and archive vms

**Steps to Reproduce**
Import csv contains mentioned vm name pattern and you will find it is showing wrong vm description in tooltip.

**Actual and expected**

1. For empty vm if you import following content in csv,
[code]
it should show `Empty name specified`, currently showing `Duplicate VM`

2. F

[2018-10-17 15:12] michaelkro opened #714 "[Plan Wizard] Incorrect validation reasons after CSV import"
https://bugzilla.redhat.com/show_bug.cgi?id=1639239

At least a part of the issue described in the BZ is due to https://github.com/ManageIQ/manageiq-v2v/blob/master/app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardVMStep/helpers.js#L50

If a VM does not exist in the db, it will not have an id, and so, when it is run though the [manageDuplicateVMRows helper](https:/

[2018-10-17 16:04] vconzola commented on #690
@mturley  Crap. You're right. Too many issues.

[2018-10-17 16:43] michaelkro commented on #713
Here is a duplicate issue I created https://github.com/ManageIQ/manageiq-v2v/issues/714

Will leave that one open for now as there are some specific implementation details in its description

[2018-10-17 17:17] vconzola opened #715 "Link directly from the Overview page to the Infrastructure Mappings page"
User should have a way to link directly from the Overview page to the InfraStructure Mappings page without having to use the left navigation. i think we have a couple of options. (1) find a place to put a big ol' ugly link on the page - probably in the listview header, below(?) the Create Migration plan link, or (2) make the name of the associated mapping for each plan a link that would take the u

[2018-10-17 17:31] #609 closed

[2018-10-17 17:54] michaelkro commented on #609
https://bugzilla.redhat.com/show_bug.cgi?id=1640275

[2018-10-17 18:06] michaelkro opened #716 "[Code Cleanup] Incorporate <ListViewToolbar /> with other ListViews that have sorting, filtering, or pagination"
#709 introduced a new component, `<ListViewToolbar />` which encapsulates all the state and logic needed for sorting, filtering, and paginating `ListView`s in the V2V UI.  Using the render prop pattern, it is possible to share this code throughout our UI.  You can see the implementation and example usage in the PR referenced above.

Places where we can use this component
- PlanRequestDetailList (#

[2018-10-17 18:13] michaelkro opened #717 "[MIQ Vert Nav] Migration menu items do not behave the same as other sections"
# Expected Behavior
For example, if you navigate to

[code]

navigate away, and then click on

[code]
It takes you back to Volume Backups automatically

# Current Behavior
If you click on

[code]

navigate away and then click on

[code]

It takes you to Overview instead of back to Infrastructure Mappings

[2018-10-17 19:14] michaelkro commented on #665
I think this is a duplicate of https://bugzilla.redhat.com/show_bug.cgi?id=1639753

If so, this has been resolved by https://github.com/ManageIQ/manageiq-v2v/pull/700

[2018-10-17 19:16] michaelkro commented on #546
We can close this issue right?

[2018-10-17 19:17] michaelkro commented on #574
No longer applicable as the Infra Mappings List has been moved to its own page

[2018-10-17 19:17] #574 closed

[2018-10-17 19:53] mturley commented on #546
Yeah, thanks for following up. This one's been done for a while.

[2018-10-17 19:53] #546 closed

[2018-10-18 11:39] michaelkro commented on #563
https://bugzilla.redhat.com/show_bug.cgi?id=1640594

[2018-10-18 12:19] #699 closed

[2018-10-18 14:03] #712 closed

[2018-10-18 15:17] kedark3 commented on #665
@michaelkro no these are two different issues. I will see if I can reproduce it today.

[2018-10-19 13:28] vconzola commented on #250
Duplicate of #607. Has been resolved by PR #620.

[2018-10-19 13:28] #250 closed

[2018-10-19 19:02] #563 closed

[2018-10-19 19:04] bthurber commented on #477
@AparnaKarve I am pretty sure this is a RHV/libvirt limitation.  Will verify with RHV team and advise.

[2018-10-19 19:14] michaelkro opened #723 "[Overview] Auto select displayed migration plans"
Instead of always defaulting to showing `Not Started Plans`, use the following priority to determine which plans to show the user when landing on the Overview page

1.  Plans in progress, if there are any
2.  Not started plans, if there are any and (1) is empty
3.  Completed plans if there are any and (1) and (2) are empty
4.  Archived plans if there are any and (1), (2), and (3) are empty

https:

[2018-10-19 19:31] michaelkro opened #724 "[Overview] Add sorting and pagination to migration plan listviews"
#716 will make adding pagination and sorting very easy, so it might be nice to enhance the Not Started and Completed Plan (and Archived?) listviews with the functionality.  However, the current styling could use some improvement

# Screens
<img width="1920" alt="fullscreen_10_19_18__3_30_pm" src="https://user-images.githubusercontent.com/15141412/47239666-fe120280-d3b3-11e8-8be4-a7d5686386ab.png">

[2018-10-19 19:38] michaelkro commented on #724
***NOTE:*** It could be a good idea to break this issue out into separate tasks for each listview for ease of review.  They'd be repetitive, but smaller PRs

[2018-10-19 21:07] kedark3 opened #725 "Download logs fails-regression"
https://bugzilla.redhat.com/show_bug.cgi?id=1641195

[2018-10-22 12:39] michaelkro commented on #723
Question:  Do we want to auto-select the displayed plans the first time or every time the user visits the Overview page?

@vconzola

[2018-10-22 12:57] vconzola commented on #723
@michaelkro IIUC, everytime. Once at least one plan has been created there should never be an empty state displayed by default. Is that your question?

[2018-10-22 13:01] vconzola commented on #723
@michaelkro One possible exception to the 4. rules listed above... If possible, when returning to the Overview page from the Create or Edit Plan wizards we should display Not Started plans.

[2018-10-22 13:01] michaelkro commented on #723
Also, I am assuming that we will default to Plans not Started if there are no plans of any type but there exist at least one mapping

[2018-10-22 13:05] michaelkro commented on #723
This should be handled automatically by the create/edit process, but I'll double check

My question is more with regard to behavior.  If, say, the user is viewing the details of a completed plan, returning to Overview currently returns the user to the last state, i.e., viewing completed plans.  But if we always pre-select the displayed plans according to the priority list, this will change

[2018-10-22 14:57] kedark3 opened #726 "Upstream Appliance - Migration menu items not selected"
When we navigate to `Compute->Migration->Overview` or `Compute->Migration->Infrastructure Mappings` the Menu items it vertical navigation menu should be highlighted as selected.

**NOTE:** Fix required before next downstream build.

[2018-10-22 15:56] vconzola commented on #715
After discussion with @michaelkro we will go with option 2 and filter the mappings to the the name of the mapping.

[2018-10-22 17:48] michaelkro commented on #717
Related https://github.com/ManageIQ/manageiq-v2v/issues/726

[2018-10-22 17:48] michaelkro commented on #726
Related https://github.com/ManageIQ/manageiq-v2v/issues/717

[2018-10-23 11:06] mzazrivec commented on #726
@miq-bot assign mzazrivec

[2018-10-23 13:45] mzazrivec commented on #717
This problem boils down to the fact, that currently the first menu item points to `/migration` and second one to `/migration#/mappings`.

ManageIQ (the ruby part) remembers just the url part (i.e. everything after `#` is ignored), so anytime
you click on `Compute -> Migration`, you'll get redirected to `/migration`, which is the first menu item.

One way to resolve this would be to support remembe

[2018-10-23 14:33] kedark3 opened #728 "Infra Mapping jumping around atomatically"
![peek 2018-10-23 10-29](https://user-images.githubusercontent.com/8180469/47368101-04072c80-d6af-11e8-87e3-65118eb412d5.gif)
These infra mappings keep jumping across the page all the time. We should fix it.

[2018-10-23 14:42] himdel commented on #717
Indeed, ideally we should be using a proper (js-side) router instead of Hash router, and then it would work.
@Hyperkid123 is probably more aware of what's stopping us there.

I don't see a problem with remembering `url#fragment` *if* that comes from the menu item.

But we probably can't ever support remembering custom `url#fragment` coming from the user, so this would only work when clicking the m

[2018-10-23 15:02] himdel commented on #717
Or, another alternative .. if we rewrite all menu handling in javascript, we can just ask the router.
Not trivial though :).

[2018-10-23 15:08] Hyperkid123 commented on #717
@michaelkro @himdel the React routing right now is using hash routing. Its the most "friendly" way how to do client routing on pages that use both ruby and React (I know that is not the case for v2v). Unfortunately this means that tou routing history is not persisted on the backend and when you leave the page, it is lost.

What we can do, is listen on this history changes (that is very easy) and s

[2018-10-23 15:08] #726 closed

[2018-10-23 15:17] michaelkro commented on #717
I'm totally OK with having full page reloads when using the vert nav, since, as @himdel mentions, this is consistent with the rest of the application.

I like the idea of using local storage to store the current route that @Hyperkid123 suggests, as this would be very useful to have, but maybe as a followup.  It would be nice to first get on the same page as the rest of the UI first :)

[2018-10-23 15:50] michaelkro commented on #726
https://bugzilla.redhat.com/show_bug.cgi?id=1642104

[2018-10-23 18:13] AparnaKarve commented on #717
@mzazrivec - Great description of the problem...using two ruby controllers/two methods in the same controller was what I was comtemplating as well.

I was also mostly trying to solve the other larger issue (well, larger in my eyes) -- full page reloads!

After having seeing how the routing happens with react-router and how blazing fast it is (since it does not hit the server), a full page reload d

[2018-10-23 18:18] martinpovolny commented on #717
As @Hyperkid123 wrote the hash routing is the only way to make React routing work while rest of the app is routing via in Rails.

As @mzazrivec hinted: for several menu items there should be several controllers. Thats what we where working towards and that's the asumption that makes the menus work. But this asumption is broken by V2V.

I understand that it's not feasible to break the V2V into mult

[2018-10-23 18:39] martinpovolny commented on #717
Except the plan is not going to work. Following a discussion with @mzazrivec I checked and:

https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/layouts/_vertical_navbar.html.haml#L42

We generate a normal `<a href=...` link meaning the browser will not talk to the server when navigating from `url#onehash` to `url#seconthash`.

The link params are here https://github.com/ManageIQ

[2018-10-24 11:38] #376 closed

[2018-10-24 13:14] michaelkro commented on #723
https://bugzilla.redhat.com/show_bug.cgi?id=1642464

[2018-10-24 14:08] michaelkro commented on #728
@kedark3 by chance, is the appliance you're seeing this on still up?

[2018-10-24 14:09] kedark3 commented on #728
Please check my message on Gitter

[2018-10-24 14:18] mturley opened #731 "[Schedule Migration] Console error when editing a schedule that is less than 2 minutes in the future"
# Steps to Reproduce

1. Click the Schedule button on a migration
2. Leave the default date (2 minutes in the future) and click Schedule to confirm
3. Click the kebab menu and choose Edit schedule

Observe the console error: `Uncaught TypeError: defaultDate() date passed is invalid according to component setup validations`.

https://bugzilla.redhat.com/show_bug.cgi?id=1642495

[2018-10-24 14:34] skateman commented on #578
Any update on this?

[2018-10-24 15:58] michaelkro opened #733 "[ListViewToolbar] Allow setting initial sort/filter criteria via props"
In my initial implementation of `<ListViewToolbar />`, I hardcoded the initial sort/filter criteria [here](https://github.com/ManageIQ/manageiq-v2v/blob/master/app/javascript/react/screens/App/common/ListViewToolbar/ListViewToolbar.js#L10-L25)

We should allow passing a prop to set these values and have a fallback in case nothing is provided