[2018-01-30 16:56] mturley opened #2 "Stub "Create Infrastructure Mapping" Wizard"
This will probably need to be broken down further, but adding it as a high-level task to assign myself.

[2018-01-30 17:32] mturley commented on #2
Tentative plan to start on this:

- [ ] Add a barebones wizard with only one step (or maybe a stub for each real step).
- [ ] in that "Step 1" render area, add an empty dropdown for source clusters (and maybe a reload button? probably just for testing, wasn't in the mock)
- [ ] create a reducer for clusters
- [ ] wire up the API (or stub API) to the cluster reducer
- [ ] wire up the cluster reduce

[2018-01-30 19:56] mturley opened #3 "Actions and reducers for loading Clusters"

[2018-01-30 19:57] mturley opened #4 "Actions and reducers for loading Datastores"

[2018-01-30 19:57] mturley commented on #3
Working this into my PR for #2.

[2018-01-30 19:57] mturley opened #5 "Actions and reducers for loading Networks"

[2018-01-30 19:58] mturley opened #6 "Actions and reducers for loading VMs"
This maybe doesn't need to hit the API for the POC, just store the user-uploaded VM list.

Associated with the CSV upload and putting it in redux.

[2018-01-30 20:00] mturley opened #7 "Actions and reducers for managing Infrastructure Mapping objects"
I'm going to include Cluster Mapping, Datastore Mapping and Network Mapping in this issue/task because it will largely all be the same code (probably).

[2018-01-30 20:02] mturley opened #8 "Stub "Create Mapping" Wizard"

[2018-01-30 20:03] mturley opened #9 "Actions and reducers for managing Migration Plan objects"

[2018-01-30 20:09] priley86 opened #10 "Create the Migration in Progress Cards"
This issue will handle creating the UI components for the Migration in Progress Cards.

Subject to UX approval:
These will be using the Utilization Bar Card pattern referenced here:
http://www.patternfly.org/pattern-library/cards/utilization-bar-card/

There is also a PF React issue here for Base Card:
https://github.com/patternfly/patternfly-react/issues/192

The Utilization Bar can be contribute

[2018-01-30 20:17] priley86 opened #11 "Create the Migration Completed Cards"
This issue will handle creating the UI components for the Migration in Completed Cards.

Subject to UX approval:
These will be using the Aggregate Status pattern referenced here:
http://www.patternfly.org/pattern-library/cards/aggregate-status-card/

There is also a PF React issue here for Base Card :
https://github.com/patternfly/patternfly-react/issues/192

We will need to ensure the Base Card c

[2018-01-30 20:18] priley86 opened #12 "Actions and reducers for migration / migration status"
This should include actions + reducers + tests for API interactions around migration status (in progress/complete)

[2018-01-30 20:35] priley86 opened #13 "Actions and reducers for migration plans"
This should include actions + reducers + tests for API interactions around migration plans

Posting the execution of the migration plan

[2018-01-30 20:36] priley86 opened #14 "Actions and reducers for migration request"
This should include actions + reducers + tests for API interactions around creating a migration request (after the migration plan wizard is completed and a request is created)

[2018-01-30 20:37] priley86 opened #15 "Actions and reducers for validating a list of vms"
This should include actions + reducers + tests for API interactions around validating a list of vms (imported via a spreadsheet in the UI)

[2018-01-30 20:46] priley86 opened #16 "Create the Migration Plan Wizard"
This will involve the following:

* 1. create the general step for specifying mapping / description
* 2. create the import vm's step for importing vms and validating them if possible
* 3. create the results step indicating a migration is in progress

[2018-01-30 20:49] priley86 opened #17 "Integrate Redux store / reducers w/ mIQ Core"
In this issue we will ensure that all reducers are registered correctly via `ManageIQ.redux.addReducer` and that the store is also registered correctly via `ManageIQ.redux.store`.

cc: @vojtechszocs @ohadlevy

I will follow up with you soon in talk.manageiq.org or in Gitter.

[2018-01-30 20:52] priley86 opened #18 "Review componentRegistry pattern w/ mIQ Core"
In this issue we will follow up on the component registry pattern implemented here (and tested) and ensure it integrates with manageiq-ui-classic. Need to review if any components/containers need to be injected server-side (via mounts). Also need to review if we can support `ownProps` in the componentRegistry pattern implemented in manageiq-ui-classic.

[2018-01-30 20:53] priley86 opened #19 "Ensure i18n support"
This was not yet started. I will try to tackle this next.

[2018-01-30 21:00] priley86 opened #20 "Add Hound integration"
* Travis now runs our jest tests/eslint. In this issue we will integrate Hound CI for linting.
https://github.com/ManageIQ/miq_bot/issues/368

[2018-01-30 21:54] priley86 commented on #8
oops duplicated this in #16

[2018-01-30 21:54] #8 closed

[2018-01-31 08:55] ZitaNemeckova commented on #20
Hound integration for ManageIQ is discussed [here](https://github.com/ManageIQ/miq_bot/issues/368). So maybe we can wait with it until some decision is made.

[2018-01-31 09:03] ZitaNemeckova opened #21 "Use .haml instead of .erb"
Use `.haml` instead of `.erb` to be consistent with ManageIQ.

- [ ] ./test/migration/app/views/layouts/mailer.text.erb
- [ ] ./test/migration/app/views/layouts/mailer.html.erb
- [ ] ./test/migration/app/views/layouts/application.html.erb
- [ ] ./app/views/layouts/migration.erb
- [x] ./app/views/layouts/index.html.erb https://github.com/priley86/miq_v2v_ui_plugin/pull/25

It was brought up [here](

[2018-01-31 13:36] mturley commented on #9
Duplicate of #13.

[2018-01-31 13:36] #9 closed

[2018-01-31 13:40] ohadlevy commented on #19
manageiq currently uses fast_gettext  (see http://manageiq.org/docs/guides/i18n#javascript).

there are two things we should cover:
1. extracting strings using the ```__``` function
2. extracting including the strings from the plugin itself when sending it for translations.

I would suggest that we should start with 1. now and ensure that 2. is handled when we include this repo from manageiq-ui re

[2018-01-31 14:05] mzazrivec commented on #19
This being a standard Rails plugin / engine, string extraction will not differ from the other ManageIQ plugins and should not be a problem.

Although I'm having trouble understanding the second point.

[2018-01-31 14:08] ohadlevy commented on #19
@mzazrivec The rake task ( app:gettext:find?) also needs to scans this plugin source code.

[2018-01-31 14:14] mzazrivec commented on #19
As long as the plugin is correctly registered (just one line of code), the extraction will work the same way it works in core ManageIQ & all its plugins: the rake task we already have in place will extract all gettext annotations: `_()` in ruby / erb / haml and `__()` in javascript.

I can do the above, I just need to understand that this is what we need (me not being familiar with this plugin).

[2018-01-31 14:16] ohadlevy commented on #19
great, in that case, we only need to take care for .1 - thanks for clarification @mzazrivec

[2018-01-31 14:18] mzazrivec commented on #19
All right, should I create a PR implementing it then?

[2018-01-31 14:20] ohadlevy commented on #19
you mean to extract the strings? sure - I'm sure @priley86 will love the examples.

I would assume we need to make sure travis runs on this repo first  before accepting PR's atm?

[2018-01-31 14:37] priley86 commented on #19
@mzazrivec @ohadlevy either a PR here or examples is very welcome. I have not used such libraries in a RoR context before 😸

[2018-01-31 15:02] mzazrivec commented on #19
I created https://github.com/priley86/miq_v2v_ui_plugin/pull/22 adding the gettext initialization and `locale/` subdirectory with gettext catalogs.

What needs to be done now is to add gettext annotations to the source code.

[2018-01-31 15:38] priley86 commented on #19
@mzazrivec @ohadlevy if you wouldn't mind... please a simple example... feel free to install the npm  package...

[2018-01-31 16:14] himdel opened #23 "Consistent rules across ManageIQ repositories"
(If this repo is *not* supposed to become a ManageIQ repo, please close this issue.)

In all ManageIQ repos, squash + merge is disabled, because we do **not** want squashed commits. There is huge value in having the whole history, especially when looking for bugs, backporting changes to earlier releases, etc. etc.

We also don't allow editor config files to be checked in, except for a generic `.ed

[2018-01-31 16:30] priley86 commented on #23
hey @himdel 👋

I am fine with "merge commit" setting if that is the preference... will update it now.

I believe checking in the `.vscode` settings file only (for VS Code Editor) is a good practice for ensuring consistency amongst folks using VSCode. This removes the amount of setup time there for folks integrating prettier into their IDEs and seems to be a good practice.
https://stackoverflow.com

[2018-01-31 16:41] himdel commented on #23
Thanks @priley86 , much appreciated :).

The `.vscode` bit, I'm not sure if this is a hard rule or not, @Fryguy can probably tell you more once he gets back..  But.. I think the idea is .. we either have to support all the editors, or none of them.

I mean.. I'm definitely not personally opposed to `.vscode`. But.. imagine having `.vscode`, `.idea`, `.vimrc`, `.CodeBlocks`, and a few others and th

[2018-01-31 16:45] priley86 commented on #23
I guess VSCode has it's own workspace settings for user overrides ... i dunno - kind of mixed feeling about this. I am fine either way in this repo.

Created #24 for removing package-lock

[2018-01-31 16:49] priley86 commented on #23
ok removed VSCode settings for now...

[2018-01-31 18:39] priley86 commented on #2
@mturley do you mind starting this one? we just need a simple wizard flow at this point first - so we can enable the other wizard steps to be developed simultaneously. If you can stub the wizard steps indicators and the wizard back/next in the footer for infra mapping wizard that would be great. Let's just tackle that one first and try the planning wizard next...

[2018-01-31 19:55] mturley commented on #3
Nevermind, @priley86 my PR for #2 will just be wizard stub only, no redux.

[2018-01-31 19:57] mturley commented on #2
Yep, I'm on it.

[2018-02-02 01:07] priley86 commented on #21
Thanks! ...we can fix them all.

[2018-02-02 17:11] serenamarie125 opened #26 "Infrastructure Mapping Wizard / Step 2"
Implement the second step of the Infrastructure Mapping Wizard.

Check with @priley86 on what he's done in the past with a dual pane type selector.  We will not be contributing anything to PF for the dual pane selector for now, because of time constraints.

![4aa-createmapping-clusters](https://user-images.githubusercontent.com/12504403/35745515-87826bc8-0811-11e8-8d29-34e32266176b.png)
![4b-creat

[2018-02-02 17:16] serenamarie125 opened #27 "Infrastructure Mapping Wizard / Step 3"
Note that this should not be started until the following is completed:
#26 (Infrastructure Mapping Wizard / Step 2)

Implement the third step of the Infrastructure Mapping Wizard.

Check with @priley86 on what he's done in the past with a dual pane type selector.  We will not be contributing anything to PF for the dual pane selector for now, because of time constraints.

![5a-createmapping-datasto

[2018-02-02 17:17] serenamarie125 opened #28 "Infrastructure Mapping Wizard / Step 4"
Note that this should not be started until the following is completed:
#26 (Infrastructure Mapping Wizard / Step 2)
#27  (Infrastructure Mapping Wizard / Step 3)

Implement the third step of the Infrastructure Mapping Wizard.

Check with @priley86 on what he's done in the past with a dual pane type selector.  We will not be contributing anything to PF for the dual pane selector for now, because of

[2018-02-02 17:22] serenamarie125 opened #29 "Infrastructure Mapping Wizard / Step 1"
Note that this should not be started until the following is completed:
#2 Stub "Create Infrastructure Mapping" Wizard

Implement the first step of the Infrastructure Mapping Wizard

This page has a mandatory name and optional description.
Next should be disabled until the mandatory input is input.

![4a-createmapping-general](https://user-images.githubusercontent.com/12504403/35746093-a4933696-081

[2018-02-02 17:26] serenamarie125 opened #30 "Stub "Create Migration Plan" Wizard"
Simple wizard flow at this point first - so we can enable the other wizard steps to be developed simultaneously.

There are 3 steps in the wizard:
- General
- VMs
- Results

Stub the wizard steps indicators and the wizard back/next in the footer for infra mapping wizard that would be great. Let's just tackle that one first and try the planning wizard next...

[2018-02-02 17:33] AparnaKarve commented on #29
Per the note above -

#2 Stub "Create Infrastructure Mapping" Wizard

@mturley Wanted to check with you if I could take this task.
It looks like #2 is related to this.
Just ensuring that you and I don't end up working on the same thing.

[2018-02-02 18:13] AparnaKarve commented on #29
@priley86 @serenamarie125 In Classic UI, we currently display "Required" in red for all mandatory fields, as seen below -

<img width="896" alt="screen shot 2018-02-02 at 9 48 11 am" src="https://user-images.githubusercontent.com/1538216/35747188-3d731810-07fe-11e8-93bb-7fc1fa1ea308.png">

Do we currently have a mechanism to do this? I didn't see any examples that implement this in the Form storie

[2018-02-02 18:21] mturley commented on #29
@serenamarie125 thank you for breaking this all down!

@AparnaKarve I think we have an error display pattern for this: http://www.patternfly.org/pattern-library/forms-and-controls/data-input/ see "With error"

[2018-02-02 19:19] AparnaKarve commented on #29
@mturley Right, thanks!

 https://react-bootstrap.github.io/components/forms/ was quite helpful.
`validationState="error"` does the trick.

[code]

[2018-02-02 19:43] priley86 commented on #29
yes @AparnaKarve ... i think we want to try and write some forms with `redux-form` the way they do in Foreman here:
https://github.com/theforeman/foreman/blob/develop/webpack/assets/javascripts/react_app/components/common/forms/TextField.js

If you can dive into this now, that's great... that will be next for us after #2 is done...

[2018-02-03 05:20] serenamarie125 opened #31 "Infrastructure Mapping Wizard / Step 5"
Note that this should not be started until the following is completed:
#2 (Stub Create Infrastructure Mapping Wizard)
#30 (Stub Create Migration Plan Wizard)

![8b-createmapping-results](https://user-images.githubusercontent.com/12504403/35763326-8e9536dc-0877-11e8-9bfe-3248b5127539.png)

When status is successful, Cancel & Back buttons shown be disabled, and the "Next" button label should change

[2018-02-03 05:22] serenamarie125 opened #32 "Migration Plan Wizard - Step 3"
Note that this should not be started until the following is completed:
#30 (Stub Create Migration Plan Wizard)

![9e-createplan-results](https://user-images.githubusercontent.com/12504403/35763341-140f856a-0878-11e8-94b8-9c1d7186cb33.png)

The results page just states that the plan is in progress.

Cancel & Back buttons shown be disabled, and the "Next" button label should change to Close. Close s

[2018-02-03 05:27] serenamarie125 opened #33 "Migration Plan Wizard - Step 2"
Note that this should not be started until the following is completed:
#30 (Stub Create Migration Plan Wizard)

*** Note that the below mocks may have been updated - need to updated on 06-Feb ***
![9ca-createplan-vms-import](https://user-images.githubusercontent.com/12504403/35763361-78eb6af8-0878-11e8-8462-dbad9283c29b.png)
![9cb-createplan-vms-import](https://user-images.githubusercontent.com/12

[2018-02-03 05:30] serenamarie125 opened #34 "Migration Plan Wizard - Step 2 - Import another file"
Note that this should not be started until the following is completed:
#33 Migration Plan Wizard - Step 2

If a file has already been imported, the Import button remains active.
If the user decides to import another file, post an confirmation message letting them know the list of VMs will be overwritten with the new import.
Once the user confirms, replace the existing list of VMs with the contents

[2018-02-03 05:37] serenamarie125 commented on #16
@priley86 can we close this in lieu of #30 ?

[2018-02-03 05:38] serenamarie125 commented on #10
<img width="571" alt="screen shot 2018-02-03 at 12 34 57 am" src="https://user-images.githubusercontent.com/12504403/35763448-84089eae-087a-11e8-9c99-6e6d12709a96.png">
<img width="576" alt="screen shot 2018-02-03 at 12 34 40 am" src="https://user-images.githubusercontent.com/12504403/35763449-841b0292-087a-11e8-8b06-36755546c51f.png">

[2018-02-03 05:39] serenamarie125 commented on #11
<img width="575" alt="screen shot 2018-02-03 at 12 39 31 am" src="https://user-images.githubusercontent.com/12504403/35763461-beae626e-087a-11e8-8c2b-669dc009eb7f.png">

[2018-02-03 05:42] serenamarie125 opened #35 "Enable drill down to failed migrations from Migrations Completed"
Note that this should not be started until the following is completed:
#11 (Create the Migration Completed Cards)

When clicking on the number of failed migrations in a Migration Completed card, show the VMs with associated message.

Design not yet completed - currently 2 possible designs

[2018-02-05 12:35] priley86 commented on #16
yep, thanks the further breakdown and descriptions on those!

[2018-02-05 12:35] #16 closed

[2018-02-05 14:38] serenamarie125 opened #36 "Migration Plan Wizard - Step 1"
Note that this should not be started until the following is completed:
#30 Stub "Create Migration Plan" Wizard is complete

Implement the first step of the Migration Plan Wizard

![9a-createplan-general](https://user-images.githubusercontent.com/12504403/35809949-29196d90-0a58-11e8-929f-7252439e6c58.png)

This page has a
- mandatory infrastructure mapping
- mandatory name
- optional description.

[2018-02-05 14:39] serenamarie125 commented on #36
@AparnaKarve This may be a great next issue for you once you've completed #29

[2018-02-06 17:21] priley86 commented on #19
@ZitaNemeckova do you mind following up on the server side integration as you have time? I think this will be next steps on i18n. It's also something we could defer until ui-classic integration later.

[2018-02-07 12:13] mturley commented on #30
This will be closed by #38.

[2018-02-07 12:13] mturley commented on #2
This will be closed by #38.

[2018-02-07 15:32] priley86 commented on #19
i noted in #38 that we would like to use the existing `gettext_i18n_rails` library for i18n messages how it is done here:
 https://github.com/theforeman/foreman/blob/develop/app/assets/javascripts/i18n.js

I think long term react-intl `FormattedMessage` is potentially a better option if we are all introducing that library for Dates.

[2018-02-07 15:32] priley86 commented on #19
Will revisit in future PRs..

[2018-02-07 15:36] priley86 commented on #19
actually, another idea on this which may work better:

maybe we can inject the `i18n.gettext.apply(i18n, arguments)` into the ReactIntl `messages` created here:
https://github.com/priley86/miq_v2v_ui_plugin/blob/master/app/javascript/common/i18nProviderWrapperFactory.js#L34

then we can avoid another global on the window...and be more consistent w/ our library implementation.

thoughts @ohadlevy @

[2018-02-07 16:18] mzazrivec commented on #19
@priley86 Just to organize my thoughts, what's meant by "server side integration" here?

[2018-02-07 16:59] priley86 commented on #19
@mzazrivec sure... some more thoughts here.

In the following [PR](https://github.com/theforeman/foreman/pull/5184/files), the Foreman team proposed the introduction of `react-intl` for Dates and Times. I'm additionally proposing we use `react-intl` for i18n messages, however, in an interim fashion alongside `gettext`.

So Foreman i18n looks like this right now:
*Dates & Numbers*:
(server creates

[2018-02-07 18:28] priley86 commented on #19
@ohadlevy @mzazrivec one thing this solution may be overlooking is the individual async nature of `i18n.gettext`? I would expect that we can "bulk" load translation text either all up front for this plugin(short term) or per module(short term). Long term `react-intl` would handle this because the text is split per module.

[2018-02-07 19:08] priley86 commented on #36
@AparnaKarve this should be ready to get going on now! let me know if you have any concerns...

[2018-02-07 19:33] priley86 commented on #26
@michaelkro would you mind taking a look at this? I think I shared my existing dual pane code with you, but let me know if you have any questions.

[2018-02-08 11:52] himdel commented on #19
... correct me if I'm wrong, but `react-intl` does not understand gettext at all right? (I'm seeing only https://github.com/rubencosta/react-intl-gettext with almost 0 activity)

So.. this would mean using 2 completely separate mechanisms for i18n, and presumably even separate UI for translators...?

I think we're kinda married to gettext..

[2018-02-08 14:36] priley86 commented on #19
@himdel yes these are separate i18n providers and typically used independently. To @AparnaKarve 's point [here](https://github.com/priley86/miq_v2v_ui_plugin/pull/38#discussion_r166722048) (and I was confused on this), `gettext` does the extraction as a rake task (kind of like `react-intl` does it with babel to json files).  I guess my biggest problem right now w/ `gettext` is I kind of see this a

[2018-02-08 15:37] priley86 commented on #3
taking a stab at this now..

[2018-02-08 17:06] #2 closed

[2018-02-08 17:07] #30 closed

[2018-02-08 17:11] mturley commented on #36
I didn't include a mechanism in ModalWizard for the next button to be disabled in certain conditions. That will need to be added as part of this work.

[2018-02-08 17:17] mturley commented on #33
I'm taking this on next, and as I mentioned in #36, someone will need to add a feature to ModalWizard to prevent Next from being clicked before the form is validated. @priley86 @AparnaKarve @serenamarie125 just want to keep track of that, as it's one thing where we could end up duplicating efforts.

If I get to it first, I will add the Next button thing as part of the work for this issue.

[2018-02-08 17:25] priley86 commented on #33
thanks @mturley ... good point. And yes, agree it can come after you have the import piece working first!

[2018-02-09 15:46] vconzola commented on #34
![9cd-createplan-vms-import](https://user-images.githubusercontent.com/22823035/36035930-6b7caec8-0d86-11e8-9ea2-f61c6be09f5e.png)

[2018-02-11 12:54] priley86 commented on #19
Closing this for now. What's been started in #41 and #37 should be sufficient for the POC.

[2018-02-11 12:54] #19 closed

[2018-02-11 12:55] priley86 commented on #3
I've received mock api json and urls for retrieving source and target clusters. I should have a PR up on Monday for this.

[2018-02-14 14:42] priley86 commented on #4
Going to try and start this one next...

[2018-02-14 18:37] #3 closed

[2018-02-16 02:31] mturley opened #45 "Commented-out code"
Commented-out code is introduced by #42. We should remove it before merging upstream, but i'm letting it merge for now to unblock the next PR.

[2018-02-16 02:50] mturley opened #46 "FormField should be moved to a common directory"
See @priley86's comment on #42 in FormField.js. He proposes moving

[code]

to

[code]

but I am merging the PR without this to unblock us.

[2018-02-16 02:55] mturley opened #47 "Whether or not to use redux-form, and "This may not be required if using Redux form" comments"
We are using redux-form for now, but there was concern from me and from @priley86 while debugging issues with it that we may want to either replace it with another package or roll our own implementation of form validation with redux (which isn't too much boilerplate).

The issues that prompted that were resolved, so we stuck with it (for now?), but there are still comments reading `// This may not

[2018-02-16 16:38] #29 closed

[2018-02-16 16:43] priley86 commented on #36
@AparnaKarve can you close this issue after your tests are completed?

[2018-02-16 16:45] priley86 commented on #36
also can you post screenshots for @serenamarie125 ?

[2018-02-16 18:56] mturley commented on #33
I'm finally back on this issue in full force. Had so many issues to work through with both my environment and helping the guys with redux-form. Fully up and running now! commits incoming in the next few hours.

[2018-02-16 19:03] mturley commented on #45
This is fixed by #42.

[2018-02-16 19:03] #45 closed

[2018-02-16 19:04] mturley commented on #46
This is fixed by #42.

[2018-02-16 19:04] #46 closed

[2018-02-16 19:05] mturley commented on #47
This is fixed by #42. Thanks @AparnaKarve!

[2018-02-16 19:05] #47 closed

[2018-02-16 19:15] mturley opened #50 "To redux-form or not to redux-form"
I closed #47 because those comments were removed, but I'm going to leave this general issue open for any discussion about whether or not we should ditch [`redux-form`](https://redux-form.com/7.2.3/). Had we started from scratch without it, I believe we would have been done in half the time... but we have sunk enough time into it and gotten it working after much frustration, so I see no immediate n

[2018-02-16 19:41] priley86 commented on #50
yea i am wondering if any of those validators could live in `patternfly-react`... but will have to dive in some more soon. It was quite frustrating in some areas so I think it is worth further investigation.

[2018-02-16 19:53] AparnaKarve commented on #50
When I went through some of the `redux-form` code examples, it looked really nice and simple.
I mostly gave it high points because of how it handles validation and the UX around it (exactly what I was looking for) and then, the fact that the foreman project was also using it sealed the deal.

I would have definitely evaluated react-validation and compared the two, had I known about it before.

[2018-02-18 17:43] priley86 commented on #50
re:

I continue to believe it is. Was considering that some this week... continuing to put more state in the individual components does not scale as well i.m.h.o., simply because, it can't be moved or shared as easily as redux state (which can be shared via the store keys and then selected individually anywhere). If I am putting that state in a component it can only be used in one place (and kind

[2018-02-18 20:32] priley86 commented on #50
I guess my biggest complaints w/ redux-form discovered so far were around the infinite loop scenario and what we found around the form resets (seems it would have been better to write our own handlers? but there is maintenance to writing our own redux-form connectors too... and haven't made it far enough w/ the validators to know whether they are good/bad yet...

thoughts?

[2018-02-19 20:09] priley86 commented on #5
Working these next.

[2018-02-19 20:10] priley86 commented on #12
also starting the scaffolding for these.

[2018-02-19 20:11] priley86 commented on #7
also starting this now.

[2018-02-20 16:16] #23 closed

[2018-02-20 16:26] michaelkro commented on #26
Closed by https://github.com/priley86/miq_v2v_ui_plugin/pull/44

[2018-02-20 16:26] #26 closed

[2018-02-20 21:13] priley86 commented on #12
Ready to get going on these next...

[2018-02-20 21:35] priley86 opened #56 "Add the Infrastructure Mappings Navigation and design placeholder"
Design Placeholder is here:

![v2v-mappings-content 2x](https://user-images.githubusercontent.com/4237045/36450466-07819652-165c-11e8-8e0a-5f023408b58f.png)

[2018-02-20 21:36] priley86 opened #57 "Design enhancements - Overview / Empty design"
Ensure Overview page meets our Empty view high fidelity design:

![v2v overview page-empty 2x](https://user-images.githubusercontent.com/4237045/36450532-3740d27c-165c-11e8-83bb-9b77439f639d.png)

[2018-02-20 21:38] priley86 commented on #10
High fidelity design is here:
![v2v overview page-populated 2 2x](https://user-images.githubusercontent.com/4237045/36450584-6a81cc68-165c-11e8-9268-0f40ca502780.png)

[2018-02-20 21:39] priley86 commented on #11
High fidelity design is here:
![v2v overview page-populated 2 2x](https://user-images.githubusercontent.com/4237045/36450638-9957c416-165c-11e8-9752-b6107b6afae9.png)

[2018-02-20 21:43] priley86 commented on #4
These are done. Just waiting for @michaelkro 's PR to merge mine ;)

[2018-02-20 21:43] priley86 commented on #5
These are done. Just waiting for @michaelkro 's PR to merge mine ;)

[2018-02-22 01:41] mturley commented on #33
This will be closed by #51 when that PR is complete.

[2018-02-22 01:46] mturley commented on #34
I noticed that something like this was needed, and almost added a similar feature where the import button turned into a "discard" button allowing you to go back to the import screen.  Glad I saw this before I did that-- I'll do this instead.

This might be part of #51 depending on review/timing.

[2018-02-22 01:52] mturley commented on #13
Starting this next, shouldn't take much time at all on top of what we have already.

[2018-02-22 13:00] priley86 commented on #4
Contained in #58 PR. Closing this PR.

[2018-02-22 13:00] #4 closed

[2018-02-22 13:37] priley86 commented on #5
This is already incorporated in #58. Closing.

[2018-02-22 13:37] #5 closed

[2018-02-22 13:38] priley86 commented on #31
And...... starting this now too....

[2018-02-22 16:44] mturley commented on #50
I agree with everything you said, @priley86 . Also to clarify, I only meant that we might not want the redux persistence to be implicit. I definitely think we should persist those fields to redux, but doing so explicitly without a confusing library would have been fine. My thoughts are that we should probably ditch it in the long term, but in the interest of time and decluttering this repo, since

[2018-02-22 16:44] #50 closed

[2018-02-22 19:04] #21 closed

[2018-02-22 21:41] priley86 commented on #7
Closed by #55

[2018-02-22 21:41] #7 closed

[2018-02-22 23:10] mturley commented on #10
Sounds like @jeff-phillips-18 might be the one doing this.  Relevant API examples: https://gist.github.com/bzwei/3213174ee5efb4e377d789df8394cf2b

[2018-02-22 23:12] mturley commented on #14
For the POC, This API call should be part of the same action as #13 (creating a migration plan will immediately create a migration request for that plan, but post-POC it will not, is my understanding)

[2018-02-23 05:44] mturley commented on #34
@serenamarie125 @vconzola, for now I am implementing this as designed, but in figuring out how to get a warning-modal-inside-a-modal like this, I discovered this piece of wisdom: http://alistapart.com/article/neveruseawarning

Maybe instead, the overwrite operation should happen without a warning, and then a message should appear above the list saying "The existing list was overwritten from your n

[2018-02-23 05:52] mturley commented on #34
Note that instead of having this "replace" behavior, we could instead have a "clear and go back" behavior. Currently you cannot return to the EmptyState view that tells you to drag-and-drop files. you will get the warning if you try to drag-and-drop again or click import again.  Instead we could have the Import button become a "Clear" or "Discard" button after importing. And if they click that, th

[2018-02-23 06:28] mturley commented on #34
Implemented a barebones version of this with the warning dialog as designed, in PR #51. I think that's worth keeping even if we don't end up making it fancier.

[2018-02-23 13:11] priley86 commented on #12
It looks like APIs have now been posted: https://gist.github.com/bzwei/3213174ee5efb4e377d789df8394cf2b

cc: @jeff-phillips-18

[2018-02-23 21:09] michaelkro commented on #27
Closed by https://github.com/priley86/miq_v2v_ui_plugin/pull/58

[2018-02-23 21:09] #27 closed

[2018-02-23 21:23] michaelkro opened #63 "Add Total Source Datastores Info"
We need to be able to query for all of the datastores for all source clusters in order to

1. Get a total count of datastores that need to be mapped
2. Warn the user about any unmapped source datastores

Please see pictures below

## From the PoC Mocks

<img width="1078" alt="v2v_poc_-_ux_proposal_20180131b_-_google_slides" src="https://user-images.githubusercontent.com/15141412/36617219-9932e1f0-

[2018-02-24 00:03] serenamarie125 commented on #36
Looks like this is closed by #61

[2018-02-24 00:03] #36 closed

[2018-02-25 21:15] serenamarie125 commented on #56
This is closed by #62

[2018-02-25 21:15] #56 closed

[2018-02-26 15:23] priley86 commented on #31
Hoping to have Step 5 ready later today...and will add in the additional "continue" feature which will pre-select the Mapping in Step 1 of Plan Wizard (this becomes a pass-through feature).

[2018-02-26 21:37] mturley opened #66 "Misc post-POC cleanup items"
Not sure if these are big enough to deserve individual issues, we can maybe create some for them when we actually get around to them. If anyone thinks any of these in particular should be made their own issues up front, let me know.

- [ ] Step 2 of the Plan Wizard (CSV upload step) uses some basic CSS to provide a hover state, and combines some existing design patterns, but we should give this CS

[2018-02-27 01:40] mturley commented on #34
@vconzola, that's fine by me. Honestly the main reason I suggested the undo, is that in this case it happens to be the reverse, and an undo button (here a clear button, really) would be easier than making the correct design for a confirm dialog following pf patterns. Since this is `stretch`, I didn't spend time on that and my implementation is connected to `window.confirm()` as a placeholder. But

[2018-02-27 01:43] mturley commented on #34
The other thing that made me hesitant to go with the pf confirm dialog is that we then have a modal-inside-a-modal, which is a little odd looking. Is that a common thing we do? Again either way is fine by me. Sorry to waste time on such a little thing :)

[2018-02-27 02:44] serenamarie125 commented on #34
yup we do modals on modals when it's a confirmation dialog @mturley

[2018-02-27 02:45] serenamarie125 commented on #34
@mturley I agree with @vconzola that the warning dialog is 👍

[2018-02-27 02:45] mturley commented on #34
Got it! Well, then I'll leave the placeholder confirm and alert calls for now, and we'll come back to this time permitting.

[2018-02-27 02:58] serenamarie125 commented on #33
Closed by #51

[2018-02-27 02:58] #33 closed

[2018-02-27 21:14] michaelkro commented on #28
Closed by https://github.com/priley86/miq_v2v_ui_plugin/pull/68

[2018-02-27 21:14] #28 closed

[2018-02-27 21:50] priley86 commented on #31
Closed via #68

[2018-02-27 21:50] #31 closed

[2018-02-28 12:23] priley86 commented on #63
@michaelkro are you starting this next?

[2018-02-28 12:47] michaelkro commented on #63
@priley86 yup!  Have a couple ideas on how to get errr done

[2018-02-28 14:40] serenamarie125 opened #76 "Create the warning dialog in the Infrastructure Mappings Wizard"

[2018-02-28 16:43] mturley commented on #6
This was solved by reduxForm.

[2018-02-28 16:43] #6 closed

[2018-02-28 16:43] serenamarie125 commented on #76
This is a dup of #63

[2018-02-28 16:43] #76 closed

[2018-02-28 16:48] mturley commented on #14
This is going to be part of Aparna's upcoming PR.

[2018-02-28 16:49] mturley commented on #13
This ended up getting delayed due to issues with the wizard code last week, and now is part of Aparna's upcoming PR. Apologies for my above comment-- "starting this next" turned into letting Aparna start it while I debugged other things.

[2018-02-28 18:18] serenamarie125 opened #77 "When no infrastructure mappings exist, the Create Migration Plan empty state should be disabled"
When no infrastructure mappings exist, the create migration plan empty state should
- disable the button
- update the secondary text to "Before you can create a migration plan, you need to create an infrastructure mapping." (text was given to us from our Content Strategist)

<img width="534" alt="screen shot 2018-02-28 at 1 13 37 pm" src="https://user-images.githubusercontent.com/12504403/36804778

[2018-02-28 18:44] priley86 opened #78 "Wire Mapping Wizard APIs into "real" APIs"
* test the responses for clusters/networks/datastores and make sure they are valid
* test the responses for posting transformation_mappings
* change mock/dummy urls and remove the action creator exception responses (returning stubs now)

[2018-02-28 18:47] priley86 opened #79 "Wire Plan Wizard APIs into "real" APIs"
* test the responses for `/api/service_templates` (to create a migration plan) and `/api/provision_requests` to create a Migration Request
* change mock/dummy urls and remove the action creator exception responses (returning stubs now)

[2018-02-28 18:48] priley86 opened #80 "Wire Overview into "real" APIs"
* test the responses for `/api/transformation_mappings` to query all mappings, and `/api/service_requests` to get the Overview Card statuses
* change mock/dummy urls and remove the action creator exception responses (returning stubs now)

@jeff-phillips-18 do you know of any others?

[2018-03-01 15:16] jeff-phillips-18 commented on #12
This work is included in #82 and #86

[2018-03-01 16:05] priley86 commented on #78
Closes by #84

[2018-03-01 16:17] michaelkro commented on #63
Closed by https://github.com/priley86/miq_v2v_ui_plugin/pull/84

[2018-03-01 16:17] #63 closed

[2018-03-01 16:24] priley86 commented on #78
revisiting the "unhappy" paths next... and display error messaging...

[2018-03-02 13:17] priley86 opened #95 "fix issue w/ closing at step 5"
* previously the mappings were not reloaded if the user decided to Close instead of Continue.

[2018-03-02 16:14] #12 closed

[2018-03-02 16:15] #11 closed

[2018-03-02 16:15] #10 closed

[2018-03-02 17:34] mturley opened #98 "Don't allow datastore mapping if the space available in the target datastore is less than the size of the selected source datastores"
From @vconzola:

[2018-03-02 17:35] mturley opened #99 "Remove the message "At least one VM needs to be selected." that appears before a CSV file has been imported in step 2 of the plans wizard"
![atleastonevm](https://user-images.githubusercontent.com/811963/36997603-2c370604-2088-11e8-807c-2c80ebf02895.png)

[2018-03-02 18:35] vconzola commented on #98
Mockup:
![5b-createmapping-datastores w_ inline error](https://user-images.githubusercontent.com/22823035/36915409-8ab3e0ce-1e1e-11e8-87fb-dfe1266cd29e.png)

[2018-03-02 18:37] #35 closed

[2018-03-02 18:58] mturley opened #102 "Replace the native `confirm()` dialog with a Patternfly Modal dialog."
Seen in Plan Wizard Step 2, when you upload a second CSV file and need to confirm overwriting the old one, or when you upload an invalid file.

Note that this is slightly higher priority because of how ugly the title is in the native dialogs: "0.0.0.0:8080 says..."

[2018-03-02 18:59] mturley commented on #66
Moved one of the above items into its own issue for higher priority: #102

[2018-03-02 19:00] mturley opened #103 "Show target cluster names as well as source cluster names in the dropdowns on the Datastores and Networks pages of the mapping wizard"
From @vconzola:

[2018-03-02 19:00] mturley opened #104 "Show source datastores sizes and target datastores available space in the lists"
From @vconzola:

[2018-03-02 19:01] mturley opened #105 "Add ability to remove mappings at the source datastore/network level"
From @vconzola:

@michaelkro, sounds like this one might fall on stuff you're already working on?

[2018-03-02 19:02] mturley opened #106 "Shorten the datastore and network list boxes (from about 9 to 5 per list) to reduce the likelihood of needing to scroll the mappings wizard modal"
Another one from @vconzola, maybe for @michaelkro ?

[2018-03-02 19:03] mturley opened #107 "Change the infra mapping dropdown on step 1 of the plans wizard so that it actually drops down instead of flying up"
From @vconzola:

Not sure if you were already looking at this, @priley86 .

[2018-03-02 19:05] mturley commented on #95
Looks like this is closed by #94.

[2018-03-02 19:05] #95 closed

[2018-03-02 20:11] priley86 commented on #107
The "General Step" dropdowns are currently just using native browser `select` elements. This appears to be a Foreman convention as well. Should we change the dropdowns to PF React dropdowns instead of native selects? This is cosmetic...

<img width="899" alt="screen shot 2018-03-02 at 3 06 13 pm" src="https://user-images.githubusercontent.com/4237045/36919602-e5399752-1e2b-11e8-8981-c5a4fff59fbe.p

[2018-03-02 20:15] serenamarie125 commented on #57
Closed by Jeff's PR #100

[2018-03-02 20:15] #57 closed

[2018-03-02 20:20] priley86 opened #109 "Mapping Wizard - "unhappy" error APIs"
Steps 2 - 4 need error messages for when APIs return errors instead of clusters/networks/datastores.

[2018-03-02 20:20] priley86 commented on #78
Moved the above to # 109

[2018-03-02 20:20] #78 closed

[2018-03-02 20:22] mturley commented on #79
This one is now part of @AparnaKarve's latest PR https://github.com/priley86/miq_v2v_ui_plugin/pull/93, which I have been discussing with her.

[2018-03-02 20:24] #80 closed

[2018-03-02 20:30] #14 closed

[2018-03-02 20:30] #13 closed

[2018-03-02 20:38] mturley commented on #34
Closing this because the remaining issue is captured in #102 and still unassigned.

[2018-03-02 20:38] #34 closed

[2018-03-02 21:04] serenamarie125 commented on #103
Making this a p1, but worried that this may affect the layout of screens ... make sure we get a quick UX review on this before PR is merged please @vconzola FYI

[2018-03-02 21:09] mturley commented on #99
Unassigned myself because it's not p1 and i didn't start yet.

[2018-03-02 21:36] mturley commented on #77
@serenamarie125 on this one you meant "When no infrastructure mappings exist", right? I just noticed it after working on this already. haha.

[2018-03-02 22:03] #79 closed

[2018-03-02 22:03] #32 closed

[2018-03-05 03:57] serenamarie125 commented on #99
@mturley Can you include a screenshot in the description please?

[2018-03-05 03:59] serenamarie125 commented on #98
@vconzola how would you suggest this work?  When the user clicks Add Mapping, it posts an Inline Notification, and nothing is adding in the tree below?

I'm not sure I like the inline notification, because it will move everything down in the wizard.  Would you be ok with an error dialog/modal?

[2018-03-05 04:00] serenamarie125 commented on #109
@priley86 do we need any design input here ?

[2018-03-05 09:35] michaelkro commented on #98
I've started some work on this, so I'll post some gifs/screenshots to see what you guys think

[2018-03-05 09:42] michaelkro commented on #98
## Case 1
* Source datastore(s) selected first
* Selected target datastore does not have enough capacity

## Gif
![1](https://user-images.githubusercontent.com/15141412/36968019-57c53f24-202f-11e8-82be-9a70de6f7fc3.gif)

## Screenshot
<img width="1920" alt="fullscreen_3_5_18__4_40_am" src="https://user-images.githubusercontent.com/15141412/36968113-925f5dc2-202f-11e8-828c-0445e02dbbcd.png">

[2018-03-05 09:52] michaelkro commented on #98
## Case 2
* Valid selection of source and target datastores has already been made
* User attempts to add another source datastore that is too large

### gif
![2](https://user-images.githubusercontent.com/15141412/36968616-0dbab678-2031-11e8-8ee0-a51aa1c5ed78.gif)

[2018-03-05 10:02] michaelkro commented on #98
## Case 3

* Valid selection of source and target datastores has already been made
* User cannot change to a target datastore that is too small
* If a valid selection is made, automatically dismiss alert

### gif
![3](https://user-images.githubusercontent.com/15141412/36969055-69c0dc80-2032-11e8-9d44-da17532eb3f4.gif)

[2018-03-05 10:07] michaelkro commented on #98
## Case 4
* Target datastore selected first
* User cannot select source datastore(s) that exceed the target datastore's capacity
* Valid selection automatically dismisses alert

### gif
![4](https://user-images.githubusercontent.com/15141412/36969265-02f01cd6-2033-11e8-9bee-d51b36ed3b54.gif)

### Screenshot
<img width="1920" alt="fullscreen_3_5_18__5_04_am" src="https://user-images.githubuserconte

[2018-03-05 13:47] vconzola commented on #98
@MikeRo This is exactly how I pictured this working. Nice job. I suggest
using the message text in Case 4 for all cases.

Thanks.

VINCE CONZOLA

SR. INTERACTION DESIGNER, USER EXPERIENCE DESIGN

Red Hat <https://www.redhat.com/>

vconzola@redhat.com    T: 9197165041
<https://red.ht/sig>

On Mon, Mar 5, 2018 at 5:07 AM, Michael Ro <notifications@github.com> wrote:

[2018-03-05 13:50] priley86 commented on #99
@mturley do you want to tackle this one?

[2018-03-05 14:08] michaelkro commented on #103
Handled by https://github.com/priley86/miq_v2v_ui_plugin/pull/113

[2018-03-05 14:17] michaelkro commented on #98
The work shown above is complete, but depends on https://github.com/priley86/miq_v2v_ui_plugin/pull/108 being merged

[2018-03-05 18:20] michaelkro commented on #104
https://github.com/priley86/miq_v2v_ui_plugin/pull/108

[2018-03-05 19:19] #104 closed

[2018-03-05 19:20] #106 closed

[2018-03-05 20:00] mturley opened #116 ""Add Mapping" button should be primary / blue / highlighted, as per design mocks."
Title says it all. Visible in multiple steps of the Infrastructure Wizard, the Add Mapping button is currently the same color as the others.

[2018-03-05 20:09] mturley commented on #77
Closed by #110

[2018-03-05 20:09] #77 closed

[2018-03-05 20:10] mturley commented on #99
Sure, sorry for the delay reviewing / getting my env back up. Pushing a fix to my other PR, and then I'll do this one. @serenamarie125 i'll add that screenshot in a sec.

[2018-03-05 20:11] mturley commented on #103
Closed by #113

[2018-03-05 20:11] #103 closed

[2018-03-05 20:12] mturley commented on #98
Closed by #108

[2018-03-05 20:12] #98 closed

[2018-03-05 20:56] priley86 commented on #99
fixed in #117 - thanks @mturley !

[2018-03-05 20:56] #99 closed

[2018-03-05 21:04] mturley commented on #107
I'm not sure whether this is necessary to fix, I kind of like the browser default behavior, especially when there is a long list.  We are a little inconsistent though in that we use react `DropdownButton` components for the source cluster selection, etc. What do you guys think?

[2018-03-05 21:08] mturley commented on #116
I'll just knock this one out, it's bothering me :P

[2018-03-05 21:14] mturley commented on #116
Fixed in #119

[2018-03-05 21:45] #116 closed

[2018-03-05 21:48] mturley commented on #105
@michaelkro mentioned on Slack that he had this one in progress and that it may take a bit longer.

[2018-03-05 21:49] mturley commented on #102
Note, when we get to this-- now that @michaelkro has added the `Alert` component to `ModalWizard`, we should use that to replace the `alert()` browser call. The `confirm()` call still needs a full modal.

[2018-03-05 21:52] mturley commented on #109
I think this issue would be resolved by having any error displayed at all (right now it fails silently, right @priley86?) and they could be as simple as "Failed to load clusters", etc. @serenamarie125 I don't think we need design input unless there are multiple kinds of subtle errors to be distinguished, or we want to explain possible next steps to solve the problem.

[2018-03-05 22:20] priley86 commented on #109
i _believe_ the error is returned to the UI already... just need to display it. We can confirm this tomorrow though ;)

[2018-03-06 03:16] vconzola commented on #107
I still prefer the react dropdown. Have you asked Serena what she thinks?

VINCE CONZOLA

SR. INTERACTION DESIGNER, USER EXPERIENCE DESIGN

Red Hat <https://www.redhat.com/>

vconzola@redhat.com    T: 9197165041
<https://red.ht/sig>

On Mon, Mar 5, 2018 at 4:04 PM, Mike Turley <notifications@github.com>
wrote:

[2018-03-06 03:27] serenamarie125 commented on #107
@vconzola I'm not 100% sure what you're refering to.  I think that this React Select seems much nicer + supports autocomplete.  What do you think?

[2018-03-06 03:28] serenamarie125 commented on #109
I guess the question is, "how" are we presenting errors in the wizard.  Maybe we can talk at our daily tomorrow.

[2018-03-06 03:36] mturley commented on #107
There is already a non-native Dropdown Button component of some kind in the source selection at the top of some of the mapping wizard steps. Not sure if we want to just use that, or use something better in both cases.  @serenamarie125 did you mean to include a link? Which react select component are you referring to?

[2018-03-06 03:37] mturley commented on #107
I think the one currently in the mapping wizard is what @vconzola is pointing to

[2018-03-06 03:50] serenamarie125 commented on #107
oops! http://jedwatson.github.io/react-select/

[2018-03-06 13:43] priley86 commented on #107
soooo.... we never got around to contributing react-select (and apologies for the confusion). This one is additionally confusing b/c we ended up starting the contribution w/ Downshift for Autocomplete, but it also supports [Dropdown](http://downshift.netlify.com/?selectedKind=Examples&selectedStory=dropdown&full=0&addons=1&stories=1&panelRight=0). These Downshift library components are completely

[2018-03-06 13:45] priley86 commented on #109
Agree ;)

Will start looking at this to be prepared for standup...

[2018-03-06 14:25] vconzola commented on #107
If I followed all this correctly it sounds like the Mapping wizard is
using DropdownButton
while the Plan wizard is using the native select. lan Short term, I prefer
the DropdownButton, but am not going to lose sleep as long as they're
consistent.

VINCE CONZOLA

SR. INTERACTION DESIGNER, USER EXPERIENCE DESIGN

Red Hat <https://www.redhat.com/>

vconzola@redhat.com    T: 9197165041
<https://red.h

[2018-03-06 15:50] priley86 commented on #109
@serenamarie125 was chatting w/ @michaelkro  about this just now (and would also like feedback from @vconzola) . Do we have any issue w/ displaying a "Retry" on steps 2-4. We could easily re-query those APIs again. I think the question then becomes, do we allow them to proceed (and unblock the user). On Step 2 - I think we have to. On Step 3/4, I think we should allow them to proceed (even though

[2018-03-06 15:58] vconzola commented on #109
I agree with the Retry button, but think Next should always be disabled in the Error condition. What's the point of proceeding in the wizard if you can't map datastores or networks? In POC the user has no way to go back and edit an incomplete mapping, so why complete the wizard? If an incomplete mapping is used for a migration the migration will fail, so best to not let it be created.

[2018-03-06 16:05] AparnaKarve opened #121 "(Once re-enabled), number buttons are clickable in the second run of Infrastructure Mapping Wizard"
Steps to reproduce -

1. Go through the Infrastructure Wizard steps all the way to Step5 and hit Close
2. Start the Infrastructure Mapping Wizard again. This time around the number buttons are clickable.

NOTE: currently only visible if you remove the `stepButtonsDisabled` prop from both instances of `<ModalWizard.Body>`. This is a bug in that disabled behavior, to be fixed when we re-enable it.

[2018-03-06 16:22] serenamarie125 opened #122 "Disable number buttons in the wizard for the POC"
For the POC,
disable selection of the number buttons in the wizard.

[2018-03-06 16:31] serenamarie125 commented on #107
For now, utilize the same component as in the mapping wizard - @michaelkro should be able to point you in the right direction.

[2018-03-06 17:08] michaelkro commented on #107
Here is the component we're using in the Mapping wizard

[2018-03-06 20:24] mturley commented on #102
Renamed this because I'm breaking out the `alert()` piece into its own issue.

[2018-03-06 20:26] mturley opened #125 "Replace the native `alert()` dialog with a dismissible Alert component in the Wizard."
Alert code was written by @michaelkro, although this would be easy for someone else too.

Broken out from #102 where it was originally reported along with the `confirm()` behavior.

[2018-03-06 21:09] mturley commented on #122
Closed by #124

[2018-03-06 21:09] #122 closed

[2018-03-06 21:13] mturley commented on #121
As I've brought up on slack, this would be fixed by adding a state property for `farthestSeenStepIndex` and using that for `disableGoto` instead of the current implicit redux-form behavior it is based on.

[2018-03-06 21:53] priley86 commented on #105
closed by #123

[2018-03-06 21:53] #105 closed

[2018-03-07 02:49] serenamarie125 opened #126 "Long term look at using something like React Select rather than dropdown"
Rather than using dropdown, look into utilizing something like [React Select](https://jedwatson.github.io/react-select/) which optionally supports search & clear as well.

Currently the dropdown is used in both the infrastructure mapping and migration plan wizard.

Note that this ^^ should like be contributed to PatternFly React first.

[2018-03-07 09:56] ZitaNemeckova opened #127 "Breadcrumbs have weird behavior"
Compute redirects user to last page under Compute he visited but there's no information which it is.

Migration redirects user to Migration/Overview even when he never visited it.
How to reproduce:
- Log in
- Go to Compute -> Migration -> Infrastructure Mapping
- Click Migration in breadcrumbs

v2v:
<img width="228" alt="screen shot 2018-03-07 at 10 25 09 am" src="https://user-images.githubusercon

[2018-03-07 21:20] priley86 opened #134 "Step 5 Duplicate Name / Unhappy path"
Found while debugging locally earlier today... We still need to address the following "unhappy" pieces in step 5:

* 400 Error for "Bad Name" - the user has duplicated the Mapping Name (from step 1) and the backend fails when creating the Mapping on Step 5. We should probably make an exception here to let them go back to step 1 (but will let @serenamarie125 @vconzola give best advice on what to do

[2018-03-08 15:43] vconzola commented on #134
@priley86 Can we query the list of existing mappings when the user selects Next on page 1 of the mappings wizard? If duplicate, don't let the user proceed to cluster mapping.

[2018-03-08 16:54] priley86 commented on #134
@vconzola yes - i think we should change the UX to be a dropdown on Step 1 after having discussed it. Let's confirm w/ @serenamarie125 though and happy to fix it.

[2018-03-08 16:54] priley86 commented on #134
For the APAC demo - they are just going to be extra cautious to not use a duplicated mapping name...

[2018-03-08 18:05] AparnaKarve commented on #134
@priley86 There is also a possibility of preventing this error upfront as part of the form validation in Step1 and block the "Next" button.
When the user types in a name, we could look up the `transformationMappings` array in `overview`, and check if the typed in name matches any of the existing record names. If there's a match, display "Duplicate Name" (in red, like we do for the "Required" field

[2018-03-08 18:13] priley86 commented on #134
yes - sorry, something of that nature was what I had in mind as well @AparnaKarve. @serenamarie125 @vconzola maybe you'd like to clarify the behavior further in a UX/balsamic real quick for us...

[2018-03-08 18:16] priley86 commented on #109
Closing this, the Step 5 / Step 1 issues can be addressed in #134

[2018-03-08 18:16] #109 closed

[2018-03-08 18:48] priley86 opened #135 "QA Testing w/ Selenium"
Per the sprint demo conversation today, we will need to render ID's on some elements if supporting the current Selenium test tools in mIQ.

This issue is a reminder to follow up with e2e test teams and get requirements for now (as far as what elements need IDs).

[2018-03-08 19:48] vconzola commented on #134
What I was thinking is... When user selects Next on the page, check if the name is unique. If not, display the inline error and highlight the Name field. This follo
![4a-createmapping-general w inline error](https://user-images.githubusercontent.com/22823035/37172787-cb7e4fde-22df-11e8-9b1c-a8f3ad20afec.png)
ws the PatternFly Errors and Validation pattern.

[2018-03-08 19:59] AparnaKarve commented on #134
@vconzola We currently disable Next if the form is invalid.

Also, we display the error text (like "Required") when the user touches a Required field does not enter the Name and moves to the next field.

Would be better if we adhere to this behavior for the Duplicate Name validation as well.

[2018-03-08 20:19] AparnaKarve commented on #134
@vconzola On second thoughts, I think what you suggested above might be the way to go for this specific case.

[2018-03-08 21:35] priley86 opened #136 "Wizard abstractions"
@mturley i've reopened #67 - do you mind taking a stab at this? I've created a branch called `sprint5` just now (based on latest `migration-poc`). I've also tagged `migration-poc` with a `v1.0` label. We can continue pushing POC breakfixes/tags to `migration-poc` should they be necessary though...

As long as our wizard abstractions flexibly support the validations in place (and planned UX), it sh

[2018-03-08 21:39] priley86 commented on #134
@michaelkro do you want to try this out tomorrow morning?

[2018-03-08 21:40] michaelkro commented on #134
👍

[2018-03-09 04:15] serenamarie125 commented on #127
@ZitaNemeckova from a UX perspective, the breadcrumbs should be location breadcrumbs.  Currently, I don't think that ManageIQ is following that.  We should likely add an issue there to update appropriately.

[2018-03-09 17:19] vconzola opened #137 "Milestone 2: Change last step of Create Plan wizard"
Migration plans will no longer be run automatically at the end of the Create Plans wizard. Instead, the user will have a choice to run the plan when exiting the wizard or saving the plan and running it later. This requires the following UI changes to step 3 of the wizard:
 - change step name from Results to Review
 - show summary of inputs from previous steps (need to confirm with Serena and stake

[2018-03-09 17:29] vconzola opened #138 "Plan Wizard Step 1: Allow users to import or discover VMs"
Users will have two ways to populate the list of VMs for migration. They can either import a list of VMs in a .CSV file (POC design) or they can discover VMs located on the source clusters in the selected infrastructure mapping. This requires UI changes to step 1 of the Create Migration Plan wizard:
 - Add radio buttons asking the user if they want to import a list of VMs from a file or discover t

[2018-03-09 20:16] mturley commented on #136
Absolutely. I will take this on when I finish the straggler tasks from my remaining open PR.

[2018-03-12 13:48] michaelkro commented on #134
closed by #139

[2018-03-12 13:48] #134 closed

[2018-03-12 19:44] priley86 commented on #126
Referenced in #140

[2018-03-13 19:32] mturley opened #145 "The MappingWizard has a WarningModal that is redundant with the abstracted ConfirmModal"
We should refactor away the reduntant code from `App/Overview/screens/MappingWizard/components/WarningModal/WarningModal.js` that can be replaced with a usage of the new `ConfirmModal` (currently at `App/common/ConfirmModal.js`, but being moved into `patternfly-react` soon).

See comments on #132 from myself and @michaelkro.

[2018-03-13 22:25] mturley commented on #136
Ongoing work upstream of this issue is happening here: https://github.com/patternfly/patternfly-react/pull/268

[2018-03-20 15:09] #137 closed

[2018-03-20 15:54] priley86 commented on #138
@AparnaKarve do you have a sample of the "discovery" APIs yet available? I think we'll need this as a next step to support that feature.

[2018-03-20 15:56] priley86 opened #150 "Create Overview Aggregate Status Cards"
Per the new UX @serenamarie125 @vconzola, we would like to create aggregate status Cards for Infrastructure Mapping and Plan Mappings. The existing APIs should support this, but would like to confirm design/UX. @vconzola can you post a screenshot of envisioned UX?

[2018-03-20 15:58] priley86 opened #151 "Create Overview Migration Plan Cards and Filters"
Per the new UX, we will be able to visualize Migration Plans and filter them by status. Please provide corresponding UX screenshots @vconzola @serenamarie125 .

[2018-03-20 15:59] priley86 opened #152 "Create Overview Infrastructure Mappings List View"
Per the new UX, we will be able to visualize Infrastructure Mappings as a list view on the Overview Screen.

* include new Empty State view for when no mappings exist

[2018-03-20 16:13] priley86 opened #153 "Plan Wizard Step 1: Select from a discoverable list"
Per the new UX, we will need to be able to discover a list of VMs. Can you confirm @serenamarie125 @vconzola ?

Additionally, @AparnaKarve can you gather the API details returned?

[2018-03-20 16:17] priley86 opened #154 "Plan Wizard Step 2 - CSV Import Enhancements"
Upcoming/tentative UX changes:

* Change CSV empty state to PatternFly empty state or a design approved one? ** let's change about this
* Ensure that client side validation checks of CSV input give the user an error and we do not call the backend (these can be as minimal or as extensive as we decide them to be for now, but should at least include some basic formatting validation)
* Show the CSV im

[2018-03-20 16:21] priley86 opened #155 "Plan Wizard Step 3 - Add new step for Run options"
* allow user to schedule a migration plan for later (current proposal is that they would have to manually trigger it to start from the Overview Plan list).

can you confirm @serenamarie125 @vconzola ?

@AparnaKarve do we have a status to indicate "not active" for a plan? Will need API details.

[2018-03-20 16:22] priley86 opened #156 "Plan Wizard Step 4 / Results"
* tentative UX is to move Review to step 4 of Plan Wizard.

Can you confirm UX @serenamarie125 @vconzola ?

[2018-03-20 16:23] serenamarie125 commented on #150
@priley86 is this issue just around the display of information via the agg status cards?  I'd suggest we create another issue which handles the link behavior, which sets a filter for the plans card.  Does that make sense ?

[2018-03-20 16:24] priley86 opened #157 "Overview Migration Plan Cards - Richer error reporting"
For each VM in a migration plan, the user should be able to see:
- progress of the migration
- last message associated with the migration of that VM

would like to visualize the richer error details happening during plan execution.

@AparnaKarve do you have any Automate API details you'd like to share at this point?

[2018-03-20 16:27] priley86 commented on #153
already captured in #138  oops!

[2018-03-20 16:27] #153 closed

[2018-03-20 18:01] priley86 commented on #150
will await @vconzola 's mocks... i was guessing based on the new "top level" aggregate status cards - but will wait for further review...

Essentially it would be nice to break the three new sections (top Status Cards (aggregate status) / Migration Plan cards / Infra Mapping list into three different stories... Filters will integrate closely w/ Migration Plan it looks like? Will wait for confirmat

[2018-03-20 18:50] serenamarie125 opened #159 "User should be able to start a migration plan that has not yet been run"
Per the new UX, users can start a migration plan that has been saved for later.

Please provide corresponding UX screenshots @vconzola

[2018-03-20 20:26] AparnaKarve commented on #138
@priley86 There is no API yet -- both backend work and API are currently in the works.

I had some early discussion with Bill regarding the API and this is what it could look like --

`POST /api/transformation_mappings/id` can accept 2 parameters in the POST body.

[code]

This will return a list -

[code]

[2018-03-20 20:42] AparnaKarve commented on #154
API info here - https://github.com/priley86/miq_v2v_ui_plugin/issues/138#issuecomment-374744468

The API specified in the above link will provide us with a list of -
- valid VMs
- invalid VMs
- conflict VMs (There is a possibility of finding multiple VMs in the DB based on the information in the CSV)

-----

How to process the above API output -
- *Only* valid VMs can be selected for migration
- I

[2018-03-21 06:44] mturley commented on #145
This is now being rolled into my next PR.

[2018-03-21 15:57] vconzola commented on #150
@priley86 @michaelkro Here's a link to the doc with behavioral details: https://docs.google.com/presentation/d/1MxPiOHkScBeVndabrgqoNSbyi6U8dbHUWrBmm-Xgngo/edit?usp=sharing

[2018-03-21 19:45] vconzola commented on #151
@priley86 Mockups with the behavioral details for migration plan cards: https://docs.google.com/presentation/d/1e49cH7F0njW7rVA8qCMeu_FuQ9wNVWViYd2frbQukRQ/edit?usp=sharing

[2018-03-21 19:50] vconzola commented on #159
![overview - w all copy 2 filter is not started](https://user-images.githubusercontent.com/22823035/37733742-6f2b7212-2d1f-11e8-8bc7-c94ae2d5b504.png)
 Behavioral details are in this file (slide 4): https://docs.google.com/presentation/d/1e49cH7F0njW7rVA8qCMeu_FuQ9wNVWViYd2frbQukRQ/edit?usp=sharing

[2018-03-21 19:58] vconzola opened #161 "Migration nav item should not have any sub items & should show what's currently in Overview"
Initially we thought that there would be 3 sub items under Migration, but Vince has come up with a great way to have everything on a single page.

This issue should consist of:
- Removing sub items from the **Migration** nav item
- Display current **Overview** content when selecting **Migration**

NOTE: In the future, we might want to add it back as new features are added that will necessitate a s

[2018-03-21 20:00] Fryguy opened #162 "v2v screens ask me to login again"
![monosnap 2018-03-21 15-55-26](https://user-images.githubusercontent.com/52120/37734185-d3917ad4-2d20-11e8-917b-ea6878805df9.png)

If I Cancel or Login, it just keeps popping up, and because it's a modal, I'm stuck on this page forever.

[2018-03-21 20:10] Fryguy opened #163 "Minor UX edge case when no objects in database"
I haven't set up a provider yet, thus I don't have any clusters, networks, nor datastores.  However, I'm able to go to the Migration screen and start the wizard, only to get to the cluster page with nothing there.  We should probably prevent access to the wizard, or perhaps the entire migration tab when there are no providers defined.  Or perhaps, more specifically, if there are no providers defin

[2018-03-21 20:21] himdel commented on #162
This *probably* means v2v is not accessing the api via the `API` global (well, `vanillaJsAPI` outside angular, [for now](https://github.com/ManageIQ/manageiq-ui-classic/issues/3658)). Otherwise this would trigger a login screen redirect.

No idea about the loop though.

[2018-03-21 20:23] vconzola commented on #152
Mockups with the behavioral details for infrastructure mapping list view: https://docs.google.com/presentation/d/1iTLqYYMbbALD1BHcSPw9JVHvKfqK0J8X8HGcuigJ26U/edit?usp=sharing

[2018-03-21 20:27] priley86 commented on #162
good to know - and thanks for the issue. I think we can look at this next sprint potentially.

[2018-03-21 20:28] AparnaKarve commented on #162
Yes, we need to associate the token to `API`

Surprisingly, I have seen the login popup only once or twice so far...

As far as the loop goes, I think that's not the case based on the gitter chat with @Fryguy

[2018-03-21 20:37] vconzola commented on #155
This is a new step in the Create Migration Plan wizard.
- Selecting start immediately creates the plan and sends a migration request to the backend
- Selecting save and run later creates a "not active" plan as @priley86 mentions above
![9d-createplan-options](https://user-images.githubusercontent.com/22823035/37736010-17dfa116-2d26-11e8-934c-63fee58ed082.png)
This page will have more in the future

[2018-03-21 20:43] vconzola commented on #156
Results page will move from step 3 to step 4 in the Create Migration Plan wizard. The page contents will vary depending on the selection made in step 3.
If run immediately was selected (no change from POC):
![9e-createplan-results_2](https://user-images.githubusercontent.com/22823035/37736258-cf85db28-2d26-11e8-809b-4157602849fd.png)
If save and run later was selected:
![9e-createplan-results save

[2018-03-21 20:54] priley86 commented on #162
ok - please feel free to introduce this as you have time @AparnaKarve. I was not aware on this piece and thanks for following up ;)

[2018-03-21 23:40] serenamarie125 commented on #163
Great questions @Fryguy

From a UX perspective, I'm not sure if we should disable them from getting there.

I think we have 2 choices:

1. post an error message when they select "Create Infa Mapping"
2. show a different empty state pattern stating "Migration is not available unless ..."

I think I'd suggest # 2 - the thing is that we will have to continue to edit this text as we include additional

[2018-03-21 23:44] serenamarie125 commented on #161
@vconzola not only that, if we have everything on the overview page, I'm assuming that we can just have "Migration" without any children at all. If you agree, we can change the title of this issue to be something like _the Migration nav item shouldn't have any sub items_

We would also need to decide if the title of the page remains "Migration Overview"

[2018-03-22 00:04] priley86 commented on #126
We've gone w/ the existing MIQ select/typeahead for now. I referenced this in https://github.com/patternfly/patternfly-react/issues/54 for future. Closing...

[2018-03-22 00:04] #126 closed

[2018-03-22 00:05] priley86 commented on #107
Closing. This was done in #148

[2018-03-22 00:05] #107 closed

[2018-03-22 00:08] priley86 commented on #18
We are using the latest `const { componentRegistry } = window.ManageIQ.react;` object in upstream ui-classic. Can this be closed @ohadlevy @vojtechszocs @himdel ?

[2018-03-22 00:09] priley86 commented on #17
@ohadlevy @vojtechszocs @himdel  can you provide the latest update on this? Would like to know if we should try to address it this upcoming sprint.

[2018-03-22 00:10] priley86 commented on #15
Closing. We can recapture this in #154 for sprint6.

[2018-03-22 00:10] #15 closed

[2018-03-22 01:49] serenamarie125 commented on #156
we should rethink this text _Select Migrate on the Overview page to begin migration_ on the second mock.  Seems a bit awkward, but not sure of anything better atm :)

[2018-03-22 02:01] serenamarie125 commented on #154
<img width="868" alt="screen shot 2018-03-21 at 8 50 27 pm" src="https://user-images.githubusercontent.com/12504403/37746726-93e36ef0-2d49-11e8-9753-8c69a27cb214.png">

<img width="909" alt="screen shot 2018-03-21 at 8 50 33 pm" src="https://user-images.githubusercontent.com/12504403/37746727-970783fa-2d49-11e8-9498-6a86b25d137b.png">

<img width="869" alt="screen shot 2018-03-21 at 8 50 39 pm" sr

[2018-03-22 02:02] serenamarie125 opened #164 "Plan Wizard Step 2 - Browse / Empty State"
In step 1 of the wizard, if browse is selected, step 2 should look like this:

<img width="872" alt="screen shot 2018-03-21 at 8 50 18 pm" src="https://user-images.githubusercontent.com/12504403/37747052-28d805d8-2d4b-11e8-9632-0da6d8a224dd.png">

Note that this table is the same as used for #138.  There are a couple small differences:
1. in this case, the table is populated by available VMs deter

[2018-03-22 02:34] serenamarie125 opened #165 "Migration Cards should start with a pending label"
Currently, there's a lag once migration starts, and the cards are not updating immediately.  When a migration is initiated but not yet started, show the progress card with a "Pending" label.

[2018-03-22 02:38] serenamarie125 commented on #165
@vconzola

Do you think we should show use the BS Spinner or the fa-hourglass?

<img width="211" alt="screen shot 2018-03-21 at 9 35 27 pm" src="https://user-images.githubusercontent.com/12504403/37747983-cdc6dc78-2d4f-11e8-8b7d-ad9701c07f06.png">

I think the placement of icon & label should be similar to the [Loading State of the Base Card](http://www.patternfly.org/pattern-library/cards/base-ca

[2018-03-22 12:42] priley86 commented on #136
Would like to carry this forward to sprint6 as we are mostly there now. Thanks for all the hard work on this @mturley !

[2018-03-22 14:16] priley86 commented on #151
starting this based on current mock ups... will integrate backend APIs as they become available.

[2018-03-22 15:15] vconzola commented on #156
@serenamarie125 Not sure I agree it's awkward, but I was going to ask Stacey to review all of the text in the UI.

[2018-03-22 15:37] serenamarie125 commented on #156
@vconzola 👍 there's just more than one Migrate button on the overview page ... so it doesn't seem super clear

[2018-03-22 16:33] vconzola commented on #165
@serenamarie125 Good points. This is one of the things I still need to mock up. As for the icon, I'm already using the hourglass variations for the different migration states, which I'm not crazy about. Was planning to ask Jenny or Kyle for their thoughts.

[2018-03-22 20:02] AparnaKarve commented on #138
@vconzola Got some info from Bill for the above questions -

For valid VMs, the reason field will be blank. However, he can put a value there - something like `OK` if that helps

That may not be possible in this sprint.

[2018-03-22 21:11] AllenBW commented on #161
@serenamarie125 @vconzola is this to mean we're trashing the content of this component?  (the one holding a screen shot)
<img width="1066" alt="screen shot 2018-03-22 at 5 10 32 pm" src="https://user-images.githubusercontent.com/6640236/37798718-f4144bd2-2df3-11e8-9a84-e2dc9f31d886.png">

[2018-03-22 21:23] vconzola commented on #138
Thanks @AparnaKarve.

Leaving the reason field blank for valid VMs is fine. I was just wondering what the field is used for. I assume it will have information about why invalid VMs are invalid?

  -- It may be possible to have allocated size, but not actual used size. --
Do you mean it's not possible to have actual used size for this sprint or ever?

[2018-03-22 21:29] vconzola commented on #161
@AllenBW For now, yes, you can trash the link to the screenshot. Long term, when we add the ability to edit, delete, archive, and comment on mappings we might want a separate Infrastructure Mappings page, but for now there's no reason to show it since the most important information is available on the Overview page.

[2018-03-22 21:29] serenamarie125 commented on #159
I think we need some clarity on the designs for this.  I've added some comments in the above deck

[2018-03-22 22:35] AparnaKarve commented on #138
@vconzola

Yes, that is correct.

Apparently, not possible ever.
Since currently it is not possible to get that information with the provider's API

[2018-03-22 23:06] AparnaKarve commented on #154
@serenamarie125 Is the component in the above mockup a [List](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Stacked=false&selectedKind=ListView&selectedStory=List%20of%20expandable%20items&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs) or a [Table](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Stacked=false&

[2018-03-23 12:19] vconzola commented on #154
@AparnaKarve It's a table.

[2018-03-23 12:24] vconzola commented on #138
@AparnaKarve
--  Apparently, not possible ever.  --
--  Since currently it is not possible to get that information with the provider's API  --

Hmm...let me circle back with Brett and Marco to see if it makes sense to show the allocated size if it doesn't really help the user estimate migration time or amount of data that needs to be migrated.

[2018-03-23 17:05] vconzola commented on #163
@Fryguy I agree with @serenamarie125 's option number 2 and Marco and Brett are OK with it too. So for now, since we have only one source (VMware) and one target (RHV) provider, we'll change the text in the empty state to inform the user that migration isn't possible if both providers aren't set up yet. @priley86 says the API is already in place to enable this.

When we start supporting other prov

[2018-03-25 19:49] priley86 commented on #162
Closed by #166

[2018-03-25 19:49] #162 closed

[2018-03-25 20:21] priley86 commented on #159
@AparnaKarve can you clarify what status code will be used to indicate "migrations not started"?

[2018-03-25 20:27] priley86 commented on #138
@AparnaKarve please let us know more details as these come in... we much appreciate your feedback on sprint6 api details already. Adding needs-api label to this one for now, but please feel free to remove once API design is completed.

[2018-03-26 03:25] serenamarie125 commented on #165
@priley86 do we need any API support for this, or are we all set?

[2018-03-26 11:27] serenamarie125 opened #169 "Migration cards for migration in progress should show additional progress of data that's been migrated"
Migration cards for migration in progress should have additional progress shown.

User wants to see the amount of data (allocated size of a VM) that's been migrated per plan

[2018-03-26 11:28] serenamarie125 commented on #169
@priley86 do we need API support for this?  If so, let's add the appropriate flag

[2018-03-26 11:35] priley86 commented on #169
@serenamarie125 added 👍

[2018-03-26 12:50] AllenBW commented on #161
@serenamarie125 @vconzola Ok so we have a rub with this ask...

What it boils down to is this, right now, can't add a two menu item into a three menu item list... what's that look like?

## services is a two menu item list, compute is a three
<img width="450" alt="screen shot 2018-03-26 at 8 34 20 am" src="https://user-images.githubusercontent.com/6640236/37906632-c13706fc-30d0-11e8-96dd-cbea2f88e

[2018-03-26 13:14] vconzola commented on #161
@AllenBW Dang! I was afraid that might be a problem. I guess another option is to just leave the nav as is with the Infrastructure Mapping page a static .PNG and just ignore it in any demos. Or include it in demos and explain that in the future there will be additional features for infra mappings like edit, delete, archive, and comment.

@serenamarie125 What do you think?

[2018-03-26 15:11] AllenBW commented on #161
OK never mind, I lied.. @vconzola @serenamarie125

@ZitaNemeckova came up with a neat fix... will yield the desired result below....

<img width="752" alt="screen shot 2018-03-26 at 11 09 51 am" src="https://user-images.githubusercontent.com/6640236/37914968-7129e7c2-30e6-11e8-90dd-a140cc29b158.png">

Gonna make a few prs to get this going...

[2018-03-26 19:48] AparnaKarve commented on #155
Currently, there is no status field in the Plan that indicates "not active"

Hence we would have to process some data from the following 2 APIs and get the difference (so to speak), to retrieve a list of Plans that are Not Active.

The 2 APIs are -

**Migration Request API (api1)**
[code]
and

**Migration Plan API (api2)**

[code]

api1 will output an `options` object that looks like this when a P

[2018-03-27 01:53] serenamarie125 commented on #161
@AllenBW I love it when you lie like that 😂

Thanks to you and @ZitaNemeckova for finding a solution 👏

[2018-03-28 00:47] serenamarie125 commented on #159
![](https://github.trello.services/images/mini-trello-icon.png) [Create migration plan without running](https://trello.com/c/RDjIR9O1/110-create-migration-plan-without-running)

[2018-03-28 00:47] serenamarie125 commented on #156
![](https://github.trello.services/images/mini-trello-icon.png) [Create migration plan without running](https://trello.com/c/RDjIR9O1/110-create-migration-plan-without-running)

[2018-03-28 00:47] serenamarie125 commented on #155
![](https://github.trello.services/images/mini-trello-icon.png) [Create migration plan without running](https://trello.com/c/RDjIR9O1/110-create-migration-plan-without-running)

[2018-03-28 00:49] serenamarie125 commented on #154
![](https://github.trello.services/images/mini-trello-icon.png) [(debt) VM import from file enhancement](https://trello.com/c/QlW2xY9J/96-debt-vm-import-from-file-enhancement)

[2018-03-28 00:50] serenamarie125 commented on #153
![](https://github.trello.services/images/mini-trello-icon.png) [VM selection based in infrastructure mapping](https://trello.com/c/gWoFFLsf/109-vm-selection-based-in-infrastructure-mapping)

[2018-03-28 00:51] serenamarie125 commented on #164
![](https://github.trello.services/images/mini-trello-icon.png) [VM selection based in infrastructure mapping](https://trello.com/c/gWoFFLsf/109-vm-selection-based-in-infrastructure-mapping)

[2018-03-28 20:11] serenamarie125 opened #172 "User should be able to view all messages associated with a specific VM migration"
User should be able to view all messages associated with a specific VM migration

[2018-03-29 12:00] priley86 commented on #138
@mturley does this give you enough information to get started?

[2018-03-29 16:33] mturley commented on #138
Yep! Sorry for the delay. With Serena's clarifications in the issue description, this first step doesn't depend on the API, so I can knock it out quickly.

This is going to depend on #160 being merged first, however, otherwise the merge conflicts would be insane. So I'm focused on resolving those issues right now, and leaving the unit tests for WizardPattern on the back burner for the moment. I ma

[2018-04-01 22:58] mturley commented on #145
Closed by #132

[2018-04-01 22:59] mturley commented on #145
Oh oops, no it wasn't closed by #132. My mistake. This abstraction still needs to be made uniform everywhere

[2018-04-01 23:05] mturley commented on #136
@serenamarie125 @priley86, I am labeling this `p2` now, feel free to unlabel or change the label if you disagree. I want to try very hard to get this abstraction wrapped up in a nice little unit tested bow, within the first few hours of tomorrow, and merge by the end of the day if possible. It will make moving to our next deadline more frictionless, and it's another scenario of if we don't do it "

[2018-04-01 23:09] mturley commented on #136
For context, #160 is where the work for this is going down.

As I mentioned, I'll do the `p1` work first, and then I am timeboxing this to Monday (tomorrow). I think that if I can't get my unit tests and downstream issues fixed for this `WizardPattern` thing by the end of the day, I probably should move on to other deliverable stuff, per discussion with @michaelkro.

@priley86, do you think you wi

[2018-04-01 23:47] priley86 commented on #136
happy easter @mturley 🐰 ... hope it was a good break!

my personal take on this abstraction as of now:
* The PF-R PR seems mostly resolved. I am happy to help you write tests for it this week and verify w/ others (we ran out of time last week due to PF Next discussion). We had some new testing conventions being discussed, but I think I am mostly clear on those. It would be nice to know that it can

[2018-04-02 02:30] priley86 commented on #164
It looks like the following API (currently in progress) can be mocked for Step 2 of the Plan Wizard browsers/validation features.
https://github.com/ManageIQ/manageiq/pull/17177/files

[2018-04-02 02:35] priley86 commented on #159
A migration plan that has been created but not yet run will have a "Queued" status. A migration request that has been created but not yet run will have "Pending" status. We can discuss further UX implications tomorrow...

[2018-04-02 02:36] priley86 commented on #157
Further detail describing the state transition will be provided. A.t.m., this is the most information we have: https://gist.github.com/bzwei/3213174ee5efb4e377d789df8394cf2b#file-v2v_example-json-L431

[2018-04-02 02:38] priley86 commented on #155
Per discussion last week, I believe this should simply create a plan without a request to begin migration.

[2018-04-02 17:39] mturley commented on #136
Absolutely agree that we should wait to merge the v2v PR until it is ready. I'm getting on that next.

[2018-04-02 17:42] mturley commented on #136
My goal is to, by the end of today (and okay, let's be realistic, why don't I say by the end of tomorrow):

* To have my p1 issue PR up and ready to go, out of the way
* To have the v2v PR rebased, and all its issues fixed, so that it matches exactly the behavior we had before
* To have comprehensive unit tests in the PF-R PR . (p..f.. yeah, pf-r pr 😂) and any changes necessary to achieve the abov

[2018-04-02 21:45] mturley commented on #138
Co-assigning this with Aparna because she already started this work.

[2018-04-02 21:50] mturley commented on #138
I'm going to close this issue since the work is merged already into the `sprint6` branch-- it doesn't disable the Next button as this issue calls for, but that will be quickly irrelevant as I get started on #164.

[2018-04-02 21:50] #138 closed

[2018-04-02 21:53] mturley commented on #164
Thinking I will get this one done tonight so I can finish the wizard abstractions tomorrow.

[2018-04-02 21:54] mturley commented on #136
Note: I'm working on #164 tonight and then focusing on this (in #160) for tomorrow.

[2018-04-03 15:23] AllenBW commented on #161
github closes tag. YOU ARE FAILING ME!!!!?!?! :rage4:

[2018-04-03 15:23] #161 closed

[2018-04-03 15:24] AllenBW commented on #169
chiming in to follow this... just cuz it might land in my 🏓 🤔

[2018-04-03 16:04] priley86 commented on #152
Going to grab this one and knock it out now.

[2018-04-04 12:11] michaelkro commented on #150
Discovered a detail that needs design/UX guidance.
On the Overview page, we poll for updates to all the transformation/migration plans every 15 sec.  This means that the aggregate cards will go into the loading state (show a spinner) every 15 seconds, which seems non optimal.  I was experimenting, and found a way to only show the loading spinner only when either:
* the page is first visited
* afte

[2018-04-04 17:35] vconzola commented on #150
@michaelkro We definitely don't want to show the spinner every 15 seconds. I like your proposals for only showing it on page load and hard refresh. I'm also OK with the animated drop shadow when information is updated, but don't know if it adheres to PF guidelines. @serenamarie125 What do you think?  If it's not PF OK, then just update the count as appropriate and don't inform the user.

[2018-04-05 12:57] priley86 opened #178 "Modals break when upgrading patternfly"
I noticed yesterday that InfraMapping/Plan Wizard modals break/no longer open when I upgrade the `patternfly` dependency to `^3.42.0`.

@AllenBW do you think you can help?  This would also ensure the breadcrumbs correctly display the single arrow...

[2018-04-05 12:59] priley86 commented on #169
we are not quite ready here - finishing up integrating other pieces on the Overview today and tomorrow, should be ready for this by Monday next week...

[2018-04-05 13:08] priley86 commented on #178
Unrelated... maybe you can verify this one after. This happened after upgrading to the PF-R Cards (with built in match height) in #177
https://github.com/patternfly/patternfly-react/pull/296

[2018-04-05 13:27] AllenBW commented on #178
ON THIS 👍

[2018-04-05 14:39] himdel commented on #18
@priley86 Yes, I think we can close this, we will keep the same API available when switching to the new component registry.

(The registries both solve different problems:

* `ManageIQ.react` assumes only react components, taking `data` and `store` as props, and lets you get at the actual component to use it from react,
* `ManageIQ.component` doesn't assume the framework, but does redux via Provid

[2018-04-05 14:40] himdel commented on #17
@priley86 I think there's nothing stopping you from doing this now, yeah :)

[2018-04-05 14:57] priley86 commented on #18
Ok thanks a lot @himdel . I would love to revisit this in a future sprint (post Summit). I also have some more ideas about GraphQL / Redux I'd love to start exploring in a mIQ sandbox w/ you as I have time.

[2018-04-05 14:57] priley86 commented on #18
Closing for now.

[2018-04-05 14:57] #18 closed

[2018-04-05 15:00] priley86 commented on #178
so much appreciation here 🙇 👍 🎄 ... will help a lot

[2018-04-06 12:06] priley86 commented on #178
so i think this is (and I keep forgetting this) due to the fact we are really referencing PF css in ui-classic (and not really in this repo). I would like to request that those maintaining UI-Classic can update the patternfly dependency in a future sprint if possible.

are you OK w/ the match-height fix @AllenBW ? I will vet it one more time and we can merge next week if so...

[2018-04-06 12:09] AllenBW opened #179 "Migration wizard sans infrastructure mappings throws an error"
<img width="1350" alt="screen shot 2018-04-06 at 7 59 41 am" src="https://user-images.githubusercontent.com/6640236/38420446-c3065d80-3971-11e8-94e3-1d59aef05574.png">

[2018-04-06 20:24] AllenBW commented on #178
yeah about that ☝️@priley86 likely the reason why updating the deps does not  yield the single arrow breadcrumb ...

about the match-height fix, looking for the diff in behavior between the current pfr and with your pr, not seeing one... what should i be looking for?

[2018-04-09 12:56] AllenBW commented on #178
gosh gh... none of that issue auto close... what is going on!

[2018-04-09 12:56] #178 closed

[2018-04-09 13:43] AllenBW commented on #179
closing, can confirm no longer a bug.
<img width="1060" alt="screen shot 2018-04-09 at 9 36 40 am" src="https://user-images.githubusercontent.com/6640236/38501231-7c37264e-3bda-11e8-8201-cd39b66a7a2a.png">

[2018-04-09 13:43] #179 closed

[2018-04-09 13:43] serenamarie125 opened #184 "Completed Migrations are not ordered atm"
QE reported that completed migrations are currently not in any specific order.

@michaelkro confirmed that currently the UI is showing them in the order returned by the API.

Yadnyawalk from QE suggested that we consider to show latest migration notification request at the top of the table

@vconzola can you verify that this should be ordered in descending order by time?

Note that there is an ass

[2018-04-09 13:46] serenamarie125 opened #185 "Enhancement request to have Completed Migrations support sort"
Yadnyawalk from QE requested that we consider supporting sorting for completed migrations:

[2018-04-09 13:47] serenamarie125 commented on #185
@vconzola have you addressed this in any forward looking designs yet?

[2018-04-09 13:56] serenamarie125 opened #186 "Input fields should have max character limit"
As reported by Yandyawalk from QE, input fields should have a max character limit.

Fields which requires limit:
1. Infra mapping's Name and Desc
2. Migration Plan Wizard's Name and Desc
3. VM Name of CSV file (This limit should be equivalent to vCenter's VM name limit)

Those limits are still "tbd" ... but this is captured by this BZ as well : https://bugzilla.redhat.com/show_bug.cgi?id=1565065

[2018-04-09 15:12] priley86 commented on #152
handing this over to @AllenBW ... we will need to gather the detail's for the Infra Mapping List View using a subsequent query (to get the source/target cluster names) **as the user expands the list item for the mapping**. That API is here:

[code]

We could also potentially show the datacenter in the expansion details, but leave that up to @serenamarie125 @vconzola .

[2018-04-09 15:13] priley86 commented on #152
let me know if you need anything else @AllenBW ...

[2018-04-09 19:44] AllenBW commented on #152
![4aa-createmapping-clusters w datacentre - option 2](https://user-images.githubusercontent.com/6640236/38519115-be66dc80-3c0c-11e8-9f97-ae5f5619eb13.png)

☝️from @vconzola, adding to this as a record (will be a deviation from original mock)

[2018-04-09 20:08] vconzola opened #188 "Add datacenter to cluster names in Create Infrastructure Mapping wizard"
Wherever we display a cluster name in the mapping wizard we need to append the  associated datacenter where it lives. I looked at a few different options and prefer that we show it as "datacenter_name \ cluster_name".
![4aa-createmapping-clusters w datacentre - option 2](https://user-images.githubusercontent.com/22823035/38520253-43841d76-3c10-11e8-9ffa-ba64edb60304.png)

[2018-04-09 20:22] vconzola opened #189 "Target Clusters Require Configured Conversion Host"
We need to add a warning to any target cluster in step 2 of the infra mapping wizard that doesn't have at least one configured conversion host. We won't stop the user from mapping the cluster, just warn and provide a dismissible popover with more information.
![4aa-createmapping-clusters w datacentre - option 2 w warning](https://user-images.githubusercontent.com/22823035/38520921-25b178dc-3c12-11

[2018-04-09 20:29] vconzola commented on #151
I updated the UX document to include toast notifications when a plan completes migration, so be sure to reference the latest. Link is above.

[2018-04-10 13:07] priley86 commented on #185
as far as sorting goes... typically handled by backend query/backend team. @AparnaKarve can you check if the query would support a sort order parameter coming from the front end?

[2018-04-10 17:04] AllenBW commented on #152
@priley86 the cluster source and target count, where is that coming from, not seeing it on the first call, nor the attributes to grab such info (full options dump below)
<img width="739" alt="screen shot 2018-04-10 at 1 01 05 pm" src="https://user-images.githubusercontent.com/6640236/38571705-43478e38-3cbf-11e8-87f3-13ba5148f252.png">

I *believe* it can be found in [the call you mentioned above](

[2018-04-10 17:46] priley86 commented on #152
can you get the count from infra mappings query?
[code]

[2018-04-10 18:38] vconzola commented on #185
@serenamarie125 No, I haven't added it to any of the Overview mockups. If it can be handled by the backend so that the most recent plans at the top, I'd rather not clutter the Overview with sorting/filtering controls. If/when we add dedicated pages for mappings and plans sorting and filtering are already in the mockups for those. My goal is to keep the Overview as close to a dashboard as possible.

[2018-04-10 18:40] vconzola commented on #185
@priley86 @AparnaKarve What ever sort order parameter we send to the backend to get the most recent completed plans at the top, we should also send for in progress and not started plans. (I'm guessing it's all the same query, but I'm not sure.)

[2018-04-10 18:48] AllenBW commented on #152
Is the frequency of source and destination  ids the count? if so then yesssssss

[2018-04-10 19:52] AparnaKarve commented on #185
The sorting parameters that the API supports are -

`sort_by=attribute_name`
`sort_order=asc` / `sort_order=desc`
`sort_options=ignore_case`

[2018-04-10 20:27] vconzola commented on #163
Mockup for this edge case:
![overview - all empty mappings copy 3 providers not configured - opt2](https://user-images.githubusercontent.com/22823035/38581894-1ab11b84-3cdc-11e8-8fc6-151137f8d873.png)

[2018-04-10 21:12] serenamarie125 commented on #163
@vconzola i just realized ... is this if there's a missing RHV or VMware provider :O

[2018-04-10 21:16] serenamarie125 commented on #185
I agree @vconzola, for this issue we don't need to add a sort control for the user, we just need to determine the default sort order.  Seems like it's descending by date.

[2018-04-10 21:18] serenamarie125 commented on #184
Based on discussions #185 looks like descending by date/time has been confirmed.  @vconzola can you give me the 👍

[2018-04-11 13:38] vconzola commented on #185
@serenamarie125 Yes, the default sort order for all of the Plans views should be descending by date.

[2018-04-11 13:38] vconzola commented on #184
@serenamarie125 Yes, the default sort order for all of the Plans views should be descending by date.

[2018-04-11 13:59] vconzola commented on #163
@serenamarie125 I assume we will link to Compute > Infrastructure > Providers. From there the user can can which providers are configured and add RHV or VMware as necessary.

[2018-04-11 14:55] AllenBW commented on #152
@bzwei wondering how the data from `/api/transformation_mappings` maps to the data from `api/clusters/` ? cuz that dropdown onclick reveals transformation mapping data,  shows all source and target clusters, unclear if info in `transformation_mapping_items` relationship provides a link between the two…

attaching screen shots of a sample of the two objects for reference
<img width="443" alt="scree

[2018-04-11 16:06] AllenBW commented on #152
@vconzola @priley86 after talking with @bzwei I have a few questions for ya'll

Source clusters are always unique, though sometimes map to the same destination clusters

1. the destination cluster count in the row, is this the total number of destination clusters or a count of the unique ones? (example: if unique - 2 source clusters mapping to a single destination cluster, would show the numbers 2

[2018-04-11 19:17] vconzola commented on #152
@AllenBW  Great questions. I hope I can provide equally great answers.  :-)

1. Correct for destination/target clusters the number shown should be the number of unique ones.

2. When expanding the row, the idea is that the user should be able to relate source cluster(s) to their associated target cluster. In the mockup below, I show this with spacing because I thought that would be simpler than tr

[2018-04-11 19:18] priley86 commented on #154
Closed by #192  - will revisit other enhancements in future issues.

[2018-04-11 19:18] #154 closed

[2018-04-11 19:19] priley86 commented on #155
Closed by #192  - will revisit other enhancements in future issues.

[2018-04-11 19:19] #155 closed

[2018-04-11 19:19] priley86 commented on #156
Closed by #192  - will revisit other enhancements in future issues.

[2018-04-11 19:19] #156 closed

[2018-04-12 04:46] bthurber opened #194 "Timer for migrations continues to run after the migration completes"
POC - after starting a migration, the timer will start.  Post migration the timer continues to run instead of stopping at the end of the migration.

[2018-04-12 18:38] priley86 commented on #194
@bthurber - can you explain this a bit further? Sounds as if the elapsed time on the In Progress card is showing incorrectly in the POC UI...am I understanding correctly?

[2018-04-12 19:30] bthurber commented on #194
@priley86 yes.  Attached a screenshot.
![screenshot from 2018-04-12 14-29-03](https://user-images.githubusercontent.com/4692674/38699585-067e9488-3e5e-11e8-90aa-68a8f340cac3.png)

[2018-04-12 19:30] priley86 commented on #164
Would like to repurpose this issue to "Correct the empty state visualization" for Step 2 - Browse. Per discussion w/ @vconzola @serenamarie125 , we'd like to show the PF React Empty State with the Browse button centered (how it is in PF React). We'd also like to change the Empty State Icon to be the PatternFly "pficon-import" icon (the same one that's used in the Table Action).
![screen shot 2018-

[2018-04-12 19:57] priley86 commented on #194
ok thanks . I'm likely not going to get to this today or tomorrow. @AparnaKarve @AllenBW - this one is up for grabs... 🍬

[2018-04-12 20:09] AllenBW commented on #194
Still working mine atm

[2018-04-12 21:35] AparnaKarve commented on #184
Fixed in https://github.com/priley86/miq_v2v_ui_plugin/pull/199

[2018-04-12 21:57] #184 closed

[2018-04-12 22:11] priley86 commented on #150
Closed by #196

[2018-04-12 22:11] #150 closed

[2018-04-13 12:21] michaelkro opened #201 "Selected VMs in Step 2 of Plan Wizard are not preserved"
## Steps to Reproduce
1. Open the Plan Wizard, choose to import a CSV in Step 1, and move to Step 2
2. Choose VMs in Step 2 and move to Step 3
3. Hit the `Back` button in Step 3 to move back to Step 2
4. Notice that all the previously selected VMs are no longer selected.

[2018-04-13 12:35] michaelkro commented on #201
This is the current intended behavior

[2018-04-13 12:35] #201 closed

[2018-04-13 12:47] priley86 opened #202 "Code Improvement: contribute a new IconLink component"
It would be nice to actually have a PF React component that displays links w/ icons like our "Create Migration Plan" and "Create Infrastructure Mapping" links.
<img width="157" alt="screen shot 2018-04-13 at 8 45 08 am" src="https://user-images.githubusercontent.com/4237045/38735610-3b197f5c-3ef7-11e8-9764-3c86d0fa102b.png">

This ended up looking like this:
[code]

But really to be more semantic,

[2018-04-13 12:49] priley86 opened #203 "Code Improvement: Field Level Help arguments"
Another nice to have in PF React. I noticed that the current FieldLevelHelp was not rending the content as I expected and currently does not accept a placement prop (such as `left`). If we prefer to use `top` that's OK - but I still think this should be passed as prop.

See PlanRequestDetailList.js:
[code]

[2018-04-13 12:54] priley86 opened #204 "Code Improvement: Breadcrumbs currently do not support React Router Link"
I noted that Breadcrumbs will render nested anchor tags when a React Router `Link` tag is rendered inside. This is not accessible and it will also throw React warnings/errors.
[code]
To work around this temporarily, I've simply rendered the Breadcrumb inside an `<li>` tag:
[code]

Ideally - we can extend the Breadcrumb in PF React to support custom children.

[2018-04-13 12:55] michaelkro opened #205 "Possible to navigate backwards from final Plan Wizard step"
User should not be able to navigate backwards in Plan Wizard once they've hit Step-4.  Reason being that at this point:

1. The transformation plan has already been created
2. If the user chooses to start the migration immediately in Step-3, the transformation plan request has also already been created

[2018-04-13 12:57] priley86 opened #206 "Plan Wizard - Step 2: Client side validation"
I was not able to implement this feature this sprint and I think we should carry it forward. See comments in CSVDropzoneField.js for how we might implement this:

[code]

[2018-04-13 14:07] vconzola opened #207 "Display error in the VMs table when duplicate VMs are found in the CSV file or VMs in the CSV file don't exist on the source clusters"
In step 2 of the Plans wizard, if the user selects to import a list of VMs from a CSV file the contents of the file will be validated by the backend and any duplicate VM names or VM names not found on the source clusters will be tagged. The UI needs to call out these VMs in the VMs table and inform the user.
![9c3-createplan-vms-import selection duplicates - opt1](https://user-images.githubusercon

[2018-04-13 14:31] priley86 commented on #205
yep - this is a bug. Should not be able to navigate back once on Step 4 - just like in Mapping Wizard.

@AparnaKarve do you want to try this one next sprint?

[2018-04-13 14:49] AparnaKarve commented on #194
@bthurber Need a clarification here.

The screenshot shows the Completed Migrations list, and the timer there reflects the time elapsed after the migration was completed.

If we stop the timer, then we can't show the elapsed time.
In that case, should we not render the Time column?

[2018-04-13 14:56] AparnaKarve commented on #205
@priley86 sure!

[2018-04-13 15:08] bthurber commented on #194
@AparnaKarve the goal is to only display the amount of time the migration took to complete.  The current implementation starts the timer but never stops it once the migration has finished.

[2018-04-13 15:40] serenamarie125 commented on #164
Closing - additional UX requests have been added as separate issues

[2018-04-13 15:40] #164 closed

[2018-04-13 15:46] serenamarie125 opened #208 "When looking at migration plan details, a "download log" link should be available for each VM"
When drilling into a Migration Plan, the UI shows each VM.  This issue captures the need to add a "Download Log" link for each VM entry.

There is an API dependency here.

[2018-04-13 15:58] serenamarie125 commented on #188
Need to determine truncation, when needed

[2018-04-13 21:27] serenamarie125 commented on #208
@bthurber tagging you on anything labeled _needs-api_ for awareness

[2018-04-13 21:27] serenamarie125 commented on #189
@bthurber tagging you on anything labeled _needs-api_ for awareness

[2018-04-13 21:28] serenamarie125 commented on #169
@priley86 are we still blocked by api?  If not, let's remove the tag

[2018-04-13 21:29] serenamarie125 commented on #159
@michaelkro @priley86 can you confirm that we are no longer blocked by API?

[2018-04-13 21:30] serenamarie125 commented on #157
@priley86 again just checking, thinking we can remove the needs-api label?  Please confirm

[2018-04-13 21:40] priley86 commented on #169
Nope - working this one next to clear out the Migration ..will send you some screenshots soon!

[2018-04-13 21:43] priley86 commented on #159
Yep good to go 👍

[2018-04-13 21:45] priley86 commented on #157
Yep finishing these last few up now.

[2018-04-13 22:35] serenamarie125 commented on #165
@mturley
Mock is here:  https://docs.google.com/presentation/d/1e49cH7F0njW7rVA8qCMeu_FuQ9wNVWViYd2frbQukRQ/edit#slide=id.g35289d819d_0_0.
<img width="559" alt="screen shot 2018-04-13 at 6 34 14 pm" src="https://user-images.githubusercontent.com/12504403/38760465-6448f522-3f49-11e8-85b3-bbb5e5484d77.png">

Please mimic placement of icon & label similar to the Loading State of the Base Card

[2018-04-15 19:13] #194 closed

[2018-04-15 19:15] priley86 commented on #205
this was resolved in #210 . Closing.

[2018-04-15 19:15] #205 closed

[2018-04-15 19:28] priley86 opened #213 "Plan Wizard - review Empty State pattern design"
Carried over from #164 in Sprint6
See: https://github.com/priley86/miq_v2v_ui_plugin/issues/164#issuecomment-380918985

[2018-04-16 12:42] michaelkro opened #214 "Center Aggregate Cards on Overview"
Currently the row of aggregate cards is left justified.

What should the responsive behavior of the individual cards be?  Should they grow to fill the entire row with a fixed margin between them?  Or should they have a fixed max width with even spacing between each card?

[2018-04-16 13:05] michaelkro opened #215 "Pagination does not reset when applying a filter while viewing details of a migration in progress"
## Steps to Reproduce
1. Use `mockMode`
2. Select `Migrations in Progress` in the Migrations section dropdown, and click to view the details of an active migration
3. Skip ahead a few pages using pagination (go at least to page 3)
4. Using the filter dropdown, choose to filter by `status`.  Then use the second dropdown to choose a status.
5. The new list of filtered items populates the table, but

[2018-04-16 13:42] serenamarie125 opened #216 "Save the Migration Plan filter state per user"
When the Migration filter is modified, it should be saved (per user per browser) so that when the user returns to the page, the same filter will be set.

@mturley @michaelkro @vconzola please add explanation if I haven't captured this properly

[2018-04-16 13:44] serenamarie125 opened #217 "Selecting a card in the Migrations In Progress Card View should drill into the migration plan"
Currently, you can only drill into a migration plan by selecting the VM status link.  We should consider allowing the user to click on the Card to drill into the migration plan details.

@vconzola FYI

[2018-04-16 13:46] serenamarie125 opened #218 "User should be able to drill into the Migration Plan details from the Migrations Completed List View"
Allowing the user to click anywhere on a list view item in the Migrations Completed List View to drill into the migration plan details.

@priley86 we need to understand how this works since there can be an action button on this List View Item

@vconzola FYI

[2018-04-16 13:51] priley86 commented on #169
Resolved in #212

[2018-04-16 13:51] #169 closed

[2018-04-16 13:51] priley86 commented on #159
Resolved in #212

[2018-04-16 13:51] #159 closed

[2018-04-16 13:51] priley86 commented on #157
Resolved in #212

[2018-04-16 13:51] #157 closed

[2018-04-16 13:52] vconzola commented on #208
![11a-plan details as list in drill down w download](https://user-images.githubusercontent.com/22823035/38813016-d289e1cc-415b-11e8-8586-142b8cfdf4a1.png)

[2018-04-16 13:52] priley86 commented on #152
Resolved in #212

[2018-04-16 13:52] #152 closed

[2018-04-16 13:52] serenamarie125 commented on #218
@jeff-phillips-18 I think you have done something similar to this, correct?
Allow clicking on a list view item to Drill Down ... but then also have an action button which is selectable?

<img width="715" alt="screen shot 2018-04-16 at 9 51 06 am" src="https://user-images.githubusercontent.com/12504403/38812985-bcaa9f40-415b-11e8-9a6f-1b7e1e8b0e59.png">

[2018-04-16 13:52] priley86 commented on #151
Resolved in #212

[2018-04-16 13:52] #151 closed

[2018-04-16 14:11] jeff-phillips-18 commented on #218
Yes, we have done that before. Just a matter of preventing the navigation when the click is on the button.

[2018-04-16 14:45] AparnaKarve commented on #185
@priley86 Yes, we can close this out.

[2018-04-16 14:45] #185 closed

[2018-04-16 16:26] vconzola commented on #165
@serenamarie125 Any suggestions on how to dismiss a plan (see mockup above) that fails while in Pending state? Have you seen any examples where bar utilization or other cards can be closed? My initial ideas are adding a close button to the card when the error is displayed or displaying a toast notification with a close action. (This would require user to be watching when the plan fails.) Don't kno

[2018-04-16 18:13] vconzola commented on #172
@serenamarie125 @priley86 What design is needed for this issue?  Is this something beyond displaying a link to download the log file for a migration? And isn't the download just waiting for the API to be available? The mockup for that was in one of the multitude of other issues that were open last week.

[2018-04-16 21:11] mturley commented on #102
This should have been closed a while back, oops..

[2018-04-16 21:11] #102 closed

[2018-04-16 21:35] mturley commented on #165
@priley86, I spent today addressing a few other things, and fixing my local manageiq environment again... I'm ready to dive into this first thing tomorrow, but you mentioned starting it in #212-- can we chat in the morning about what's next here?  I may grab another issue since this one seems to still have some design discussion going on.

[2018-04-17 14:08] michaelkro commented on #216
Closed by #219

[2018-04-17 14:08] #216 closed

[2018-04-17 17:27] priley86 commented on #165
will additionally need a way to remove the "pending" state if auto-cancelling after 5 minutes.

[2018-04-17 17:29] serenamarie125 commented on #186
@vconzola can you follow up on this?  At a minimum we should be preventing the user from getting themselves into trouble by entering a VM Name that's too long from a vCenter perspective

[2018-04-17 17:36] serenamarie125 commented on #172
Closing because this is the same as #208

[2018-04-17 17:37] #172 closed

[2018-04-17 17:38] serenamarie125 commented on #208
@vconzola

- what icon is shown? fa-download
- Is this link only added once the migration is complete?
- Should we specific tooltip text
- What is the link text ... "Download log", "Log File", "Download Log", "Log file"?

[2018-04-17 17:41] serenamarie125 commented on #213
@vconzola can you add a mock here ?  showing that the button should be below the title and description text.  Also, the background of this should be transparent (don't make it grey just to make it grey )

[2018-04-17 17:45] priley86 commented on #214
i think i know a fix ;)

[2018-04-17 17:50] serenamarie125 opened #223 "simulate the backend for saving & executing plans …"
Pre work for summit activities
@priley86 please add description

[2018-04-17 17:55] serenamarie125 opened #224 "User should be able to drill into the Migration Plan details from the Migrations Not Started List View"
Allowing the user to click anywhere on a list view item in the **Migrations Not Started** List View to drill into the migration plan details.

@vconzola FYI

For implementation reference see: https://github.com/priley86/miq_v2v_ui_plugin/issues/218

[2018-04-17 18:58] vconzola commented on #165
@mturley Follow the mockup below.
- Placement of icon & label should be similar to the [Loading State of the Base Card](http://www.patternfly.org/pattern-library/cards/base-card/#design).
- Icon should be [this gif]: (https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/spinner.html)
![overview - w all copy 3 filter is in progress - pending](https://user-images.githubusercontent.com/228

[2018-04-17 19:13] vconzola commented on #165
@priley86 I think we decided to create a new issue for the case where a pending plan times out. So this issue will only involve making sure the the pending card matches the design spec above.

[2018-04-17 19:27] priley86 commented on #165
ok @vconzola - no problem. Just making sure it wasn't lost ;)

[2018-04-17 21:04] vconzola commented on #186
@serenamarie125 I did some digging, and even enlisted Kendra's help, and all I was able to find is an 80 character limit for VMware VM names, 24 characters for DNS host names, and 256 chars for descriptions. since our users won't be naming VMs (they're copied over from VMware), I think the real issue is making sure that RHV can handle VM names up to 80 characters. I found conflicting information o

[2018-04-17 21:26] vconzola commented on #208
@serenamarie125
- Talked to Jenny H. She said fa-download is already in PF because it's part of Font Awesome 4.7. [](https://fontawesome.com/v4.7.0/icon/download/).
- Bill W. and Greg say that download file will be available as soon as the migration is started, so link should be added as soon as migration becomes active.
- Don't think we need tooltip text unless it's required for accessibility.
-

[2018-04-18 02:30] serenamarie125 commented on #208
@vconzola just checked T&W section of PatternFly for [Links](http://www.patternfly.org/styles/terminology-and-wording/#links).  After reaching that, I'd suggest the link label be "Download log".  Please take a look and see what you think!

[2018-04-18 12:56] michaelkro opened #227 "Migration Plan Details status filter type unselectable"
## Steps to Reproduce
1. Turn on `mockMode`
2. Navigate to the details of a "Migration in Progress"
3. Using the filter dropdown, choose `Status`
4. Using the filter type dropdown, choose any
5. Clear the filter by either removing the individual filter or by using the `Clear All Filters` button
6. Notice that you cannot reapply the previously chosen filter without having to choose and clear a diff

[2018-04-18 14:38] michaelkro commented on #224
Do we have any mocks for this issue?  @vconzola @serenamarie125

[2018-04-18 17:41] vconzola commented on #224
@michaelkro Here you go. It's a very simple page. The only thing the user gets is the ability to see the VMs in the plan in a consistent format with the other details pages. Should be able to reuse what @priley86 did for the migrations in progress details. Just a different API call from what I understand.
![11a-plan details as list in drill down - not started](https://user-images.githubusercontent

[2018-04-18 18:56] vconzola opened #228 "Timeout while in Pending State"
If a migration execution does not go from pending to active state we need to timeout the execution and alert the user.
- Display a persistent toast notification telling the user the plan timed out and try the migration again later.
- Provide an action link in the toast to cancel the execution.
- Remove the pending in progress card and return the plan to not started state.

Based on email discussio

[2018-04-18 19:07] mturley commented on #165
Thanks for the updates @vconzola. I've got work to push for this soon.

[2018-04-18 20:00] vconzola commented on #206
We decided in Tuesday's sprint planning that we will test the .csv file for three conditions:
- file is the correct format
- file contains a blank row
- file contains a missing VM name

For the first condition we should return an empty state with an error:
![9c1-createplan-vms-import empty state 4 step - wrong format](https://user-images.githubusercontent.com/22823035/38955027-60fdf7ce-4321-11e8-9

[2018-04-18 20:18] AparnaKarve commented on #206
I can work on this while I'm working on the other CSV requirements from Bill.

[2018-04-18 20:30] vconzola commented on #218
@mturley Here's a mockup of what the details page should look like if you need it. You should be able to use exactly what @priley86 did for the details view for in progress plans. Let me know if you have any questions.
![11a-plan details as list in drill down - complete](https://user-images.githubusercontent.com/22823035/38956486-bed7747a-4325-11e8-821e-1082b2f3ffcc.png)

[2018-04-18 20:40] vconzola opened #230 "Display a toast notification when a plan execution completes"
When a plan execution completes we need to display a toast notification. It does not need to persist. For plans where all of the migration tasks complete successfully:
![overview - w all copy 3 filter is in progress w toast](https://user-images.githubusercontent.com/22823035/38956929-15a50c08-4327-11e8-9538-d428e4f0dafd.png)

For plans where one or more migration tasks fail:
![overview - w all cop

[2018-04-19 01:04] priley86 opened #231 "Use Foreman ellipsis w/ tooltip plugin for cluster name"
see: https://github.com/priley86/miq_v2v_ui_plugin/pull/221#issuecomment-382508804

[2018-04-19 01:08] priley86 commented on #215
fixed in #226

[2018-04-19 01:08] #215 closed

[2018-04-19 01:13] priley86 commented on #223
spoof all the backend in a new "summit demo" branch. this will include spoofing the following apis and using local storage:

* creating mappings
* validating/discovering plans
* creating plans
* querying mappings
* querying plans

update static mocks for the following (for demo):
* source clusters/target clusters
* datastores
* networks

[2018-04-19 01:14] priley86 commented on #223
and...........help @vconzola setup MIQ on RHEL Linux laptop  🎩 💻

[2018-04-19 02:44] serenamarie125 commented on #230
@priley86 @vconzola are we implying that these toast notifications are shown in the Notification Drawer?  I think @AparnaKarve was going to investigate?

[2018-04-19 02:49] serenamarie125 commented on #228
@vconzola

1. !here will "Timed Out" plans be shown (before they are canceled) ?  In Progress?
2. can you retry a timed out plan?  Or only cancel it?
3. can we provide exact text for the toast? what will the link text be "Cancel Plan?"
4. is there a Cancel action the card as well ?

[2018-04-19 02:51] serenamarie125 commented on #214
@michaelkro i would think that they are 3/3/3/3 so will grow / shrink responsively

[2018-04-19 10:11] michaelkro commented on #217
Closed by #225

[2018-04-19 10:11] #217 closed

[2018-04-19 11:50] AllenBW commented on #188
UGGGGHHHH github, close this shit #221 was merged!

[2018-04-19 11:50] #188 closed

[2018-04-19 13:06] vconzola commented on #223
@priley86 Woo Hoo!! I'll start scheduling some time for us to start working on this early next week.

[2018-04-19 14:47] priley86 commented on #214
does this fix ? I was laying w/ the layout a lot last sprint and felt pretty comfortable...

https://github.com/priley86/miq_v2v_ui_plugin/pull/233

[2018-04-19 14:48] vconzola commented on #230
@serenamarie125 No drawer needed. We don't need to save the notification. It's really only helpful to the user when they are monitoring the status of the migration when it completes. I didn't want the card to simply disappear or to change the view without some user interaction. If the user is not monitoring the migration they will see the migration in the list of completed migrations when they ret

[2018-04-19 14:50] vconzola commented on #228
@serenamarie I just wanted to open this issue so we didn't lose it. I will work on the detailed design post  Summit.

[2018-04-19 14:52] serenamarie125 commented on #208
Once we come to an agreement, can you update the mock here ?

[2018-04-19 15:04] vconzola commented on #208
Updated mockup.
![11a-plan details as list in drill down w download](https://user-images.githubusercontent.com/22823035/39000230-78f6e9f8-43c1-11e8-8a7e-23e95b13aebb.png)

[2018-04-19 15:45] AparnaKarve commented on #206
@vconzola For the first condition, it is possible to display a reason, as to why a .csv is not in the expected format.
For example, it is possible to display the reason that the number of columns are inconsistent on line2
(this is an error message displayed as-is from the csv parser)

<img width="809" alt="screen shot 2018-04-19 at 8 42 49 am" src="https://user-images.githubusercontent.com/1538216

[2018-04-19 17:10] vconzola commented on #206
@AparnaKarve If an error only pertains to the formatting of a single row or a few rows, I'd like to display the contents of the file as in the second mockup above. The tooltip on the error icon can then provide details about the error. The rows with errors are disabled so they can't be selected. The only time we should display the error empty state (first mockup) is when the file is so buggered up

[2018-04-19 17:36] AparnaKarve commented on #206
@vconzola The error above - "Number of columns is inconsistent on line 2" falls in the above category.
The CSV parser fails to parse because of the column inconsistency, and as a result, we can't get to the CSV table screen.

If we prefer not to show the error details in the first mockup, that is fine.
(I just wanted to mention that the error information is available if needed.)

[2018-04-19 17:45] vconzola commented on #206
@AparnaKarve OK, thanks for the clarification. In that case, what you're showing is fine. Just make sure the font type and size are consistent for the whole message text.

[2018-04-19 18:07] bthurber opened #234 "v2v plugin tab appears with ManageIQ, should be Infrastructure Migration"
In the v2v plugin, the nomenclature listed for the browser tab identified as v2v ManageIQ.  This should read Infrastructure Migration or Migration
![image](https://user-images.githubusercontent.com/4692674/39009915-9d985ba0-43d2-11e8-8c48-2b702a03cb3a.png)

[2018-04-20 14:16] AllenBW commented on #231
good gosh.. github hates me this was closed cuz merge

[2018-04-20 14:16] #231 closed

[2018-04-20 14:49] AllenBW commented on #213
@vconzola noticing this mock no longer has the "vms to be migrated" title in the upper left, is this intentional?

[2018-04-20 14:56] vconzola commented on #213
@AllenBW Wow, good eye. I thought it might be confusing to say "VMs to be migrated" with an empty state, so I got rid of it. I'd still like it to be there when we display the table.

[2018-04-20 15:26] AllenBW commented on #213
@vconzola its not presently there when displaying the table, want me to add it?
<img width="1009" alt="screen shot 2018-04-20 at 11 26 03 am" src="https://user-images.githubusercontent.com/6640236/39059866-b0e97318-448d-11e8-8c76-97e5c6a3acba.png">

[2018-04-20 16:04] vconzola commented on #213
@AllenBW Yes, please.

[2018-04-20 18:00] AllenBW commented on #213
womp womp, merged

[2018-04-20 18:00] #213 closed

[2018-04-20 20:53] michaelkro commented on #214
Closed by https://github.com/priley86/miq_v2v_ui_plugin/pull/237

[2018-04-20 20:53] #214 closed

[2018-04-23 01:33] priley86 commented on #234
fixed in #235

[2018-04-23 01:33] #234 closed

[2018-04-23 01:35] priley86 opened #240 "Plan Wizard - VM Import selection state"
* If user selects "discover" option, deselect all VMs by default.
* If user select "CSV Import option, after the import, select all valid VMs by default.

cc: @vconzola @serenamarie125 @AparnaKarve

[2018-04-23 14:36] michaelkro commented on #224
@vconzola @serenamarie125, the APIs currently available to us (as far as I know) do not provide the disk space info as shown in the mock above.  For now, I'll just put

`0 GBs migrated`

as the label as a placeholder

[2018-04-23 14:42] vconzola commented on #224
@michaelkro Sounds good.

[2018-04-23 15:19] priley86 commented on #186
bump... i think @AllenBW would like to grab this one next...

[2018-04-24 12:35] AllenBW commented on #230
So did some searching/thinking on this issue, gonna post my approach here for posterity:

1. Identify the list that is complete migration plans
2. Augment the reducer to, when there are modifications to this list, throw notifications (but not if the list is undefined or has a 0 length, wouldn't want to bombard a user logging in afresh)
3. 💰

[2018-04-24 12:51] priley86 opened #242 "Plan Wizard - consistent headings"
Is it just me or are these headings different now? The designer in me would love to make them consistent...
![screen shot 2018-04-24 at 8 49 15 am](https://user-images.githubusercontent.com/4237045/39187959-a1a49966-479c-11e8-8f7f-d6e77d3c07c4.png)

![screen shot 2018-04-24 at 8 49 04 am](https://user-images.githubusercontent.com/4237045/39187945-975b4bd0-479c-11e8-9c4e-9934f953313b.png)

[2018-04-24 13:52] AllenBW commented on #186
<img width="549" alt="screen shot 2018-04-24 at 9 50 34 am" src="https://user-images.githubusercontent.com/6640236/39191503-0c7efbca-47a5-11e8-94e8-7b6621da48b6.png">

we have developments, yah, theres the limit,

[2018-04-24 15:02] vconzola opened #243 "Display an empty state if there are no plans in the state selected in the dropdown"
If the user selects a state (Not Started, In Progress, Complete) in the dropdown for which there are currently no plans we need to display an empty state. In discussing with @priley86 this is much easier an clearer than my original hair brained idea of disabling and enabling states in the dropdown.

Mockups below:
![migration plans empty state - not started](https://user-images.githubusercontent.c

[2018-04-24 15:09] vconzola commented on #230
@AllenBW Not sure I understand what you're saying, but design calls for notifications **not** to persist. I think the default is that they're visible for 8 seconds then fade away.

[2018-04-24 16:08] vconzola commented on #230
@AllenBW Let's discuss with @serenamarie125 at our stand up this afternoon. One question...if we persist the toasts with errors, will selecting the View Details link dismiss them?

[2018-04-24 17:09] AllenBW commented on #230
As per our standup today, Error notifications won't auto dismiss until interacted with (mouse leave or a click of the x), success will close after 8 sec.

[2018-04-24 17:09] kedark3 opened #244 "Create Infra Mapping Wizard does not show all Clusters/Datastores/Networks"
Create Infra Mapping Wizard does not show all Clusters/Datastores/Networks when we add more than one VMware/RHV providers to ManageIQ Appliance.
Steps:
1. Create a new Appliance
2. Add 2 VMware providers
3. Add 2 RHV providers
4. Check Migration Infra Mapping wizard

Result: Cannot see all Clusters/Networks/Datastores in the wizard.
Expected: Should show all the items correctly.

https://bugzilla.

[2018-04-24 17:16] AllenBW commented on #186
[To be implemented as per pfr, text validation criteria below field](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Disabled=false&knob-Show%20Labels=false&knob-Validation%20State=&knob-Show%20Help=true&knob-Field%20Level%20Help%20Content=Please%20specify%20Country%20code%20%3Cbr%3E%20%3Ca%20target%3D%27_blank%27%20href%3D%27https%3A%2F%2Fcountrycode.org%2F%27%3EClick%20he

[2018-04-24 17:29] vconzola commented on #230
@AllenBW Selecting the View Details link should also dismiss the toast.

[2018-04-24 20:04] mturley commented on #186
@AllenBW are you still doing this one? I can grab it if you like, I just freed up.

[2018-04-24 20:52] mturley commented on #136
Cool thanks @priley86 ! We should, eventually.

[2018-04-25 11:47] priley86 commented on #165
closed by #245

[2018-04-25 11:47] #165 closed

[2018-04-25 12:30] istein1 opened #248 "Create Infra Mapping Wizard does not show all Clusters, when having same cluster name, on different providers."
Setup:
2 RHV providers connected to manageIQ:
RHV1 has cluster "Default"
RHV2 has cluster "Default", and 3 more with other names.

Mapping wizard display only one cluster, "Default".

If the cluster name, "Default" in RHV1 is changed to some other name,
the clusters section, in the Mapping wizard RHV2 clusters are displayed.

Version-Release number of selected component (if applicable):
master.201

[2018-04-25 12:37] istein1 opened #250 "Infra Mapping plan cannot be edit, after creation."
Once the Mapping plan is created is not editable.

Version-Release:
master.20180417121918_2dd64f8

Expected results:
It should be possible to edit Infra mapping plan.

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1571770

[2018-04-25 12:46] istein1 opened #251 "Infra Mapping Wizard show irrelevant RHV clusters"
There are cases that the RHV clusters might be irrelevant, for example when the hosts, residing on the clusters are not set as conversion hosts - which will eventually fail the migration.
In such cases, it would be better to filter those clusters
(and RHV data centers too, once those will be added to the mapping wizard).

Version-Release:
master.20180417121918_2dd64f8

BZ: https://bugzilla.redhat.

[2018-04-25 13:53] priley86 commented on #135
This issues it too broad. QE will begin filing issues individually. Closing this for now.

[2018-04-25 13:53] #135 closed

[2018-04-25 14:03] vconzola commented on #251
@istein1 We are working on a UI update that will notify users when a RHV cluster does not contain a conversion host, but we were instructed by PM not to block selection of those clusters because conversion host setup can be done after mapping but before migration plan execution.

[2018-04-25 14:05] vconzola commented on #250
@istein1 Ability to edit/delete mappings and plans are on the roadmap for post-Summit sprints.

[2018-04-25 14:08] vconzola commented on #248
@istein1 In the case you describe above are the two clusters named "Default" in the same datacenter? We are adding a datacenter tag to the cluster names so that two clusters with the same name in different DCs are both shown. I'm not sure having two clusters with the same name in the same DC is valid.

[2018-04-25 17:12] priley86 opened #252 "Code Improvement: write redux boilerplate generator"
post summit i will try to take a look at this if we still think it's warranted...

[2018-04-26 00:48] serenamarie125 commented on #230
oh I ❤️ this :in progress: label ... gives me a warm fuzzy feeling 🤗

[2018-04-26 09:04] istein1 commented on #251
@vconzola ,
I see. Thank for the detailed explanation.
May I suggest those 2 alternatives:
1. To have the hosts missing conversion part to be marked with an asterisk,
and mention bellow those hosts are missing conversion setting.
2. Add a warning to the user, before submitting the migration plan execution,
that there are RHV hosts that are not conversion hosts -
This way the user will not waste ti

[2018-04-26 09:05] istein1 commented on #250
Glad to hear, thanks or the update.

[2018-04-26 09:09] istein1 commented on #248
@vconzola The 2 clusters with the same name refer to clusters in 2 separate data centers, while each Datacenter belong to a different RHV providers. It is a valid situation.

[2018-04-26 13:06] priley86 commented on #243
f.y.i - hitting these cases in #223 and implementing them now.

[2018-04-26 13:35] vconzola commented on #251
@istein1 Here's a mockup of what we're planning to show in the mappings wizard for clusters without conversion hosts configured. We'll add a similar warning before migration. I just haven't mocked that one up yet.
![4aa-createmapping-clusters w datacentre - option 2 w warning](https://user-images.githubusercontent.com/22823035/39309111-36cdb506-4935-11e8-833f-1328a1ff8148.png)

[2018-04-26 13:43] vconzola commented on #248
@istein1 OK, good. In the new UI we will display datacenter along with cluster name (PR has been merged, but not in nightly builds yet.), so that if two clusters in different datacenters have the same name, both will appear in the list of available clusters. But let's leave this issue open until you can confirm that's it's working as you expect.

[2018-04-26 14:08] istein1 commented on #248
@vconzola thanks, if you'll have info, later on, on which nightly I'll be able to consume to verify it, please tell me..

[2018-04-26 14:12] istein1 commented on #251
@vconzola That looks great, thanks.

[2018-04-26 18:28] mturley commented on #186
Here are some screenshots of the 3 states we have for validation of each field. @vconzola, I need to determine the text we want to use for:
* initial help/description (if any) in grey (screenshot 1, we could use this to announce the character limit before input if we want)
* Empty on unfocus (screenshot 2, currently says "Required" in red, which is probably fine)
* Over the character limit (screen

[2018-04-26 18:31] priley86 commented on #243
<img width="1427" alt="screen shot 2018-04-26 at 2 27 52 pm" src="https://user-images.githubusercontent.com/4237045/39324731-3400d398-495e-11e8-9311-0dd9ded63370.png">

<img width="1430" alt="screen shot 2018-04-26 at 2 28 01 pm" src="https://user-images.githubusercontent.com/4237045/39324738-3748323a-495e-11e8-8332-71ce22d14936.png">

[2018-04-26 19:02] vconzola commented on #186
@mturley Here's some text:
For initial help/description for Name field: "Maximum is 24 characters."
For initial help/description for Description field: "Maximum is 128 characters."
Empty on unfocus for Name field: "Required"
Empty on unfocus for Description field: blank - field is not required and don't turn it red
Over the character limit for Name field: "Name is too long. Maximum is 24 character

[2018-04-26 19:05] priley86 opened #254 "Integrate Plans API"
per discussion this morning, there was a new proposed solution to integrate plans API on the Overview screen by @bzwei :

* load the plans in one API and then separately batch all requests/tasks in a separate API.

We should be careful to ensure that existing UX logic stays in tact (aggregate status counts, migration section filters, aggregated disks/vms). I am happy to review this w/ @AparnaKarve

[2018-04-26 19:06] priley86 commented on #254
cc: @vconzola @serenamarie125

[2018-04-26 19:30] mturley commented on #186
Perfect, thanks @vconzola. I'll use those. For the description field being left blank, it won't say "Required" or turn red, or go blank-- with no error, it'll just show the initial help/description.

[2018-04-26 19:46] mturley commented on #186
@vconzola since the max character info now disappears when you get the validation error, and 'Required' was the only validation error to not have that info, I think I'm going to use "Required. Maximum is 24 characters." for that message. Sound ok?

[2018-04-26 19:48] michaelkro opened #255 "Update language to use the term "Migration" instead of "Transformation""
May not be an exhaustive list, but where this is most prevalent is

* Migration Plans in Progress details page
* Migration Plans Completed details page

[2018-04-26 19:56] michaelkro commented on #218
Closed by #249

[2018-04-26 19:56] #218 closed

[2018-04-26 19:58] mturley commented on #186
I guess it's fine without that, I can go back to just 'Required' there if we want.

[2018-04-26 19:59] vconzola commented on #186
@mturley I like "Required. Maximum is 24 characters." Good idea.

[2018-04-26 20:08] mturley commented on #186
@vconzola here's a recording of where we are with these in place. Bringing this over to the other wizard now and I'll have a PR up in a minute.

http://recordit.co/aEd8yjVuYo

[2018-04-26 20:29] mturley commented on #186
@serenamarie125 I'm going to make a PR just for the names and descriptions (the first 2 in your list up top here). You mentioned that the VM step has validation that isn't part of this issue, but is any of that step part of this issue? Adding validation in the CSV Dropzone won't be quite the same, so either way let's handle it as a separate change.

[2018-04-26 20:35] mturley commented on #186
https://github.com/priley86/miq_v2v_ui_plugin/pull/256

This should be mergeable and covers the name and description fields in both wizards. Let's merge this and then figure out if the CSV stuff should be part of this issue or another (not sure where the line is there, if there is more than one thing to validate in there and this covers the names of VMs, or if that's all covered in https://github.

[2018-04-26 20:43] vconzola commented on #186
@mturley I think the name of the .CSV file will be covered by #206. For the names of the individual VMs, I believe that validation will be done by the backend as part of the validation they do to confirm the VMs exist on the host clusters and are not duplicates. If a name in the CSV file matches a name on the source cluster(s) it must be OK. Since the VM names are being copied over for VMware to R

[2018-04-26 20:56] bzwei commented on #254
Please see the sample API [output](https://gist.github.com/lfu/ce3a1cab7dcc920cccfc7786b7a83cb2)
The first one is an existing API that the UI is already using. It pulls all migration plans plus requests in one call.

UI should extract href for each request, and compose the body to make the second call to get all tasks for selected requests.

[2018-04-26 21:53] serenamarie125 commented on #186
@mturley - i agree with @vconzola.  What you've done is great!  Thank you

[2018-04-26 22:46] mturley commented on #186
Ok. I only meant names of VMs, so I was a little confused. Are we validating the name of the CSV file? Doesn't seem like that filename should really matter, right? the file isn't being imported, just the referenced VMs.

[2018-04-27 18:15] mturley commented on #186
Perfect, thanks @vconzola, that's what I figured. Good to confirm it.

[2018-04-27 19:30] priley86 commented on #243
this is done in the `uxd-summit-booth` branch - will port this over to `alpha` branch PR soon...

[2018-04-27 19:36] priley86 commented on #223
we are 90%+ complete here?... we have a super cool demo to record and share in the UXD Summit Booth now (and will be posting that for others to view next week). Just made a few notes to continue iterating on from this morning's review w/ @vconzola :

**Infrastructure Mapping List**
- the Completed Time is not showing the localized time correctly for some reason. I think we should move that back to

[2018-04-29 06:01] bthurber opened #257 "Multiple networks with the same name appear for target provider for infrastructure mappings"
BZ:  https://bugzilla.redhat.com/show_bug.cgi?id=1572169

Example:  ovirtmgmt for a single target appears twice.  2 hosts enabled for the RHV provider with the conversion host role.

[2018-04-29 06:03] bthurber opened #258 "Migration fails if the VM name is too long"
BZ reference:  https://bugzilla.redhat.com/show_bug.cgi?id=1571963

[2018-04-29 06:10] bthurber opened #259 "Migration Plan CSV import screen readability issue for VMs with long name"
BZ filed here:  https://bugzilla.redhat.com/show_bug.cgi?id=1571948

[2018-04-30 12:27] priley86 commented on #208
@bzwei @AparnaKarve can you provide any API update on the download log function?

[2018-04-30 13:10] bzwei commented on #208
There is no API for it. @AparnaKarve and I discussed, and we should have a controller to support file download.

[2018-04-30 16:08] AllenBW commented on #258
@vconzola you ok with a solution of truncating overflow with ellipses and throw up a tooltip with the rest of the name?  (thing we did in that other place)

[2018-04-30 16:45] vconzola commented on #259
@AllenBW Sure. That's fine for the PoC UI. For the "new UI, will the text autowrap in the table?

[2018-04-30 18:51] priley86 opened #265 "Migration completed notifications should also appear on detail screen"
* to fix this, we can bubble up the `_getTransformationPlansActionCreator` redux call a level in the hierarchy (so that polling occurs for that request on both Overview and Overview Detail).

I'm fine w/ deferring this for now...

[2018-04-30 18:58] AllenBW commented on #230
done via #263

[2018-04-30 18:59] AllenBW commented on #259
@vconzola is that the desired solution? down for whatever yah wanta do

[2018-04-30 20:12] vconzola commented on #259
@AllenBW I'd prefer that the name auto wrap in the table if possible.

[2018-04-30 21:35] priley86 commented on #243
closed by #260

[2018-04-30 21:35] #243 closed

[2018-04-30 21:35] priley86 commented on #254
Closed by the #260 . Thanks @bzwei @AparnaKarve .

[2018-04-30 21:35] #254 closed

[2018-04-30 21:55] priley86 opened #266 "UI flicker on plan details"
After integrating the backend API in #260 , i noticed a bit of flicker on the plan detail screen. It would be great to add a loading spinner instead of showing the empty VMs messaging...

![flicker](https://user-images.githubusercontent.com/4237045/39452267-9c081552-4c9f-11e8-9f6d-290ac43c2eca.gif)

[2018-04-30 22:01] priley86 commented on #266
would be nice to tackle this in sprint7 if possible...

[2018-04-30 22:06] mturley commented on #186
Updates to the discussion around this issue are present on the PR here, which is now ready to merge: https://github.com/priley86/miq_v2v_ui_plugin/pull/256

[2018-04-30 22:07] priley86 opened #267 "Code Improvement: remove bindMethods"
PF React moved away from this convention. I would like remove all instances of `bindMethods` in v2v soon.

[2018-04-30 22:30] priley86 commented on #121
@AparnaKarve - it looks like this issue was fixed somewhere along the way. Can you confirm/close?

[2018-04-30 22:31] mturley commented on #208
@serenamarie125 do we want to hold off working on the UI for this until the API is ready? Or should one of us grab this and get it started?

[2018-04-30 22:33] mturley commented on #266
I can grab this if you like @priley86. I'm freeing up and it looks like the only other unassigned issue has `needs-api`.

[2018-04-30 22:34] AparnaKarve commented on #121
@priley86 Yes, I can confirm that this has been fixed.

[2018-04-30 22:34] #121 closed

[2018-05-01 00:08] michaelkro opened #269 "Code Cleanup: Update Transformation Plan Fixtures"
Now that we're querying Plans and Requests w/Tasks separately, we need to update these [fixtures](https://github.com/priley86/miq_v2v_ui_plugin/blob/alpha/app/javascript/react/screens/App/Overview/overview.transformationPlans.fixtures.js) to align with the expected API response

Currently we're getting a false positive in this [test](https://github.com/priley86/miq_v2v_ui_plugin/blob/alpha/app/jav

[2018-05-01 00:26] priley86 commented on #266
Awesome! Feel free!

[2018-05-01 12:54] AllenBW commented on #259
<img width="843" alt="screen shot 2018-05-01 at 8 47 56 am" src="https://user-images.githubusercontent.com/6640236/39473502-2e8b1654-4d1d-11e8-9293-b3334c685dfa.png">

A ss of latest master, thinkin' this is no longer a bug, will close once the shuttering of the bz is accepted.

[2018-05-01 13:33] mturley opened #270 "Code improvement: Replace long relative paths with shared module resolution."
We have a lot of imports of common files from way up the tree, which look like this:

[code]
This could be cleaned up easily by taking advantage of Shared Module Resolution, as explained here:
https://gist.github.com/ryanflorence/daafb1e3cb8ad740b346#shared-module-resolution

Thanks to @priley86 for the tip on this one.

[2018-05-01 15:48] bthurber opened #271 "Summit UI - Migration Plan Retry not working"
If a migration plan failed, clicking Retry doesn't retry the migration.  Nothing happens.

[2018-05-01 15:49] bthurber opened #272 "Summit UI - VM migration timer continues to run"
Migration plan timer is good.  Drilling down into the plan, individual VM migration timers still run

[2018-05-01 15:50] bthurber commented on #272
![screenshot from 2018-05-01 10-40-25](https://user-images.githubusercontent.com/4692674/39480314-6720a03c-4d2d-11e8-8fea-db23dc7c32dd.png)

[2018-05-01 15:50] bthurber commented on #272
![screenshot from 2018-05-01 10-41-15](https://user-images.githubusercontent.com/4692674/39480333-7b32eabc-4d2d-11e8-8a92-4ae04bb17e22.png)

[2018-05-01 15:51] bthurber opened #273 "Summit UI - Continuous spinning circle for VM's migrated in migration plan"
Drilling down into the plan, there is a constant spinning circle next to migrated VMs.
![screenshot from 2018-05-01 10-40-25](https://user-images.githubusercontent.com/4692674/39480383-a54ff52e-4d2d-11e8-9b39-b7bc8e7c3694.png)

[2018-05-01 15:53] bthurber opened #274 "Summit UI - Unable to choose or select already migrated VMs"
If a VM has already been migrated, the target environment cleaned of the migrated VM, I am unable to choose the VM for migration again.

[2018-05-01 17:57] vconzola opened #275 "Toast notification disappearing too quickly after successful migration"
When a plan completes successfully the toast notification is supposed to appear for 8 seconds or until the user interacts with it.  Currently, the toast seems to disappear as soon as the plan migration card is  closed and the aggregate status card is updated.

[2018-05-01 17:58] priley86 opened #276 "Update PatternFly to latest version in UI-Classic"
This is just a placeholder issue for now. It would be nice to update PF so that all the latest designs are applied (i.e Breadcrumbs).

[2018-05-01 18:03] vconzola opened #277 "Source-target cluster mappings should be identifiable in the infrastructure mappings expanded list view"
When an infrastructure mapping is expanded in the list view, the source-target mappings should be easily identifiable. This can be done through custom line spacing (short term) of the cluster lists or through another another visualization technique (TBD) long term. The custom line spacing option is shown here:
![overview - w mappings mappings copy 3 1 mapping w_ list expansion](https://user-images

[2018-05-01 18:03] priley86 commented on #274
This is likely a backend issue. cc: @bzwei @AparnaKarve

can you confirm?

[2018-05-01 18:07] vconzola opened #278 "User should be able to see associated migration plans for an infrastructure mapping"
In the infrastructure mapping list view expansion the user should be able to see a list of migration plans associated with the mapping.
![overview - w mappings mappings copy 3 1 mapping w_ list expansion](https://user-images.githubusercontent.com/22823035/39486130-1659df1c-4d49-11e8-914f-8101bd7a0743.png)

[2018-05-01 18:08] priley86 commented on #186
Closed by #256

[2018-05-01 18:08] #186 closed

[2018-05-01 18:49] priley86 commented on #274
interesting - when I tested yesterday I noted the same. When I reloaded the discovery screen, previously migrated or selected VMs from other plans were not available.

[2018-05-01 19:00] AparnaKarve commented on #274
I think these errors - `VM exists in a different migration plan`, `VM has already been migrated`, should be treated as warnings, and we should make those VMs selectable.

Also, you would typically get the above errors during a CSV import, and not during a discovery process. The discovery process does some vetting, and only outputs the "valid" VM list

[2018-05-01 20:29] AllenBW commented on #275
Just timed it, success toasts without interaction do indeed last a full 8 seconds on the screen.  That being said, @vconzola if yah don't feel that's long enough we can increase the number [here](https://github.com/AllenBW/miq_v2v_ui_plugin/blob/08b8a52c9af7d9189bf5bf1cba6f7de5e1bcee84/app/javascript/react/screens/App/Overview/Overview.js#L132).

[2018-05-01 20:41] priley86 commented on #272
fixed by #279 - should be in tonight's nightly...

[2018-05-01 20:42] priley86 commented on #273
fixed by #279 - should be in tonight's nightly...

[2018-05-01 20:44] bthurber commented on #274
The VM's are no longer selectable in the UI.

For import they just dont't appear.

Attached is the .csv I am using.

On Tue, May 1, 2018 at 2:00 PM, Aparna Karve <notifications@github.com>
wrote:

--
Brett Thurber - RHCA, RHCVA
Engineering Manager, Solutions Engineering
Products & Technologies Group, Red Hat
Mobile: +1 (512) 547-9282

[2018-05-02 08:08] mperezco opened #281 "Networks appear twice"
In CloudForms nightly build 2018-05-01, when creating an infrastructure mapping, RHV networks appear twice.
This may be a regression.

[2018-05-02 12:40] michaelkro commented on #271
This was actually resolved in https://github.com/priley86/miq_v2v_ui_plugin/pull/229, but this PR was merged into `sprint6`, and was not merged in `sprint7` nor `alpha`

[2018-05-02 13:08] vconzola commented on #274
@bthurber What's the use case for selecting a VM that's already been migrated? Is this just for test purposes?

[2018-05-02 13:18] vconzola commented on #275
@AllenBW Definitely not what I'm seeing. I'll try to record and post here sometime today.

[2018-05-02 13:41] AparnaKarve commented on #271
Thanks @michaelkro -- I will look into cherry-picking the #229 commits to `alpha`

[2018-05-02 14:36] priley86 commented on #281
@mperezco this is indeed a regression. I will cherry-pick the commit from sprint6 into `alpha` today and hopefully tomorrow's build fixes this.

[2018-05-02 15:06] priley86 commented on #271
thanks @michaelkro - it looks like this is the only regression missed from sprint6?
https://github.com/priley86/miq_v2v_ui_plugin/compare/alpha...sprint6?expand=1

the "fix browser tab title and icon" was pulled in by https://github.com/priley86/miq_v2v_ui_plugin/commit/767467e2b2a71cddaf28fa9d6523993a4866ee6d already it seems...

[2018-05-02 15:16] kedark3 commented on #274
@vconzola @bthurber is right, in field it is very much possible that something went wrong, user deleted the VM from RHV and want to migrate same VM from VMware again.

[2018-05-02 15:23] kedark3 opened #283 "Timed Out migration screen keeps repeatedly prompting for login"
https://bugzilla.redhat.com/show_bug.cgi?id=1573547

@priley86 I believe Brett will reach out to you to prioritize this. Please review as it may be an urgent bug to fix.

[2018-05-02 15:28] priley86 commented on #258
@AllenBW does VM Name wrap as well? Not sure if this relates to #259

[2018-05-02 15:29] priley86 commented on #281
appears this may also be duplicated by #257 - screenshots would help ;)

[2018-05-02 15:36] priley86 commented on #223
this was completed in the `uxd-summit-booth` branch. I am leaving that up for legacy reasons only, but this branch will no longer be maintained 😸

[2018-05-02 15:36] #223 closed

[2018-05-02 15:39] AllenBW commented on #258
@bzwei any thoughts on the log results? (posting from the bz)

![screenshot from 2018-04-25 15-31-01 1](https://user-images.githubusercontent.com/6640236/39533616-844e6754-4dfd-11e8-8384-116ef4653845.png)

[2018-05-02 17:34] AllenBW commented on #259
verified working in master, closing this issue

[2018-05-02 17:34] #259 closed

[2018-05-02 18:02] bthurber commented on #272
Verified fix in latest nightly.

[2018-05-02 18:02] #272 closed

[2018-05-02 20:17] michaelkro commented on #269
Closed by #282

[2018-05-02 20:17] #269 closed

[2018-05-02 22:05] mperezco commented on #281
![image](https://user-images.githubusercontent.com/1738510/39551542-afd69190-4e65-11e8-996f-7f7dc6ff31c0.png)

[2018-05-02 22:10] priley86 commented on #266
this was way more tricky than i expected (apologies on that)... pushed a fix in #286

[2018-05-02 22:11] priley86 commented on #266
should be fixed in tonight's nightly...can you confirm tomorrow @bthurber?

[2018-05-02 23:50] serenamarie125 commented on #206
Fixed by @AparnaKarve with #239

[2018-05-02 23:50] #206 closed

[2018-05-03 04:02] serenamarie125 commented on #266
Issue is closed by #286 which is now merged

[2018-05-03 04:02] #266 closed

[2018-05-03 04:18] mturley commented on #266
Thanks @priley86 , sorry I got stuck and hadn't pushed my fix yet. Yours is better anyway.

[2018-05-03 12:18] vconzola opened #288 "Need to show conversion host name along with path to the migration log file"
Per Marco and Tomas users will need to know the name of the conversion host where the log file is located for each migration. This will make it much easier to find the logs and also allow them to "stream" the logs as a migration is in progress. @priley86 says this information is already available to the UI, so it's just a matter of adding it above the path in the popover displayed when you click o

[2018-05-03 12:26] mturley commented on #275
Unassigning myself for now to work on the less confusing #288.

[2018-05-03 12:31] vconzola commented on #275
@mturley I have to wrap up some Summit stuff this morning. Will try to reproduce and record it this afternoon. The times I've noticed it have been when I have more than one plan running at a time, if that helps. But this one isn't urgent.

[2018-05-03 12:35] AllenBW commented on #258
Naaaah I'm not the right one to assign to this...

[2018-05-03 13:35] AllenBW commented on #283
Still working this... 's being a tricky one to peg down...

[2018-05-03 15:18] AllenBW commented on #283
ok finally, getting somewhere, this happens when session has timed out and polling is still going on... (but before user interacts and is redirected to login)

[2018-05-03 17:35] kedark3 opened #289 "Retry Migration button does not work properly"
https://bugzilla.redhat.com/show_bug.cgi?id=1574629

[2018-05-03 18:07] priley86 commented on #289
Duplicate of #271 - we are looking into this. thanks!

[2018-05-03 18:07] #289 closed

[2018-05-03 18:12] kedark3 commented on #271
@bthurber @priley86 Retry button does restart the migration, just does not show in the UI.

[2018-05-03 18:37] mturley commented on #136
I want to squeeze the rest of this into the breakaway sprint, i think. It bothers me that I never finished completing this loop.

[2018-05-03 19:05] AllenBW opened #290 "MIQ plugin interaction does not persist session"
User time spent in a plugin does not count towards session activity, meaning, if your session timeout is set to 10 minutes, after 10 minutes in the plugin the user will be forced to login again when navigating outside of the plugin.

[2018-05-03 19:10] AllenBW commented on #283
So two issues:
- on session timeout, user not being redirected to login state, (well they do but only after interaction with a MIQ proper asset, not a plugin asset)
- user time in a plugin does not count towards session activity, meaning, if your session timeout is set to 10 minutes, after 10 minutes in the plugin the user will be forced to login again when navigating outside of the plugin, [an is

[2018-05-03 19:16] bthurber commented on #266
Seems to be resolved.

[2018-05-03 19:30] priley86 commented on #258
ok seems to be a backend issue after discussing some more w/ @vconzola and looking at this... thanks @AllenBW . i'm in favor of deferring this one to sprint8 - it seems we have other things we need to consider (i.e. VMWare name length not matching RHEV name length which may not match MIQ name length).

@vconzola @serenamarie125 can you follow up w/ @bthurber on this before we implement anything in

[2018-05-03 19:41] bthurber commented on #258
OK to move to Sprint 8

[2018-05-03 21:27] imtayadeway commented on #283
@AllenBW that sounds correct to me

You'll need to ensure you do a `DESTROY` to `/api/auth` for this!

[2018-05-03 23:56] priley86 commented on #274
closing (resolved in #280 )

[2018-05-03 23:56] #274 closed

[2018-05-04 00:11] bzwei commented on #258
@AllenBW The error comes from OvirtSDK. It is a back-back-end problem. If ovirt has length constraint for VM name, that's the limitation we should follow.

[2018-05-04 03:15] bthurber commented on #258
@AllenBW please ask kk to file a BZ for RHV on this.

[2018-05-04 11:08] AllenBW commented on #258
Keeping this bz alive and flagging it as wont fix, (rationale is.. this isn't something we'll fix, but we need to track cuzzzzz it matters)

[2018-05-04 11:27] AllenBW commented on #275
@michaelkro noticed that orphan notifications occur when there are many piled on at once... It looks like the `onDismiss` action is not being fired, a pfr issue, we're tagging on this to 🔪 💨

[2018-05-04 12:00] michaelkro commented on #275
After doing a touch of research, this issue may actually be due to how JS deals with multiple calls to `setInterval`.

My understanding is that b/c JS is single threaded, multiple calls to `setInterval` do not "run in parallel", instead, there is some sort of queue, which includes all the other things the browser is trying to do.

In particular, since we are continually polling, and due to our use

[2018-05-04 13:57] AparnaKarve commented on #208
@bthurber An update on the progress here -

The backend code (Rails controller that calls the backend method) is done.
@priley86 and I will try and put the remaining implementation together today.
This may be touch-and-go for sprint7, but we will give our best shot.

Also, I need to do a basic sanity check with the existing code and need a real v2v environment -- so I was wondering if I could use

[2018-05-04 14:46] himdel commented on #283
So.. I think the issue may be that v2v is not using the shared API UI code. If it were:

* any API request would make extend the token lifetime
* you wouldn't get the login popup since it would redirect you to the login screen correctly

[2018-05-04 14:50] himdel commented on #283
So, the first step should be to remove `app/javascript/common/API.js` and rely on `window.API`.

Then we can try to fix any remaining problems in the common code.

(Caveat: the idea was to finish first https://github.com/ManageIQ/manageiq-ui-classic/pull/3662. Until that is merged, it's not `window.API` but `window.vanillaJsAPI`)

[2018-05-04 16:11] kedark3 opened #291 "Migration plan Description Missing"
https://bugzilla.redhat.com/show_bug.cgi?id=1575057

[2018-05-04 17:00] priley86 commented on #291
per @vconzola - this is working per design.

[2018-05-04 17:04] kedark3 commented on #291
@priley86 I would like to request @bthurber to look at this issue. I think we should definitely display the description somewhere, why do we take it from user in the first place otherwise?

[2018-05-04 17:33] vconzola commented on #291
@kedark3 The description should be visible in the Not Started and Completed plans list views. Right now I see it in the Not Started view, but not the Completed view. This was an omission on my part - I failed to include it in the design mockups. If you aren't seeing the description in the Not Started view, please send a screenshot, since that would be different from what I'm seeing.

Not showing t

[2018-05-04 17:34] kedark3 commented on #291
![image](https://user-images.githubusercontent.com/8180469/39642492-e42c2744-4f9f-11e8-851e-b465f3606db5.png)

[2018-05-04 17:35] kedark3 commented on #291
![image](https://user-images.githubusercontent.com/8180469/39642504-f1e304c0-4f9f-11e8-837b-5cefd5f915e2.png)

[2018-05-04 17:35] kedark3 commented on #291
@vconzola this is on Not Started side. Please review.

[2018-05-04 19:10] kedark3 opened #293 "Currently only the CSV import will let you view and select an already migrated VM — the discovery process does not"
@bzwei @AparnaKarve
https://bugzilla.redhat.com/show_bug.cgi?id=1575109

[2018-05-04 20:08] #291 closed

[2018-05-04 20:10] serenamarie125 commented on #242
@priley86 I'm not following.  What's inconsistent here ?

[2018-05-04 20:13] serenamarie125 opened #295 "Fix alignment issues on Step 2 of the Migration Plan Wizard"
Everything should be left aligned on the wizard page
- Title
- Filter Control
- Horizontal Separator
- Table
- "# VMs" label

![image](https://user-images.githubusercontent.com/12504403/39650322-b56bf23e-4fb5-11e8-98d2-a3c8ce417180.png)

[2018-05-05 00:11] mturley commented on #288
@vconzola as mentioned on Slack I am having trouble reproducing the state where this info tip is happening. It seems like it's a simple change and i've implemented some of it but I can't test my code. Working on fixing that with @priley86 and @AparnaKarve's help. In the meantime I think maybe that mockup would be helpful, actually if it's not a hassle.

[2018-05-05 22:50] bthurber commented on #208
@AparnaKarve yes please feel free to.

[2018-05-07 05:19] serenamarie125 opened #297 "Users need to be able to delete infrastructure mappings"
Users need to be able to delete infrastructure mappings

BEFORE STARTING WORK - need to find out the following:
- what restrictions are there around deleting an infrastructure mapping?
- need a design for this from @vconzola showing 1) where will delete action be available
2) Text for  delete confirmation
3) what if you are trying to delete something that cannot be delete, how do we information th

[2018-05-07 05:21] serenamarie125 opened #298 "Users need to be able to delete migration plans"
Users need to be able to delete migration plans

BEFORE STARTING WORK - need to find out the following:
- what restrictions are there around deleting a migration plan?  FYI - what states are delete available for?  Just Completed & Not Started ?
- need a design for this from @vconzola showing 1) where will delete action be available
2) text for delete confirmation
3) what if you are trying to delet

[2018-05-07 05:27] serenamarie125 opened #299 "Provide migration error reporting at the plan level"
Migration Plans with any aggregated failures currently show an error status.  We should provide a popover, accessible by clicking this error icon, including a high level message noting how many vms have failed at that point

@priley86 do we need an API for this, or do we already have support?
FYI @vconzola

[2018-05-07 15:08] priley86 commented on #297
should we also include design for deleting plans as well? It seems we have API support for both deleting plans and mappings, but nothing wired up in the UI for this.

[2018-05-07 16:18] priley86 commented on #293
per discussion this morning in gitter, this will require a backend change first.

[2018-05-07 16:37] AparnaKarve commented on #293
In fact, this will be a 100% backend change.

In the CSV mode, the UI already has the support to let the user select "once-migrated" VMs.
Once the backend is adjusted for the discovery process, to output both valid and invalid VMs, the UI should just work.

/cc @bzwei

[2018-05-07 16:49] AllenBW commented on #275
Annnnnnnnnd we gotta fix for this

[2018-05-07 16:54] Yadnyawalkya opened #301 "Compute of main navigation should be highlighted after selecting migration page"
**Component** - UI

**Description** - `Compute` of main navigation not get highlighted (is not active) even after selecting `migration` page.

**Actual result**
![screenshot from 2018-05-07 17-55-45](https://user-images.githubusercontent.com/10824880/39713655-25bf39ec-5245-11e8-9f3f-80770d8d5b7f.png)

**Expected result**
![screenshot from 2018-05-07 20-54-17](https://user-images.githubusercontent.

[2018-05-07 19:12] priley86 commented on #275
fixed by PR 300 !!!

[2018-05-07 19:12] #275 closed

[2018-05-07 19:16] priley86 commented on #301
Fixed by #302 - please confirm @Yadnyawalkya

[2018-05-08 14:30] bzwei commented on #293
/cc @lfu

[2018-05-09 07:24] Yadnyawalkya opened #305 "[QEDevCollab] Need ids for radiogroups in migration plan wizard"
To carry our automation with widgetastic's [RadioGroup](https://github.com/ManageIQ/integration_tests/blob/c917ea6113212a3d401a6ba57b624a5fed18181f/widgetastic_manageiq/__init__.py#L1660) widget, we need ids on `radio groups` of `migration plan wizard`. Locations are,

1. `id` for `Select VMs` radio group `div` (from first wizard pane)
![screenshot from 2018-05-09 12-31-34](https://user-images.git

[2018-05-09 10:26] AllenBW commented on #305
will go through and ensure all radio buttons gotta lil something something for yah today @Yadnyawalkya 🙇‍♀️

[2018-05-09 11:11] priley86 commented on #305
👍

[2018-05-09 12:27] AllenBW commented on #305
@Yadnyawalkya so we could put them on groups.. or would putting them (ids) on individual fields be more useful?

[2018-05-09 13:29] Yadnyawalkya commented on #305
@AllenBW - it'll be good if you put `id` on group, similar like what I did in expected code (In `div`).
(Above statement is specifically for RadioGroup only. Incase of other widgets, individual ids will be preferable)

In automation point of view, we have widget functions which take `xpath` of `RadioGroup` and automatically detect `RadioButtons` in it, so this id will be use in that `xpath` to ide

[2018-05-09 14:14] AllenBW commented on #305
right on! ok so how about this... rather than doing it for just radio... doing it for everyone, just in case you need them in the future?
<img width="521" alt="screen shot 2018-05-09 at 10 12 10 am" src="https://user-images.githubusercontent.com/6640236/39819475-8addf7b4-5371-11e8-87ef-605a6d94f562.png">

@Yadnyawalkya if you're happy with ☝️ i'll 🗃 yah up a pr tout de suite!

[2018-05-09 14:43] AllenBW commented on #305
Oh... hmm.... good to know... well its easiest just to add em to all, so disregard the others 😏

[2018-05-09 15:05] kedark3 opened #307 "[QEDevCollab] Need ids for listmultibox in infra mapping wizard"
To automate the Infra Mapping wizard I need to create Widgetastic widget for each multi select box in the wizard, we need ids on multiselect boxes.
![image](https://user-images.githubusercontent.com/8180469/39821757-ecbc3ebe-5376-11e8-891a-b53d7700e418.png)

For this the **current code** is:
[code]

**Expected Code:**
[code]

Look for following two lines in Expected code section:
[code]

Same appl

[2018-05-09 18:36] AllenBW commented on #305
#306 closes this!

[2018-05-09 18:36] #305 closed

[2018-05-09 18:36] AllenBW commented on #307
#306 closes this! <3 💃

[2018-05-09 18:36] #307 closed

[2018-05-10 14:51] AllenBW commented on #295
@serenamarie125 how left aligned is left aligned? everything in line with the "vms to be migrated" title?

so maybe like this cept with the hr also in line?
<img width="902" alt="screen shot 2018-05-10 at 10 51 09 am" src="https://user-images.githubusercontent.com/6640236/39876002-254ba73c-5440-11e8-9492-cc1b0dc078cc.png">

[2018-05-10 16:02] AllenBW commented on #290
closing this, cuz it'll be fixed once we fix #283

[2018-05-10 16:02] #290 closed

[2018-05-14 04:32] bthurber opened #310 "Enhance infrastructure migration info"
Add storage and network mapping info into infrastructure mapping details post creation.

[2018-05-14 15:05] mturley commented on #288
@vconzola do you think you could give me a mockup here? I am not able to reproduce the state in the app perfectly, so I can't find exactly the popover and info tip you're talking about.

[2018-05-15 11:11] Yadnyawalkya commented on #301
It is working now, we can close this issue.

![screenshot from 2018-05-15 16-36-23](https://user-images.githubusercontent.com/10824880/40053328-7aec76ea-585e-11e8-9118-0febcdaab3fa.png)

Thanks @priley86 and @AparnaKarve ! :1st_place_medal:

[2018-05-15 14:18] AparnaKarve commented on #301
Thanks for confirming @Yadnyawalkya!

[2018-05-15 14:18] #301 closed

[2018-05-15 15:54] vconzola commented on #288
@mturley Here you go. Let me know if you have questions.
![conversion host in popup](https://user-images.githubusercontent.com/22823035/40068474-b8ca694a-5836-11e8-8a17-9dec1d889483.png)

[2018-05-16 00:10] kedark3 opened #311 "Migration Details Page Should Auto-Refresh"
https://bugzilla.redhat.com/show_bug.cgi?id=1573625
Since we have a spinner on the page which gives false impression of page will be automatically refreshed, but it does not.

[2018-05-16 00:43] kedark3 commented on #271
With PR #296, I can see Retry operation shows Item being retried in the "In progress" section.
But, It still have some issues. I ran a migration with 3 VMs, 1 migrated and 2 Failed. When I hit retry, the entry from Completed Migrations list disappeared, and it appeared in the "In Progress" section briefly, then failed and appeared in "Completed Migrations" section again. So far it sounds good. But

[2018-05-16 00:48] kedark3 opened #312 "Elapsed Time Issue"
https://bugzilla.redhat.com/show_bug.cgi?id=1573510#c4

[2018-05-16 02:43] bthurber commented on #153
https://bugzilla.redhat.com/show_bug.cgi?id=1564238

[2018-05-16 11:49] AllenBW commented on #295
### Where we're now at...
<img width="904" alt="screen shot 2018-05-16 at 7 43 38 am" src="https://user-images.githubusercontent.com/6640236/40115006-fcad0504-58dc-11e8-8b30-5f611f0add30.png">

### Seems to align with pf documentation for toolbar filter control
<img width="945" alt="screen shot 2018-05-16 at 7 44 54 am" src="https://user-images.githubusercontent.com/6640236/40115032-161103a6-58dd-

[2018-05-16 13:40] kedark3 commented on #311
@priley86 @AparnaKarve I am happy to collaborate. Let me know what you need. :smiley:

[2018-05-16 13:51] priley86 commented on #299
hey @serenamarie125 @vconzola - i believe we can already digest the current API queries to determine how many VMs have failed. I am happy to take a look at this one once we are comfortable w/ the design. It seems pretty straight forward so I will start gettting the logic ready now.

[2018-05-16 13:57] serenamarie125 opened #314 "User should be able to archive a Migration Plan"
User should have access to archive a migration plan.  If a migration plan is running, the option should not be available ( should be disabled ).

We should provide a confirmation for archive - thus, the user clicks on the Archive action, but is presented with an confirmation dialog with "Cancel" and "Archive" buttons

[2018-05-16 13:57] serenamarie125 commented on #314
@AparnaKarve can you confirm if we need API for this?  I was a bit confused during yesterday's meeting.  I'm adding the tag for now ...

[2018-05-16 13:58] serenamarie125 commented on #314
@vconzola I'm suggesting that we do have a confirmation dialog for this archive action.  Do you agree ?

[2018-05-16 14:00] serenamarie125 opened #315 "View Archived Migration Plans from the main Migration page"
User should be able to view archived migration plans.  This means that we need to allow for a filter for the "Archived" state which will show these plans in a list view.

[2018-05-16 14:01] serenamarie125 commented on #315
@AparnaKarve can you check if there's an API to get all Migration Plans that are "archived"?  If available, please remove the label.  Thanks!

[2018-05-16 14:02] serenamarie125 opened #316 "Drill into an Archived Migration Plan"
Once archived migration plans are shown in the main Migrations page, allow the user to drill in and see the plan details.

Depends on #315

[2018-05-16 14:10] serenamarie125 opened #317 "Delete an Infrastructure Mapping"
User should be able to delete an infrastructure mapping.  Add a delete action from the kebab menu for each infrastructure mapping.

1. If Infrastructure Mapping is associated with a Plan in Progress
     - The delete action should be disabled
1. If Infrastructure Mapping is associated with a Plan which has not yet been run
     - The delete action should be enabled
     - Show a delete confirmatio

[2018-05-16 14:12] AparnaKarve commented on #315
@serenamarie125 This will need both backend and API changes.
So the `needs-api` label is indeed applicable.

[2018-05-16 14:12] kedark3 opened #318 ""Download in Progress" shown in all rows even though I clicked download logs for only one VM"
![peek 2018-05-16 10-11](https://user-images.githubusercontent.com/8180469/40122354-99b34bf6-58f1-11e8-862e-7059344a0e3e.gif)

[2018-05-16 14:56] kedark3 commented on #271
@AparnaKarve yes you got the first point correct. I would like to preserve records of every run/retry and make it accessible. Its better to keep track and see logs and other statistics for each of those independently.
To see the second error, please use my appliance from yesterday, ending in .229 and check plan7.

[2018-05-16 15:17] AparnaKarve commented on #271
@kedark3 Thanks.

We do preserve records of every run/retry as a "Request with associated Tasks" record.
In the UI however, we only show the most recent request data (and not the previous requests, which could be the failed requests)

Your above suggestion will need a change in the current UX design -- maybe an additional view to browse through old requests of a Plan.

[2018-05-16 15:28] mturley commented on #317
Planning to assign myself here later today if none of you guys beat me to it.

[2018-05-16 16:13] vconzola commented on #299
Here you go @priley86 . Knock yourself out.
![overview - w all copy 4 filter is in progress w popover](https://user-images.githubusercontent.com/22823035/40129527-79bc4102-5902-11e8-9ab5-3078fdd50672.png)

[2018-05-16 17:27] kedark3 commented on #271
@AparnaKarve thanks for looking into it. I will still be rooting for the option where we have separate records for each for better transparency. @bthurber looking for your thoughts.

[2018-05-16 17:51] vconzola commented on #298
@serenamarie125 Is this issue superceded by the one for archiving a migration plan? Can this issue be closed?

[2018-05-16 18:33] bthurber opened #319 "Infrastructure Mapping Network Mapping Enhancement"
I would like to be able to map multiple source networks to multiple target networks.  I.E.

network 1  --  network 1
VM Network -- ovirtmgmt
network 2 -- network 2

Currently I can only to several source to one target.

[2018-05-16 19:03] bthurber commented on #271
Agree with @priley86

[2018-05-16 19:05] kedark3 commented on #271
Thanks for your input guys.

[2018-05-16 19:07] priley86 commented on #312
Merged #308 - please retest in the nightly.

[2018-05-16 19:35] bthurber commented on #319
https://bugzilla.redhat.com/show_bug.cgi?id=1579022

[2018-05-16 20:06] bzwei commented on #271
@AparnaKarve It is by design that retry job only picks failed tasks. UI needs to aggregate all tasks from retry jobs. It is not appropriate to copy completed tasks into a retry job.

[2018-05-16 21:32] bzwei commented on #244
The description is not sufficient for debugging. We should get data from all providers. Need to access the actual environment with more details - what resources are expected but not showing.

[2018-05-16 22:51] AparnaKarve commented on #318
Will be fixed by https://github.com/priley86/miq_v2v_ui_plugin/pull/320

[2018-05-17 14:45] kedark3 commented on #312
@priley86 @Yadnyawalkya is investigating this

[2018-05-17 16:50] kedark3 commented on #244
@bzwei @vconzola I did validate this again with the latest appliance. It seems to be working fine. Only issue I found is with the "Clusters" section in "Infrastructure Mapping Wizard". What happens is, for my VMware and RHV providers(I added 2 of each) I can see exact same name in the Clusters because our our clusters on All RHV providers and All VMware providers are named exactly. So I wish we ha

[2018-05-17 18:35] serenamarie125 commented on #317
Duplicate of #297

[2018-05-17 18:35] #317 closed

[2018-05-17 19:04] serenamarie125 opened #321 "Show associated plans in a infrastructure mapping"
@priley86 @vconzola can you add more detail please :)

[2018-05-17 19:39] mturley commented on #311
Grabbing this as soon as #322 is merged.

[2018-05-17 20:35] priley86 commented on #288
Added in #322 - closing.

[2018-05-17 20:35] #288 closed

[2018-05-17 20:47] mturley commented on #288
Thanks @priley86.

[2018-05-17 21:04] #318 closed

[2018-05-17 21:31] vconzola commented on #321
Mockup here:

![overview - w mappings mappings copy 3 1 mapping w_ list expansion](https://user-images.githubusercontent.com/22823035/40204775-b5bce972-59f7-11e8-903b-2d0b73bcd328.png)

For now we can add the count in the list view, but I might want to change the expansion depending on what we come up with for issue #310. So we should hold tight on coding that.

@serenamarie125 Do you want to brea

[2018-05-17 21:48] Yadnyawalkya commented on #312
Checked timer for negative as well as positive behaviors on three locations -
1. On progress bar (of plan in process tab)
![screenshot from 2018-05-18 03-03-07](https://user-images.githubusercontent.com/10824880/40204988-082b00c2-5a48-11e8-94d8-bdba8979e92f.png)

2. On list view (of plans completed tab)
![screenshot from 2018-05-18 03-03-44](https://user-images.githubusercontent.com/10824880/40205

[2018-05-18 02:02] serenamarie125 commented on #311
Here's the image attached to the gif

![peek 2018-05-17 17-08](https://user-images.githubusercontent.com/12504403/40211787-9ca4826a-5a1a-11e8-8b0f-16ef4211f36b.gif)

[2018-05-18 02:16] serenamarie125 commented on #311
@vconzola @priley86 it is a Failed Migration Plan that is being looked at.  I asked for some clarification.

No auto refresh is necessary because this is a failed migration plan, and the migration of the VM has already failed.

Looking at the details page, there is a utilization bar, which behaves like a progress bar.  I'm wondering if this is the issue, from the reporters perspective.  It does lo

[2018-05-18 02:33] serenamarie125 commented on #319
@bthurber is there a target sprint for this ?

[2018-05-18 12:34] #295 closed

[2018-05-18 12:44] priley86 commented on #321
API details for retrieving associated plans can now be found here:
https://gist.github.com/bzwei/4441d1afb3d0297365c1cebd0a87ce88

[2018-05-18 12:56] kedark3 commented on #312
@mturley I think @Yadnyawalkya  has mentioned "Need Changes" in above comment, is what you are trying to work on. Auto-refresh the details page timer, progress bar, and last message from migration, etc.

If you still need help ping me and we can get on Bluejeans where I can demo you current situation and let you know expected results.

[2018-05-18 13:36] priley86 commented on #312
hey guys - just wanted to add, this fix was merged into `master` branch yesterday to prep for the repo transfer to MIQ (planning to attempt this today). Unfortunately it looks like nightly is still pointed at `alpha` branch - so you won't see the updates on your end yes. We were planning to move the nightly build to point at `master` (in this [PR](https://github.com/ManageIQ/manageiq/pull/17432))

[2018-05-18 13:38] priley86 commented on #312
also...this issue is separate from #312...

[2018-05-18 13:39] kedark3 commented on #311
@Serena,
I agree that this is a failed migration. But if you navigate to same screen while **migration is in progress,** the utilization bar does not update dynamically.You need to hit refresh manually to see progress in the bar, as well as the clock for elapsed time increase. This all should update without needing to hit refresh on the page.
Hope that helps.

[2018-05-18 13:48] kedark3 commented on #318
@priley86  is this supposed to be in the nightly yet?

[2018-05-18 14:03] kedark3 commented on #312
@priley86 agreed. We should keep those two separate. sorry for confusion. We should close this issue as the Elapsed time is already fixed. Auto-refresh will be addressed in #311 we can continue discussion there.

[2018-05-18 14:15] priley86 commented on #312
ok thanks for the clarification!

[2018-05-18 14:15] #312 closed

[2018-05-18 14:30] priley86 commented on #127
V2V now looks like this (it looks like PF was updated single we are seeing the single arrow now 👍 )...

<img width="175" alt="screen shot 2018-05-18 at 10 28 52 am" src="https://user-images.githubusercontent.com/4237045/40240360-66060c94-5a86-11e8-9ead-d0c0ac1e3d7f.png">
<img width="219" alt="screen shot 2018-05-18 at 10 29 11 am" src="https://user-images.githubusercontent.com/4237045/40240365-67e

[2018-05-18 16:54] #283 closed

[2018-05-19 03:40] serenamarie125 commented on #311
ahhh ok @kedark3 !  Thank you for the info.

@mturley please try and reproduce this when looking at the details of a migration in progress.  Sit on that screen, and please verify that the utilization bar is not dynamically updating.  If you cannot reproduce on your local environment, please use the environment Brett gave us access to.  Please add a note to this Issue once you have tried to reprodu

[2018-05-20 16:13] mturley commented on #311
Thanks for the clarification @kedark3 and for the mention @serenamarie125. I tried to reproduce once and didn't see the issue, I'll take another look on Monday morning with this in mind.

[2018-05-21 15:27] #299 closed

[2018-05-21 18:43] mturley commented on #311
@kedark3 I agree that the time and progress bar should update in real-time, even though the polling is on every 15 seconds. I'm trying to reproduce the issue now, and I think we will add that real-time elapsing to the timer, but does the progress bar not update for you after waiting longer than 15 seconds? Checking on your environment right now myself as well.

[2018-05-21 18:46] kedark3 commented on #311
@mturley Yes Mike, the progress bar does not update. Even if I wait.

[2018-05-21 19:29] mturley opened #338 "Plans In Progress: Elapsed time should tick every second regardless of polling interval"
Currently, the elapsed time only changes every 15 seconds (or whenever the polling returns). It should tick once per second to stay in sync with the actual elapsed time.

[2018-05-21 19:33] JPrause commented on #258
This is a blocker for https://bugzilla.redhat.com/show_bug.cgi?id=1571963

[2018-05-21 19:37] JPrause commented on #311
This is a blocker for issue: https://bugzilla.redhat.com/show_bug.cgi?id=1573625

[2018-05-21 19:48] vconzola commented on #258
@bthurber @JPrause  I don't think this is a UI issue. From the comments above it looks like it needs to be fixed in RHV. Can we close the issue here?

[2018-05-21 19:57] mturley commented on #311
@kedark3 it appears to update for me if I wait long enough. What browser are you using? do you see any errors in your JS console?

http://recordit.co/Mr9HlkXe7a

[2018-05-21 19:59] kedark3 commented on #311
@mturley you should see Migration Details Page  which is https://10.8.196.145/migration/plan/6, it does not update

[2018-05-21 20:35] mturley commented on #311
Sorry for confusion, yes, that page appears to have a bug. I have a potential fix, I'm trying to figure out how best to test it. We may just ship it and see-- i think it's a harmless change, @priley86 can you look at this for me? https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/339

I think if that PR doesn't fix it, we have a remounting issue or some other more serious race condition.

[2018-05-21 20:57] mturley commented on #311
@AparnaKarve mentioned she is making some time for this issue later today. Aparna maybe you can pick up where i left off with https://github.com/ManageIQ/miq_v2v_ui_plugin/pull/339

[2018-05-21 21:17] bthurber commented on #258
@vconzola 10-4.  Will move to RHV team.  Not a blocker for 5.9.3

[2018-05-22 13:34] kedark3 commented on #311
@mturley If you want me to test it, including it in nightly build will be most reliable and easy way for testing it.

[2018-05-22 14:34] kedark3 commented on #207
![screenshot from 2018-05-22 10-33-13](https://user-images.githubusercontent.com/8180469/40369291-98d6706e-5dab-11e8-9c7f-efeb34d2fc20.png)
I can see duplicate VMs available for migration, both of them. Should throw error/warning.

[2018-05-22 17:11] serenamarie125 commented on #163
@mturley take this once you're set with 311

[2018-05-22 18:38] serenamarie125 commented on #297
@AparnaKarve mentioned that her PR for the supporting API was merged yesterday, so removing the needs-api label as well

[2018-05-22 18:43] serenamarie125 commented on #314
@blomquisg re: API which will archive a migration plan, do we need a sync meeting on this, or are you guys in progress?

[2018-05-22 18:45] serenamarie125 commented on #315
@blomquisg re: get all Migration Plans that are "archived"
Aparna mentioned that we definitely need support, just touching base to see if this is in the works, or if we need to meet to make sure we are in agreement on the requirements/dependencies.  lmk!

[2018-05-22 18:52] blomquisg commented on #315
@serenamarie125 it's not yet in progress on the back end.  Let's meet about this and #314 to make sure we have the right requirements on the back end.

[2018-05-22 20:14] Yadnyawalkya opened #341 "Migration requests are appearing in My Order of SSUI"
**Description**
v2v migration requests are appearing in 'My Order' of SSUI.

![screenshot from 2018-04-06 12-51-05 1](https://user-images.githubusercontent.com/10824880/40387513-96969ebc-5e2a-11e8-9493-2e1d575291bc.png)

**Version-Release**
upstream/master.20180517233405_6f8f0cd

**Steps to Reproduce**
1. Execute any migration request via Migration Plan
2. Navigate to SSUI, check 'My order' from m

[2018-05-22 21:22] vconzola commented on #319
@bthurber What you're describing sounds like many-many mapping, but the example you show above isn't that. Many-many would look like:

network1 -- network1
VM Network -- network1
VM Network -- ovirtmgmt
network2 -- ovirtmgmt
network2 -- network2

If we truly need to support many-many network mapping that's a huge change to the infra mapping wizard. All along we've been saying many-1 mappings for c

[2018-05-22 21:46] mturley commented on #311
@priley86 I think your closing of my PR auto-closed this because I mentioned it with the magic word "fix". Reopening until @kedark3 has a chance to test it. This will be in the nightly, @kedark3, let us know if it solves the problem for you!

[2018-05-22 22:09] bthurber commented on #310
@vconzola since the clusters and datastores have the same info could we combine them for a less complex view?  Maybe just call it Source/Target Clusters and Datastores.

[2018-05-22 22:14] bthurber commented on #319
@vconzola without this change migrations for customer's become less feasible.  @SUmmit we found that when talking to most customer's they have at least 2 networks per VM.  We need to offer a one to one mapping to satisfy their migration requirements.

[2018-05-23 12:42] vconzola commented on #319
@bthurber I think we need to talk about this. The requirement is still unclear. 1-1 mappings are supported currently.

[2018-05-23 12:48] vconzola commented on #310
@bthurber Not sure what's complex about this view, but we can get rid of the cluster-cluster mapping section since cluster mappings are contained within the datastore mappings. Is that what you're suggesting?

[2018-05-23 13:22] kedark3 opened #343 "Sort value changing after clicking header of discovered vms table"
https://bugzilla.redhat.com/show_bug.cgi?id=1573963

[2018-05-23 13:48] kedark3 commented on #311
@mturley I will update you on this when nightly becomes available. Nightly from yesterday is not available as it seems.

[2018-05-23 16:08] mturley commented on #311
Hmm ok. Thanks @kedark3. We are fairly confident this nightly will fix the issue, but you are our fastest way to test it right now! Thanks for your help.

[2018-05-23 17:19] mturley commented on #163
You got it.

[2018-05-23 17:21] priley86 commented on #311
will wait on @bthurber to confirm this is available for QA  - should be g2g for nightly
https://github.com/ManageIQ/manageiq/pull/17442

[2018-05-23 18:57] priley86 commented on #343
i believe i have a fix for this - planning to update PF React dependency and we'll see what that does...

[2018-05-23 18:58] priley86 commented on #208
it looks like we forgot to close this when merging #309 .

[2018-05-23 18:58] #208 closed

[2018-05-23 19:01] #276 closed

[2018-05-23 19:02] priley86 commented on #278
Duplicate of #321 which i am currently working - closing.

[2018-05-23 19:02] #278 closed

[2018-05-23 19:14] priley86 commented on #271
@AparnaKarve should this issue be renamed to "Show completed VMs for previous executions on the detail screen"? Would be nice to get this one in soon...

[2018-05-23 19:19] priley86 commented on #242
@serenamarie125 do we typically put captions/labels above radio buttons like that or do we use headings? It seems like "Run migration plan" on Step 3 is a label...but we have no heading on that step and it just seems inconsistent to me w/ Step 2. Or maybe - to preserve space on Step 2 we just use a label and it's then consistent?

just figured i would point this out and ask ;-)

[2018-05-23 19:28] AparnaKarve commented on #271
@priley86 The discussion here has transformed from -
`Migration Plan Retry not working`
to
`Show completed VMs for previous executions on the detail screen` :)

So maybe we can close this issue which was originally about "Retry"
and open a new issue with the title you suggested.

[2018-05-23 19:30] AparnaKarve commented on #271
@priley86 Also, we will need UX details for how to - `Show completed VMs for previous executions on the detail screen`

[2018-05-24 02:51] bthurber commented on #257
@priley86 @AparnaKarve this looks like a similar issue is having in his Ravello env.  I think our solution here is going to be the same as for source networks...filter duplicate names in the UI.

[2018-05-24 03:55] bthurber commented on #281
Verified I am having this issue in the latest nightly as well.  We should be filtering the target networks the same as we are doing for the source.

[2018-05-24 03:56] bthurber commented on #311
Deployed last evening's nightly and not seeing dynamic updates in the migration plan details. Appears to still be broken.

[2018-05-24 03:59] bthurber opened #345 "Infrastructure Mapping - Unable to select target cluster if available size is smaller than source"
When creating an infrastructure mapping, unable to select a target cluster/datastore if the available size is smaller.  We should warn however still allow selection, not block.

[2018-05-24 04:00] bthurber commented on #345
![screenshot from 2018-05-23 22-59-20](https://user-images.githubusercontent.com/4692674/40463837-119b558c-5edd-11e8-83ef-63120b1d3531.png)

[2018-05-24 04:06] bthurber commented on #257
![screenshot from 2018-05-23 23-06-35](https://user-images.githubusercontent.com/4692674/40463983-f87792ea-5edd-11e8-8151-fd128900e97a.png)

[2018-05-24 12:50] priley86 commented on #311
Ok thanks @bthurber. Will continue investigating if we can login to the MIQ instance there. Apologies...

[2018-05-24 14:06] priley86 commented on #310
I'm currently not getting back the datastore names/network names in the same API call, but I do get back the associated plan names.

http://0.0.0.0:8080/api/transformation_mappings?expand=resources&attributes=transformation_mapping_items,service_templates
[code]

@bzwei - do you recommend a subsequent API call to retrieve those LAN/Datastore names? Today we just query all of the clusters in a sepa

[2018-05-24 14:19] JPrause commented on #207
@miq-bot add_label blocker

[2018-05-24 14:20] JPrause commented on #311
@miq-bot add_label blocker

[2018-05-24 16:22] #321 closed

[2018-05-24 17:06] mturley commented on #311
That's disconcerting. @priley86 I could use help debugging this one if it's not solved by that fix. Can we confirm that the PR made it into the nightly they used?

[2018-05-24 17:13] AparnaKarve commented on #311
@mturley I will be trying the following change on Brett's machine shortly...

[code]

[2018-05-24 17:21] AparnaKarve commented on #311
@mturley @priley86 News flash!!
Just looked into the code on Brett's machine and it *still* shows the old code -
[code]

It looks like our changes in this area never made it to the nightly build.

However, I do think that the above code change https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/311#issuecomment-391791426 is necessary.

[2018-05-24 18:18] mturley commented on #311
Thanks @AparnaKarve . If you need to work on anything else let me know and I'll take over again. I want to make sure we get this fixed asap.

[2018-05-24 18:19] mturley commented on #311
Hmm.... I wonder why that is.... I thought I had updated everything. I'll take another look.

[2018-05-24 18:20] mturley commented on #311
@AparnaKarve I think the code change we did check in will fix the issue, but I agree yours seems more reliable. Are you making another PR?  I'll look into why my old gemfile is still in there.

[2018-05-24 18:21] mturley commented on #145
Sorry I haven't gotten to this yet @priley86 . Haven't forgotten about it.

[2018-05-24 18:26] priley86 commented on #145
I think @michaelkro is grabbing this! He started a contribution into pf-R...so we should be in good shape soon...
https://github.com/patternfly/patternfly-react/pull/363

[2018-05-24 18:53] mturley commented on #145
Awesome! Beat me to it. All good stuff.

[2018-05-24 19:04] serenamarie125 opened #347 "Add the migration plan status icon in the breadcrumbs in Migration Plan Details page"
Currently when you drill into a migration plan, you don't know if the plan is in progress/completed/migrated.

Add a icon before the migration plan name in the breadcrumb to indicate it's status

@vconzola can you include the actual font icon names for each of the migration plan states?

[2018-05-24 19:05] serenamarie125 commented on #347
This is a stretch goal for sprint 8 if posslble

[2018-05-24 19:06] mturley commented on #311
Ahh, that makes more sense. I thought you had seen that in my PR or I had otherwise missed s something.

Thanks again @AparnaKarve let me know if there is anything I can do to help.

[2018-05-24 19:19] vconzola opened #348 "In Infrastructure Mapping wizard selected count appears in the wrong place"
In the Infra Mapping wizard there is a count of "x of y items selected" that should be displayed beneath the list box. Right now it is being displayed inside the list box.

Current:
![](https://user-images.githubusercontent.com/4692674/40463837-119b558c-5edd-11e8-83ef-63120b1d3531.png)

Design:
![4aa-createmapping-clusters](https://user-images.githubusercontent.com/22823035/40507634-c1c04106-5f65-

[2018-05-24 19:36] serenamarie125 commented on #310
@blomquisg let's chat about this on the 5/25 meeting as well

[2018-05-24 19:44] AparnaKarve commented on #311
@mturley I have confirmed on the appliance that the page refreshes correctly with the latest master.

I don't think we need an additional PR to do this - https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/311#issuecomment-391791426

There is one thing missing though on the Plan detail page --  the notification popup when the migration completes, for which I can make a PR -- should be fairly simp

[2018-05-24 19:47] vconzola commented on #347
Icons are: pficon-ok for Completed succesfully, pficon-error-circle-o for Completed failed (shown below), and fa-archive for Archived.
![11a-plan details copy as list in drill down - complete](https://user-images.githubusercontent.com/22823035/40510130-b6b783d8-5f69-11e8-832c-0ae28c1081d8.png)

[2018-05-25 04:32] bthurber commented on #319
@vconzola The issue we have today is we cannot select a 1 to 1 mapping for multiple networks.  We can select multiple source networks but only a single target network.

We need the ability to individually map a source to a target network for multiple networks that the VM may have configured in a single infrastructure mapping.  We can do multiple to single....not multiple to multiple.

[2018-05-25 13:54] priley86 commented on #348
would like to verify this in the next QA/nightly build.

[2018-05-25 16:56] kedark3 commented on #311
@AparnaKarve is it already in nightly? if so I can try to validate it.

[2018-05-25 17:31] AparnaKarve commented on #311
@kedark3 I don't know if the nightly build issue is fixed or not.

On your appliance, can you check the "About" box and see what MIQ version and date it shows?

[2018-05-25 18:20] kedark3 commented on #311
Its still old. :(

[2018-05-25 20:23] bthurber opened #353 "Migration in progress only shows the size of the first disk"
When selecting VMs for migration in a migration plan, Allocated size shows the total size of all disks attached to the source VM.  When running the migration plan, the overview and the migration plan details only lists the size of the first disk for the VM.  It should display the total VM disk size for all disks associated.
![screenshot from 2018-05-23 22-47-50](https://user-images.githubuserconte

[2018-05-25 20:40] #244 closed

[2018-05-25 20:43] priley86 commented on #310
i believe I have enough API details to get going here... @vconzola @serenamarie125 let's solidify UX on Tuesday if we can.

[2018-05-29 14:01] serenamarie125 commented on #314
@vconzola any update on design?

[2018-05-29 14:02] serenamarie125 commented on #315
@vconzola can you add mocks?

[2018-05-29 14:51] JPrause commented on #341
@miq-bot add_label blocker

[2018-05-29 14:52] JPrause commented on #341
@Yadnyawalkya who can review this issue so ot can be merged. This is a PR for a blocker issue.

[2018-05-29 14:58] AllenBW commented on #207
(no idea why it ignored yah @JPrause 😭)

@Fryguy any reason why miq- 🤖 might be ignoring *commands* here?  (was thinkin... newly minted repo... maybe? )

[2018-05-29 15:03] JPrause commented on #311
@AllenBW can you add the blocker label for me,...there's a nickel in it for you.

[2018-05-29 15:05] JPrause commented on #343
@AllenBW can you add the blocker label for me.

[2018-05-29 15:07] AllenBW commented on #343
@JPrause...

Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you

unlike... say... @miq-bot 😏 🔪

[2018-05-29 15:14] vconzola commented on #315
@serenamarie125 Here's a [link](https://docs.google.com/presentation/d/1cvVq0dKL_rXarz-HnD9mQAdcfMJ438ivjPhYMPpOFM0/edit?usp=sharing) to the mockups.

[2018-05-29 15:25] himdel commented on #341
The API request SUI is using: `/api/service_orders?expand=resources%2Cservice_requests&limit=20&offset=0&attributes=&filter[]=state%3Dordered&sort_by=placed_at&sort_options=&sort_order=desc`

The class used for transformation requests: `ServiceTemplateTransformationPlanRequest` < `ServiceTemplateProvisionRequest`.

So.. this issue is either:

* (manageiq) `ServiceTemplateTransformationPlanRequest`

[2018-05-29 15:25] vconzola commented on #314
@serenamarie125 Nope.

[2018-05-29 15:43] vconzola commented on #314
@serenamarie125 Here's a link to the mockups.

[2018-05-29 15:47] bthurber commented on #258
Downstream BZ is closed for this.  Will address in the future if needed.

[2018-05-29 15:47] #258 closed

[2018-05-29 19:03] priley86 commented on #343
yes - pf-react dependency update went in. also waiting on nightly feedback on this one.

@kedark3 if you are still seeing this issue, can you please report back which browsers (user agent string would be great).

@AllenBW @JPrause not sure I understand what this is blocking, but hopefully it is fixed soon.

[2018-05-29 19:45] Yadnyawalkya commented on #341
@AllenBW  checked on latest master, issue is still present there. check more info on internal bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1565049#c11

[2018-05-29 19:55] AllenBW commented on #341
Yep digging into this! Erring on the side of an api thing... though... will report back tomorrow morn...

[2018-05-29 20:13] AllenBW commented on #341
Ok digging into this, the attributes sui has to filter on the `service_orders` level include
[code]

sadly none of em gives us enough information...
within the `service_requests` subcollection there is an attribute `request_type` which can have a value `transformation_plan` but if my memory serves me.. we can't filter off subcollection attributes?

@abellotti wondering if you can weigh in here? ☝️

[2018-05-30 03:07] mturley commented on #347
Unassigning myself here until I start this (probably early tomorrow), per conversation with @serenamarie125

[2018-05-30 03:44] bthurber commented on #311
Verified this is fixed in latest nightly.

[2018-05-30 03:48] serenamarie125 commented on #311
Fixed by #339 🎉🍻

[2018-05-30 03:48] #311 closed

[2018-05-30 03:49] serenamarie125 commented on #348
@bthurber could you test this by chance?

[2018-05-30 04:02] bthurber commented on #348
This appears to be working as intended in latest nightly.

[2018-05-30 04:09] bthurber commented on #343
Appears to be fixed in latest nightly.